/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* Fonts install*/
@font-face {
  font-family: "NotoSansJP-Black";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Black.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Bold";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Bold.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Light";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Light.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Medium";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Medium.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Regular";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Regular.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Thin";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Thin.otf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Black";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Black.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-BlackItalic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-BoldItalic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "SawarabiMincho-Regular";
  src: url("../fonts/Sawarabi_Mincho/SawarabiMincho-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "HomemadeApple-Regular";
  src: url("../fonts/Homemade_Apple/HomemadeApple-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "hirakakupro-w3-opentype";
  src: url("../fonts/hirakakupro-w3-opentype.otf") format('truetype');
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/roboto/Roboto-Black.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/roboto/Roboto-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/roboto/Roboto-Medium.ttf") format('truetype');
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
body {
  position: relative;
  margin: 0;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:after,
.clearfix:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/*
*Common Placeholder
*/
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c3c3c3;
  opacity: 1;
  /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c3c3c3;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c3c3c3;
}
input::-webkit-input-placeholder {
  line-height: normal !important;
}
input[type=text],
input[type=email],
input[type=password],
textarea {
  -webkit-appearance: none;
}
.left-menu-width {
  width: 200px;
}
.left-meuu {
  display: flex;
}
.left-meuu .left-section {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  background: rgba(195, 195, 195, 0.1);
}
.left-meuu .left-section .header-logo {
  margin: 0 auto;
  width: 50%;
  padding: 30% 0px 0px 0;
}
.left-meuu .left-section .header-logo .logo {
  width: 100%;
}
.left-meuu .left-section .menu-section {
  margin: 0 auto;
  padding: 26% 0 0 0;
}
.left-meuu .left-section .menu-section ul {
  padding-left: 0;
}
.left-meuu .left-section .menu-section ul li {
  list-style-type: none;
  line-height: 20px;
  font-size: 14px;
  padding-bottom: 10%;
  letter-spacing: 0.7px;
  font-family: "NotoSansJP-Regular";
  text-align: left;
  padding-left: 20%;
  padding-right: 10%;
}
.left-meuu .left-section .menu-section ul li a {
  text-decoration: none;
  color: #221f20;
  -webkit-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
}
.left-meuu .left-section .menu-section ul li a:hover {
  font-family: "NotoSansJP-Bold";
}
.left-meuu .left-section .menu-section ul li a.active {
  background: url(../images/menu_underline@2x.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 50%;
}
.left-meuu .left-section .menu-section ul li:nth-child(1) a:hover {
  letter-spacing: 0.3px;
}
.left-meuu .left-section .menu-section ul li:nth-child(4) a:hover {
  letter-spacing: 0.3px;
}
.left-meuu .left-section .menu-section .middle {
  list-style: none;
}
.left-meuu .left-section .menu-section .middle li {
  list-style: none;
  padding-bottom: 2.5%;
}
.left-meuu .left-section .menu-section .middle li .social-fb {
  width: 6%;
}
.left-meuu .left-section .menu-section .middle li .social-twitter {
  width: 12%;
  margin: 0px 0px 0px 20%;
}
.left-meuu .left-section .menu-section .middle li:last-child {
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: 0.7px;
  text-align: left;
  color: #221f20;
}
.left-meuu .left-section .menu-section .middle li:last-child:hover a {
  font-family: Roboto-Regular;
}
.left-meuu .left-section .experience-section {
  width: 114.5%;
  background-color: #ffffff;
  border-top-right-radius: 4em;
  border-bottom-right-radius: 4em;
  margin-top: 17%;
  z-index: 1;
  position: relative;
  min-width: 214px;
  box-shadow: 0 3px 7px 0 rgba(119, 119, 119, 0.2);
}
.left-meuu .left-section .experience-section a {
  text-decoration: none;
  color: #221f20;
}
.left-meuu .left-section .experience-section .text-section {
  padding: 6.4% 0px 16.5% 15%;
}
.left-meuu .left-section .experience-section .text-section .top-title {
  font-size: 14px;
  font-family: "NotoSansJP-Regular";
  letter-spacing: 0.7px;
  line-height: 20px;
  color: #221f20;
}
.left-meuu .left-section .experience-section .text-section .middle-title {
  font-size: 20px;
  font-family: "NotoSansJP-Bold";
  line-height: 29px;
  letter-spacing: 1px;
}
.left-meuu .left-section .experience-section .text-section .bottom-title {
  font-size: 14px;
  font-family: "NotoSansJP-Regular";
  letter-spacing: 0.7px;
  line-height: 20px;
  color: #221f20;
  padding-top: 7%;
}
.left-meuu .left-section .experience-section .text-section .bottom-title .text {
  float: left;
}
.left-meuu .left-section .experience-section .text-section .bottom-title .detail-image {
  float: left;
  width: 26px;
}
.left-meuu .left-section .experience-section .text-section .bottom-title .detail-image img {
  width: 100%;
  margin: -9% 0px 0px 19%;
}
.left-meuu .left-section .experience-section:hover {
  opacity: .85;
}
.left-meuu .left-section .bottom {
  margin: 0 auto;
  padding: 49% 0 0 0;
}
.left-meuu .left-section .bottom ul {
  padding-left: 0;
}
.left-meuu .left-section .bottom ul li {
  list-style-type: none;
  line-height: 20px;
  font-size: 12px;
  padding-bottom: 5%;
  letter-spacing: 0.7px;
  font-family: "Roboto-Regular";
  text-align: left;
  padding-left: 20%;
}
.left-meuu .left-section .bottom ul li a {
  text-decoration: none;
  -webkit-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.6px;
  text-align: left;
  color: #777777;
}
.left-meuu .left-section .bottom ul li:hover a {
  font-family: Roboto-Black;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.3px;
}
/*VALIDATION MESSAGE*/
.valMsg {
  color: #ef6f87;
  font-family: "NotoSansJP-Regular";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  padding-bottom: 5px;
}
/*Custome checkbox*/
/* Customize the label (the container) */
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check-container span.lbl {
  position: relative;
  top: -10px;
  left: 5px;
}
/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 1px solid #c3c3c3;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: transparent;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 2px;
  height: 6px;
  border: solid #b4d6d3;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*Back Top*/
.back-to-up {
  position: fixed;
  right: 59px;
  bottom: 17px;
  width: 16px;
  cursor: pointer;
}
.back-to-up img {
  width: 100%;
}
/*Video autoplay*/
.video-rap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(270deg, rgba(79, 96, 112, 0.2) 0%, rgba(107, 105, 106, 0.4) 100%);
}
#bg-video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -100;
  background-size: cover;
}
/*Menu SP hide from PC*/
.sp-main-nav {
  display: none;
}
.sp-top-menu {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .sp-nav-open {
    cursor: pointer;
  }
  .sp-nav-close {
    cursor: pointer;
  }
  .no-scroll {
    overflow: hidden;
  }
  /*Sp Nav Menu*/
  .sp-top-menu {
    width: 100%;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .sp-top-menu .sp-menu-rap {
    padding: 19px 20px;
  }
  .sp-top-menu .sp-menu-rap .logo {
    float: left;
    width: 61.5%;
  }
  .sp-top-menu .sp-menu-rap .logo img {
    width: 100%;
    max-width: 206px;
  }
  .sp-top-menu .sp-menu-rap .sp-nav {
    float: right;
    max-width: 36px;
    width: 100%;
    padding-top: 10px;
  }
  .sp-top-menu .sp-menu-rap .sp-nav .navline {
    width: 100%;
    height: 1px;
    background-color: #221f20;
    margin-bottom: 6px;
  }
  .sp-main-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 999;
    overflow-y: scroll;
    display: none;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap {
    padding: 19px 20px;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .logo {
    float: left;
    width: 61.5%;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .logo img {
    width: 100%;
    max-width: 206px;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .sp-nav-close {
    float: right;
    max-width: 36px;
    width: 100%;
    padding-top: 10px;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .sp-nav-close .navline {
    width: 100%;
    height: 1px;
    background-color: #221f20;
    margin-bottom: 6px;
  }
  .sp-main-nav .menu-section {
    width: 100%;
    padding: 12px 0 0 0;
  }
  .sp-main-nav .menu-section ul {
    padding: 0;
    margin: 0;
  }
  .sp-main-nav .menu-section ul li a {
    text-decoration: none;
    -webkit-transition: font-weight 0.3s;
    transition: font-weight 0.3s;
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: center;
    color: #221f20;
    display: block;
    padding: 19px 0;
  }
  .sp-main-nav .menu-section ul li a.active {
    background: url(../images/menu_underline@2x.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 50%;
  }
  .sp-main-nav .menu-section .middle {
    padding-top: 38px;
    list-style: none;
  }
  .sp-main-nav .menu-section .middle li {
    padding-bottom: 0;
    text-align: center;
    list-style: none;
  }
  .sp-main-nav .menu-section .middle li .social-fb {
    display: inline;
  }
  .sp-main-nav .menu-section .middle li .social-fb img {
    width: 2%;
  }
  .sp-main-nav .menu-section .middle li .social-twitter {
    display: inline;
  }
  .sp-main-nav .menu-section .middle li .social-twitter img {
    width: 4.3%;
    margin: 0px 0px 0px 7.5%;
  }
  .sp-main-nav .menu-section .middle li a {
    font-family: "Roboto-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 0.7px;
    text-align: center;
    color: #221f20;
    padding: 16px 0;
  }
  .sp-main-nav .experience-section {
    width: 94.6%;
    background-color: #ffffff;
    border-top-right-radius: 16vw;
    border-bottom-right-radius: 16vw;
    margin-top: 30px;
    margin-bottom: 23px;
    z-index: 1;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    box-shadow: 0 3px 7px 0 rgba(119, 119, 119, 0.2);
  }
  .sp-main-nav .experience-section a {
    text-decoration: none;
    color: #221f20;
  }
  .sp-main-nav .experience-section .text-section {
    padding: 20px 0px 40px 32%;
  }
  .sp-main-nav .experience-section .text-section .top-title {
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: left;
    color: #221f20;
    padding-left: 37px;
  }
  .sp-main-nav .experience-section .text-section .middle-title {
    font-family: "NotoSansJP-Bold";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: 1px;
    text-align: left;
    color: #1d2d44;
  }
  .sp-main-nav .experience-section .text-section .bottom-title {
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: left;
    color: #221f20;
    padding-top: 5.2%;
  }
  .sp-main-nav .experience-section .text-section .bottom-title .text {
    float: left;
  }
  .sp-main-nav .experience-section .text-section .bottom-title .detail-image {
    float: left;
    width: 24px;
  }
  .sp-main-nav .experience-section .text-section .bottom-title .detail-image img {
    width: 100%;
    position: relative;
    left: 7px;
    top: -2px;
  }
  .sp-main-nav .menu-section-bottom {
    text-align: center;
    margin: 32px 0;
  }
  .sp-main-nav .menu-section-bottom a {
    font-family: "NotoSansJP-Regular";
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.6px;
    text-align: left;
    color: #777777;
    padding: 3%;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .sp-main-nav .experience-section .text-section {
    padding: 20px 0px 40px 42%;
  }
}
@font-face {
  font-family: "YuMin";
  src: url("../fonts/YuMincho.ttc") format('truetype');
}
.hidden {
  display: none !important;
}
.pc {
  display: block;
}
.sp {
  display: none;
}
.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  /*-----------MESSAGE For YOU------------*/
}
.container .about-top {
  display: flex;
  -webkit-display: flex;
}
.container .about-top .right-section {
  position: relative;
  width: -webkit-calc(100% - 200px);
  width: calc(100% - 200px);
  margin-left: 200px;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}
.container .about-top .right-section .right-baner-animi {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.container .about-top .right-section .right-baner-animi img {
  width: 100%;
}
.container .about-top .right-section.start {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .5s linear, visibility .5s linear;
  transition: opacity .5s linear, visibility .5s linear;
}
.container .about-top .right-section.start .right-baner-animi {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.container .about-us {
  position: relative;
  display: flex;
}
.container .about-us .message-for-you {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
}
.container .about-us .message-for-you h1 {
  font-family: 'PlayfairDisplay-Regular';
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 5px;
  color: #f4f4f4;
  margin: 0;
}
.container .about-us .inner-content {
  width: -webkit-calc(100% - 250px);
  width: calc(100% - 250px);
  margin-left: 250px;
  margin-top: 34px;
}
.container .about-us .inner-content .part-01 {
  position: relative;
}
.container .about-us .inner-content .part-01 .title {
  font-family: 'SawarabiMincho-Regular';
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 3.2px;
  text-align: left;
  color: #221f20;
  margin-bottom: 35px;
}
.container .about-us .inner-content .part-01 .sub-title {
  font-family: 'SawarabiMincho-Regular';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: 1.2px;
  text-align: left;
  color: #221f20;
}
.container .about-us .inner-content .part-01 .pra-txt {
  font-family: 'NotoSansJP-Regular';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: left;
  color: #777777;
  width: 62%;
}
.container .about-us .inner-content .part-01 .abouto1 {
  position: absolute;
  top: 56px;
  right: 0;
  max-width: 510px;
  width: 100%;
  z-index: -1;
}
.container .about-us .inner-content .part-02 {
  margin-top: 202px;
}
.container .about-us .inner-content .part-02 .sub-title {
  font-family: 'SawarabiMincho-Regular';
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 1.6px;
  text-align: left;
  color: #221f20;
  margin-bottom: 59px;
}
.container .about-us .inner-content .part-02 .pra-txt {
  font-family: 'NotoSansJP-Regular';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: left;
  color: #777777;
  width: 62%;
}
.container .about-us .inner-content .part-02 .features-image {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 78px;
}
.container .about-us .inner-content .part-02 .features-image .item {
  width: 27.5%;
  margin-right: 26px;
}
.container .about-us .inner-content .part-02 .features-image .item img {
  max-width: 100%;
}
.container .about-us .inner-content .part-02 .features-image .item p {
  font-family: 'hirakakupro-w3-opentype';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.6px;
  text-align: left;
  color: #777777;
  margin-top: 5px;
}
.container .about-us .inner-content .part-03 {
  margin-top: 104px;
}
.container .about-us .inner-content .part-03 .title {
  font-family: 'SawarabiMincho-Regular';
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 1.6px;
  text-align: left;
  color: #221f20;
  margin-bottom: 34px;
}
.container .about-us .inner-content .part-03 .pra-txt {
  font-family: 'NotoSansJP-Regular';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: left;
  color: #777777;
  width: 62%;
}
.container .about-us .inner-content .part-03 .table1 {
  max-width: 997px;
  width: 100%;
  margin-top: 37px;
}
.container .about-us .inner-content .part-03 .download-btn {
  text-align: center;
  width: 100%;
  padding: 64px 0 0;
}
.container .about-us .inner-content .part-03 .download-btn a {
  font-family: "NotoSansJP-Medium";
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: 0.8px;
  text-align: center;
  color: #1d2d44;
  border: solid 2px #1d2d44;
  text-decoration: none;
  padding: 1.5% 2.5% 1.6% 2.5%;
  display: block;
  max-width: 341px;
  margin-left: 26.1%;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.container .about-us .inner-content .part-03 .download-btn a img {
  width: 24px;
  position: absolute;
  right: 5.9%;
  top: 50%;
  transform: translateY(-50%);
}
.container .about-us .inner-content .part-03 .download-btn a .active {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  z-index: 1;
}
.container .about-us .inner-content .part-03 .download-btn a:hover {
  color: #fff;
  background: #1d2d44;
}
.container .about-us .inner-content .part-03 .download-btn a:hover .active {
  opacity: 1;
}
.container .about-us .inner-content .part-04 {
  margin-top: 75px;
}
.container .about-us .inner-content .part-04 .title {
  font-family: "SawarabiMincho-Regular";
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: 1.6px;
  text-align: left;
  color: #221f20;
  margin-bottom: 25px;
}
.container .about-us .inner-content .part-04 .for-stuednt {
  max-width: 997.5px;
  width: 100%;
  margin-bottom: 9px;
}
.container .about-us .inner-content .part-04 .for-business {
  max-width: 997.5px;
  width: 100%;
}
.container .about-us .inner-content .part-05 .merc-img {
  max-width: 996px;
  width: 100%;
  margin-top: 33px;
}
.container .about-us .inner-content .part-06 {
  margin-top: 146px;
}
.container .about-us .inner-content .part-06 .title {
  font-family: "SawarabiMincho-Regular";
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: 1.6px;
  text-align: left;
  color: #221f20;
  margin-bottom: 26px;
}
.container .about-us .inner-content .part-06 .feature-display .display-item {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: flex-start;
}
.container .about-us .inner-content .part-06 .feature-display .display-item .feature-img {
  width: 39.3%;
  margin-right: 5%;
  float: left;
}
.container .about-us .inner-content .part-06 .feature-display .display-item .feature-img img {
  max-width: 100%;
  width: 100%;
}
.container .about-us .inner-content .part-06 .feature-display .display-item .feature-caption {
  width: 55%;
  margin-top: 9px;
  padding-left: 4px;
  float: left;
}
.container .about-us .inner-content .part-06 .feature-display .display-item .feature-caption h4 {
  font-family: 'NotoSansJP-Bold';
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: left;
  color: #221f20;
  margin: 0;
  margin-bottom: 3px;
}
.container .about-us .inner-content .part-06 .feature-display .display-item .feature-caption p {
  margin-top: 39px;
  padding-right: 23%;
  font-family: 'NotoSansJP-Regular';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.7px;
  text-align: left;
  color: #777777;
}
.container .about-us .inner-content .part-06 .slider-nav {
  width: 40.3%;
  margin: 31px 0;
}
.container .about-us .inner-content .part-06 .slider-nav div img {
  max-width: 100%;
}
.container .about-us .inner-content .part-06 .slider-nav .slick-slider {
  margin-right: -16px;
}
.container .about-us .inner-content .part-06 .slider-nav .slick-slide {
  text-align: center;
  margin-right: 16px;
}
.container .about-us .inner-content .part-06 .slider-nav .slick-slide .caro-in {
  position: relative;
}
.container .about-us .inner-content .part-06 .slider-nav .slick-slide .caro-in::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(34, 31, 32, 0.3);
}
.container .about-us .inner-content .part-06 .slider-nav .slick-current .caro-in::after {
  content: none;
}
.container .about-us .inner-content .part-06 .slider-nav .prevArrow {
  position: absolute;
  z-index: 1;
  width: 32px;
  top: 36.5%;
  left: -12px;
  cursor: pointer;
  z-index: 2;
}
.container .about-us .inner-content .part-06 .slider-nav .nextArrow {
  position: absolute;
  right: 7px;
  top: 36.5%;
  width: 32px;
  cursor: pointer;
}
.container .about-us .inner-content .part-07 {
  margin-top: 174px;
  position: relative;
}
.container .about-us .inner-content .part-07 .title {
  font-family: "SawarabiMincho-Regular";
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: 1.6px;
  color: #221f20;
}
.container .about-us .inner-content .part-07 .pra-txt {
  width: 49%;
  font-family: 'NotoSansJP-Regular';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: left;
  color: #777777;
}
.container .about-us .inner-content .part-07 .btn-details {
  padding-top: 50px;
  text-align: center;
}
.container .about-us .inner-content .part-07 .btn-details a {
  font-family: "Roboto-Regular";
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: 0.8px;
  text-align: center;
  color: #1d2d44;
  border: solid 2px #1d2d44;
  text-decoration: none;
  padding: 1.5% 2.5% 1.6% 2.5%;
  display: block;
  max-width: 341px;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.container .about-us .inner-content .part-07 .btn-details a img {
  width: 10px;
  position: absolute;
  right: 9.5%;
}
.container .about-us .inner-content .part-07 .btn-details a:hover {
  color: #fff;
  background: #1d2d44;
}
.container .about-us .inner-content .part-07 .left-large-img {
  max-width: 650px;
  width: 100%;
  position: absolute;
  top: 41px;
  right: 0;
  z-index: -1;
}
.container .about-us .inner-content .part-08 {
  margin-top: 203px;
}
.container .about-us .inner-content .part-08 .title {
  font-family: "SawarabiMincho-Regular";
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.69;
  letter-spacing: 1.6px;
  text-align: left;
  color: #221f20;
}
.container .about-us .inner-content .part-08 .accordion-list {
  margin-top: 27px;
}
.container .about-us .inner-content .part-08 .accordion-list .arrow-open {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/about/up_arrow@2x.png);
  left: 28px;
  top: 55%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translateY(-50%);
  cursor: pointer;
}
.container .about-us .inner-content .part-08 .accordion-list .arrow-close {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../images/about/down_arrow@2x.png);
  left: 28px;
  top: 55%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  transform: translateY(-50%);
  cursor: pointer;
}
.container .about-us .inner-content .part-08 .accordion-list li {
  list-style: none;
  border: solid 4px #f4f4f4;
  margin-bottom: 12px;
  outline: none;
  width: 84%;
  cursor: pointer;
}
.container .about-us .inner-content .part-08 .accordion-list li [aria-expanded="false"] {
  background-color: #fafafa;
}
.container .about-us .inner-content .part-08 .accordion-list li [aria-expanded="true"] {
  background-color: #fff;
}
.container .about-us .inner-content .part-08 .accordion-list li div:nth-child(1) {
  position: relative;
  outline: none;
  padding: 15px 0px;
  padding-left: 11.5%;
}
.container .about-us .inner-content .part-08 .accordion-list li div:nth-child(1) .title {
  font-family: 'NotoSansJP-Regular';
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: left;
  color: #777;
  margin: 0;
}
.container .about-us .inner-content .part-08 .accordion-list li div:nth-child(2) {
  position: relative;
  outline: none;
  padding: 0px 0px;
  padding-left: 11.5%;
}
.container .about-us .inner-content .part-08 .accordion-list li div:nth-child(2) .description {
  font-family: 'NotoSansJP-Regular';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.7px;
  text-align: left;
  color: #777;
  width: 93%;
  border-top: solid 2px #f4f4f4;
  padding-top: 18px;
  margin: 0;
  padding-bottom: 16px;
}
.container .about-us .inner-content .part-09 .bottom-description {
  border: solid 4px #f4f4f4;
  background-color: #ffffff;
  width: 77.5%;
  margin-top: 13%;
}
.container .about-us .inner-content .part-09 .bottom-description .bottom-content {
  margin: 0 auto;
  width: 76%;
}
.container .about-us .inner-content .part-09 .bottom-description .bottom-content .title {
  font-family: "SawarabiMincho-Regular";
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 1px;
  text-align: center;
  color: #221f20;
  padding-top: 7.5%;
  margin-bottom: 27px;
}
.container .about-us .inner-content .part-09 .bottom-description .bottom-content .description {
  font-family: "NotoSansJP-Regular";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: center;
  color: #777777;
  padding-top: 0;
  margin-top: 0;
}
.container .about-us .inner-content .part-09 .bottom-description .bottom-content .btn-details {
  padding: 8.1% 0 8% 0;
  text-align: center;
}
.container .about-us .inner-content .part-09 .bottom-description .bottom-content .btn-details a {
  font-family: "Roboto-Regular";
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: 0.8px;
  text-align: center;
  color: #1d2d44;
  border: solid 2px #1d2d44;
  text-decoration: none;
  padding: 3% 4% 2.3% 4%;
  display: block;
  max-width: 341px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.container .about-us .inner-content .part-09 .bottom-description .bottom-content .btn-details a img {
  width: 10px;
  position: absolute;
  right: 9.5%;
}
.container .about-us .inner-content .part-09 .bottom-description .bottom-content .btn-details a:hover {
  color: #fff;
  background: #1d2d44;
}
.container .about-us .inner-content .copyright {
  margin-top: 14.2%;
  margin-bottom: 37px;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.6px;
  color: #777777;
}
/* Animation */
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}
.animatedFadeInUp {
  opacity: 0;
}
.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
/* ==========================================================================
  style for smartphone max-width:1024px
============================================================================= */
@media only screen and (max-width: 1024px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  #left-menu {
    display: none;
  }
  #about-top {
    display: none;
  }
  .container {
    position: static;
  }
  .container .about-top-sp {
    background-image: url('../images/about/sp/banner@2x.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /*Sp Nav Menu*/
  }
  .container .about-top-sp .sp-top-menu {
    width: 100%;
    display: block;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .container .about-top-sp .sp-top-menu .sp-menu-rap {
    padding: 19px 20px 14px;
  }
  .container .about-top-sp .sp-top-menu .sp-menu-rap .logo {
    float: left;
    width: 61.5%;
  }
  .container .about-top-sp .sp-top-menu .sp-menu-rap .logo img {
    width: 100%;
    max-width: 206px;
  }
  .container .about-top-sp .sp-top-menu .sp-menu-rap .sp-nav {
    float: right;
    max-width: 36px;
    width: 100%;
    padding-top: 10px;
  }
  .container .about-top-sp .sp-top-menu .sp-menu-rap .sp-nav .navline {
    width: 100%;
    height: 1.2px;
    background-color: #221f20;
    margin-bottom: 6px;
  }
  .container .about-us {
    display: block;
  }
  .container .about-us .message-for-you {
    position: absolute;
    top: -45px;
    left: 0;
    z-index: -1;
    display: block;
  }
  .container .about-us .message-for-you h1 {
    font-size: 64px;
    line-height: 1;
    letter-spacing: 3.2px;
  }
  .container .about-us .inner-content {
    width: 90%;
    margin-left: 0;
    margin-top: 0;
    margin: 56px auto 0;
  }
  .container .about-us .inner-content .part-01 .title {
    font-size: 28px;
    line-height: 1.5;
    letter-spacing: 2px;
    margin-bottom: 19px;
  }
  .container .about-us .inner-content .part-01 .sub-title {
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: 0.9px;
    margin-bottom: 24px;
  }
  .container .about-us .inner-content .part-01 .pra-txt {
    width: 99%;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.7px;
    margin: 0 auto;
  }
  .container .about-us .inner-content .part-01 .aboutBottom {
    width: 105.5%;
    margin-top: 28px;
    text-align: right;
  }
  .container .about-us .inner-content .part-01 .aboutBottom img {
    max-width: 100%;
  }
  .container .about-us .inner-content .part-02 {
    margin-top: 72px;
  }
  .container .about-us .inner-content .part-02 .sub-title {
    font-size: 28px;
    line-height: 1.57;
    letter-spacing: 1.4px;
    margin-bottom: 21px;
  }
  .container .about-us .inner-content .part-02 .sub-title br {
    display: none;
  }
  .container .about-us .inner-content .part-02 .pra-txt {
    width: 99%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.7px;
  }
  .container .about-us .inner-content .part-02 .features-image {
    margin-top: 27px;
    display: block;
  }
  .container .about-us .inner-content .part-02 .features-image .item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .container .about-us .inner-content .part-02 .features-image .item img {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
  .container .about-us .inner-content .part-02 .features-image .item p {
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.6px;
    margin-top: 10px;
  }
  .container .about-us .inner-content .part-03 {
    margin-top: 76px;
  }
  .container .about-us .inner-content .part-03 .title {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.45;
    letter-spacing: 1px;
  }
  .container .about-us .inner-content .part-03 .pra-txt {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.7px;
    width: 99.5%;
    margin: 0 auto;
  }
  .container .about-us .inner-content .part-03 .table1 {
    max-width: 100%;
    width: 99.5%;
    margin-top: 19px;
  }
  .container .about-us .inner-content .part-04 {
    margin-top: 81px;
  }
  .container .about-us .inner-content .part-04 .title {
    font-size: 20px;
    line-height: 1.45;
    letter-spacing: 1px;
    margin-bottom: 22px;
  }
  .container .about-us .inner-content .part-04 .for-stuednt {
    max-width: 100%;
    width: 100%;
    margin: 0 auto 32px;
  }
  .container .about-us .inner-content .part-04 .for-business {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
  .container .about-us .inner-content .part-05 {
    margin-top: 60px;
  }
  .container .about-us .inner-content .part-05 .merc-img {
    max-width: 100%;
    width: 99.5%;
    margin: 0 auto;
  }
  .container .about-us .inner-content .part-06 {
    margin-top: 80px;
  }
  .container .about-us .inner-content .part-06 .title {
    font-size: 20px;
    line-height: 1.45;
    letter-spacing: 1px;
  }
  .container .about-us .inner-content .part-06 .sp-Carousel {
    margin-top: 29px;
  }
  .container .about-us .inner-content .part-06 .sp-Carousel .prevArrow {
    position: absolute;
    width: 10%;
    top: 110px;
    left: 1px;
    transform: translateY(-14%);
    cursor: pointer;
    z-index: 2;
  }
  .container .about-us .inner-content .part-06 .sp-Carousel .nextArrow {
    position: absolute;
    right: 1px;
    width: 10%;
    top: 110px;
    transform: translateY(-14%);
    cursor: pointer;
  }
  .container .about-us .inner-content .part-06 .sp-Carousel .slick-dots {
    bottom: -16px;
  }
  .container .about-us .inner-content .part-06 .sp-Carousel .slick-dots li {
    width: 6px;
    height: 6px;
    margin: 0px 5px;
  }
  .container .about-us .inner-content .part-06 .sp-Carousel .slick-dots li.slick-active button:before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #b4d6d3;
    border-radius: 50%;
    opacity: 1;
    top: -2px;
  }
  .container .about-us .inner-content .part-06 .sp-Carousel .slick-dots li button:before {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #f4f4f4;
    border-radius: 50%;
    opacity: 1;
  }
  .container .about-us .inner-content .part-06 .sp-Carousel div .image-view {
    width: 74%;
    margin: 0 auto;
  }
  .container .about-us .inner-content .part-06 .sp-Carousel div .image-view img {
    width: 100%;
    margin: 0 auto;
  }
  .container .about-us .inner-content .part-06 .sp-Carousel div .carousel-caption {
    margin-top: 20px;
  }
  .container .about-us .inner-content .part-06 .sp-Carousel div .carousel-caption h4 {
    font-family: 'NotoSansJP-Bold';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.8px;
    color: #221f20;
    margin: 0;
  }
  .container .about-us .inner-content .part-06 .sp-Carousel div .carousel-caption .caro-txt {
    font-family: 'NotoSansJP-Regular';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.7px;
    color: #777;
    margin-top: 20px;
    width: 99.5%;
  }
  .container .about-us .inner-content .part-07 {
    margin-top: 90px;
  }
  .container .about-us .inner-content .part-07 .title {
    font-size: 20px;
    line-height: 1.45;
    letter-spacing: 1px;
    margin-bottom: 17px;
  }
  .container .about-us .inner-content .part-07 .pra-txt {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.7px;
    width: 99.5%;
    margin: 0 auto;
  }
  .container .about-us .inner-content .part-07 .btn-details {
    padding-top: 30px;
  }
  .container .about-us .inner-content .part-07 .btn-details a {
    padding: 2% 2% 2% 2%;
    margin: 0 auto;
    max-width: 279px;
    font-family: "Roboto";
  }
  .container .about-us .inner-content .part-07 .btn-details a img {
    right: 7.5%;
  }
  .container .about-us .inner-content .part-07 .part07-img {
    margin-top: 33px;
    width: 100vw;
    position: relative;
    left: 50%;
    margin-left: -50vw;
  }
  .container .about-us .inner-content .part-07 .part07-img img {
    max-width: 100%;
    width: 100%;
  }
  .container .about-us .inner-content .part-08 {
    margin-top: 74px;
  }
  .container .about-us .inner-content .part-08 .title {
    font-size: 20px;
    line-height: 1.45;
    letter-spacing: 1px;
  }
  .container .about-us .inner-content .part-08 .accordion-list {
    margin-top: 30px;
  }
  .container .about-us .inner-content .part-08 .accordion-list .arrow-open {
    left: 11px;
    top: 26%;
  }
  .container .about-us .inner-content .part-08 .accordion-list .arrow-close {
    left: 11px;
    top: 26%;
  }
  .container .about-us .inner-content .part-08 .accordion-list li {
    width: 97%;
    cursor: pointer;
    margin: 0 auto 14px;
  }
  .container .about-us .inner-content .part-08 .accordion-list li div:nth-child(1) {
    padding: 6px 0px 12px;
    padding-left: 16.5%;
  }
  .container .about-us .inner-content .part-08 .accordion-list li div:nth-child(1) .title {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.7px;
  }
  .container .about-us .inner-content .part-08 .accordion-list li div:nth-child(2) {
    padding: 0;
    padding-left: 3.5%;
  }
  .container .about-us .inner-content .part-08 .accordion-list li div:nth-child(2) .description {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.6px;
    color: #777;
    width: 98%;
    padding-top: 14px;
  }
  .container .about-us .inner-content .part-09 .bottom-description {
    width: 97%;
    margin: 82px auto 0;
  }
  .container .about-us .inner-content .part-09 .bottom-description .bottom-content {
    margin: 0 auto;
    width: 90%;
  }
  .container .about-us .inner-content .part-09 .bottom-description .bottom-content .title {
    padding-top: 9.5%;
    margin-bottom: 18px;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 1.2px;
  }
  .container .about-us .inner-content .part-09 .bottom-description .bottom-content .description {
    font-size: 14px;
  }
  .container .about-us .inner-content .part-09 .bottom-description .bottom-content .btn-details {
    padding: 13.1% 0 11% 0;
  }
  .container .about-us .inner-content .part-09 .bottom-description .bottom-content .btn-details a img {
    right: 6.5%;
  }
  .container .about-us .inner-content .copyright {
    margin-top: 44.2%;
    margin-bottom: 17px;
    text-align: center;
  }
  .container .about-us .inner-content .part-03 .download-btn a {
    margin: 0 auto;
    font-size: 14px;
  }
  .container .about-us .inner-content .part-03 .download-btn a img {
    width: 15px;
    right: 3.9%;
    top: 50%;
    transform: translateY(-50%);
  }
}
