// out: about.css, sourcemap: true, compress: false

@import 'common.less';

@font-face {
  font-family: "YuMin";
  src: url("../fonts/YuMincho.ttc") format('truetype'),
}

.hidden {
  display: none !important;
}

.pc {
  display: block;
}

.sp {
  display: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;

  // min-width: 1024px;
  .about-top {
    display: flex;
    -webkit-display: flex;

    .right-section {
      position: relative;
      width: -webkit-calc(~"100% - 200px");
      width: calc(~"100% - 200px");
      margin-left: 200px;
      visibility: hidden;
      opacity: 0;
      overflow: hidden;

      .right-baner-animi {

        -webkit-transition: -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
        transition: -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
        transition: transform 1s cubic-bezier(.165, .84, .44, 1);
        transition: transform 1s cubic-bezier(.165, .84, .44, 1), -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);

        img {
          width: 100%;
        }

      }

      &.start {
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity .5s linear, visibility .5s linear;
        transition: opacity .5s linear, visibility .5s linear;

        .right-baner-animi {
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
        }
      }
    }

  }

  /*-----------MESSAGE For YOU------------*/
  .about-us {
    position: relative;
    display: flex;

    .message-for-you {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: flex;

      h1 {
        font-family: 'PlayfairDisplay-Regular';
        font-size: 100px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: 5px;
        color: #f4f4f4;
        margin: 0;
      }
    }

    .inner-content {
      // width: 85.7%;
      // margin-left: 18%;
      width: -webkit-calc(~"100% - 250px");
      width: calc(~"100% - 250px");
      margin-left: 250px;
      margin-top: 34px;

      .part-01 {
        position: relative;

        .title {
          font-family: 'SawarabiMincho-Regular';
          font-size: 40px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.47;
          letter-spacing: 3.2px;
          text-align: left;
          color: #221f20;
          margin-bottom: 35px;
        }

        .sub-title {
          font-family: 'SawarabiMincho-Regular';
          font-size: 24px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.83;
          letter-spacing: 1.2px;
          text-align: left;
          color: #221f20;
        }

        .pra-txt {
          font-family: 'NotoSansJP-Regular';
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.8px;
          text-align: left;
          color: #777777;
          width: 62%;
        }

        .abouto1 {
          max-width: 510px;
          width: 100%;
          position: absolute;
          top: 56px;
          right: 0;
          max-width: 510px;
          width: 100%;
          z-index: -1;
        }
      }

      .part-02 {
        margin-top: 202px;

        .sub-title {
          font-family: 'SawarabiMincho-Regular';
          font-size: 32px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.47;
          letter-spacing: 1.6px;
          text-align: left;
          color: #221f20;
          margin-bottom: 59px;
        }

        .pra-txt {
          font-family: 'NotoSansJP-Regular';
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.8px;
          text-align: left;
          color: #777777;
          width: 62%;
        }

        .features-image {
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
          margin-top: 78px;

          .item {
            width: 27.5%;
            margin-right: 26px;

            img {
              max-width: 100%;
            }

            p {
              font-family: 'hirakakupro-w3-opentype';
              font-size: 12px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.67;
              letter-spacing: 0.6px;
              text-align: left;
              color: #777777;
              margin-top: 5px;
            }
          }
        }
      }

      .part-03 {
        margin-top: 104px;

        .title {
          font-family: 'SawarabiMincho-Regular';
          font-size: 32px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.47;
          letter-spacing: 1.6px;
          text-align: left;
          color: #221f20;
          margin-bottom: 34px;
        }

        .pra-txt {
          font-family: 'NotoSansJP-Regular';
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.8px;
          text-align: left;
          color: #777777;
          width: 62%;
        }

        .table1 {
          max-width: 997px;
          width: 100%;
          margin-top: 37px;
        }

        .download-btn {
          text-align: center;
          width: 100%;
          padding: 64px 0 0;


          a {
            font-family: "NotoSansJP-Medium";
            font-size: 16px;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.31;
            letter-spacing: 0.8px;
            text-align: center;
            color: #1d2d44;
            border: solid 2px #1d2d44;
            text-decoration: none;
            padding: 1.5% 2.5% 1.6% 2.5%;
            display: block;
            max-width: 341px;
            margin-left: 26.1%;
            position: relative;
            -webkit-transition: all .3s;
            transition: all .3s;

            img {
              width: 24px;
              position: absolute;
              right: 5.9%;
              top: 50%;
              transform: translateY(-50%);
              // z-index: 0;
            }

            .active {
              position: absolute;
              opacity: 0;
              transition: 0.5s; // ゆっくり
              z-index: 1;
            }

          }

          a:hover {
            color: #fff;
            background: #1d2d44;
          }

          a:hover .active {
            opacity: 1;
          }
        }
      }

      .part-04 {
        margin-top: 75px;

        .title {
          font-family: "SawarabiMincho-Regular";
          font-size: 32px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.69;
          letter-spacing: 1.6px;
          text-align: left;
          color: #221f20;
          margin-bottom: 25px;
        }

        .for-stuednt {
          max-width: 997.5px;
          width: 100%;
          margin-bottom: 9px;
        }

        .for-business {
          max-width: 997.5px;
          width: 100%;
        }
      }

      .part-05 {
        .merc-img {
          max-width: 996px;
          width: 100%;
          margin-top: 33px;
        }
      }

      .part-06 {
        margin-top: 146px;

        .title {
          font-family: "SawarabiMincho-Regular";
          font-size: 32px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.69;
          letter-spacing: 1.6px;
          text-align: left;
          color: #221f20;
          margin-bottom: 26px;
        }

        .feature-display {
          .display-item {
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            align-items: flex-start;

            .feature-img {
              width: 39.3%;
              margin-right: 5%;
              float: left;

              img {
                max-width: 100%;
                width: 100%;
              }
            }

            .feature-caption {
              width: 55%;
              margin-top: 9px;
              padding-left: 4px;
              float: left;

              h4 {
                font-family: 'NotoSansJP-Bold';
                font-size: 20px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.6;
                letter-spacing: 1px;
                text-align: left;
                color: #221f20;
                margin: 0;
                margin-bottom: 3px;
              }

              p {
                margin-top: 39px;
                padding-right: 23%;
                font-family: 'NotoSansJP-Regular';
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 2;
                letter-spacing: 0.7px;
                text-align: left;
                color: #777777;
              }
            }
          }
        }

        .slider-nav {

          // max-width: 1200px;
          width: 40.3%;
          margin: 31px 0;

          div {
            img {
              max-width: 100%;
            }
          }

          .slick-slider {
            margin-right: -16px;
          }

          .slick-slide {
            text-align: center;
            margin-right: 16px;

            .caro-in {
              position: relative;

              &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(34, 31, 32, .3);
              }
            }


          }

          .slick-current {
            .caro-in {
              &::after {
                content: none;
              }
            }

          }

          .prevArrow {
            position: absolute;
            z-index: 1;
            width: 32px;
            top: 36.5%;
            left: -12px;
            cursor: pointer;
            z-index: 2;
          }

          .nextArrow {
            position: absolute;
            right: 7px;
            top: 36.5%;
            width: 32px;
            cursor: pointer;
          }
        }

      }

      .part-07 {
        margin-top: 174px;
        position: relative;

        .title {
          font-family: "SawarabiMincho-Regular";
          font-size: 32px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.69;
          letter-spacing: 1.6px;
          color: #221f20;
        }

        .pra-txt {
          width: 49%;
          font-family: 'NotoSansJP-Regular';
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.8px;
          text-align: left;
          color: #777777;
        }

        .btn-details {
          padding-top: 50px;
          text-align: center;

          a {
            font-family: "Roboto-Regular";
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.31;
            letter-spacing: 0.8px;
            text-align: center;
            color: #1d2d44;
            border: solid 2px #1d2d44;
            text-decoration: none;
            padding: 1.5% 2.5% 1.6% 2.5%;
            display: block;
            max-width: 341px;
            position: relative;
            -webkit-transition: all .3s;
            transition: all .3s;

            img {
              width: 10px;
              position: absolute;
              right: 9.5%;
            }
          }

          a:hover {
            color: #fff;
            background: #1d2d44;
          }
        }

        .left-large-img {
          max-width: 650px;
          width: 100%;
          position: absolute;
          top: 41px;
          right: 0;
          z-index: -1;
        }
      }

      .part-08 {
        margin-top: 203px;

        .title {
          font-family: "SawarabiMincho-Regular";
          font-size: 32px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.69;
          letter-spacing: 1.6px;
          text-align: left;
          color: #221f20;
        }

        .accordion-list {
          margin-top: 27px;

          .arrow-open {
            position: absolute;
            width: 20px;
            height: 20px;
            background: url(../images/about/up_arrow@2x.png);
            left: 28px;
            top: 55%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            transform: translateY(-50%);
            cursor: pointer;
          }

          .arrow-close {
            position: absolute;
            width: 20px;
            height: 20px;
            background: url(../images/about/down_arrow@2x.png);
            left: 28px;
            top: 55%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            transform: translateY(-50%);
            cursor: pointer;
          }

          li {
            list-style: none;
            border: solid 4px #f4f4f4;
            margin-bottom: 12px;
            outline: none;
            width: 84%;
            cursor: pointer;

            [aria-expanded="false"] {
              background-color: #fafafa;
            }

            [aria-expanded="true"] {
              background-color: #fff;
            }

            div {
              &:nth-child(1) {
                position: relative;
                outline: none;
                // background: #fafafa;
                padding: 15px 0px;
                padding-left: 11.5%;

                .title {
                  font-family: 'NotoSansJP-Regular';
                  font-size: 16px;
                  font-weight: bold;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 2;
                  letter-spacing: 0.8px;
                  text-align: left;
                  color: #777;
                  margin: 0;
                }
              }

              &:nth-child(2) {
                position: relative;
                outline: none;
                padding: 0px 0px;
                padding-left: 11.5%;

                .description {
                  font-family: 'NotoSansJP-Regular';
                  font-size: 14px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 2;
                  letter-spacing: 0.7px;
                  text-align: left;
                  color: #777;
                  width: 93%;
                  border-top: solid 2px #f4f4f4;
                  padding-top: 18px;
                  margin: 0;
                  padding-bottom: 16px;
                }
              }
            }
          }
        }
      }

      .part-09 {

        // buttom box
        .bottom-description {
          border: solid 4px #f4f4f4;
          background-color: #ffffff;
          width: 77.5%;
          margin-top: 13%;

          .bottom-content {
            margin: 0 auto;
            width: 76%;

            .title {
              font-family: "SawarabiMincho-Regular";
              font-size: 32px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.47;
              letter-spacing: 1px;
              text-align: center;
              color: #221f20;
              padding-top: 7.5%;
              margin-bottom: 27px;
            }

            .description {
              font-family: "NotoSansJP-Regular";
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 2;
              letter-spacing: 0.8px;
              text-align: center;
              color: #777777;
              padding-top: 0;
              margin-top: 0;
            }

            .btn-details {
              padding: 8.1% 0 8% 0;
              text-align: center;

              a {
                font-family: "Roboto-Regular";
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.31;
                letter-spacing: 0.8px;
                text-align: center;
                color: #1d2d44;
                border: solid 2px #1d2d44;
                text-decoration: none;
                padding: 3% 4% 2.3% 4%;
                display: block;
                max-width: 341px;
                margin: 0 auto;
                position: relative;
                -webkit-transition: all .3s;
                transition: all .3s;

                img {
                  width: 10px;
                  position: absolute;
                  right: 9.5%;
                }
              }

              a:hover {
                color: #fff;
                background: #1d2d44;
              }
            }
          }
        }
      }

      .copyright {
        margin-top: 14.2%;
        margin-bottom: 37px;
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: 0.6px;
        color: #777777;
      }
    }
  }


}

/* Animation */

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* ==========================================================================
  style for smartphone max-width:1024px
============================================================================= */

@media only screen and (max-width: 1024px) {

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  #left-menu {
    display: none;
  }

  #about-top {
    display: none;
  }

  .container {
    position: static;

    .about-top-sp {
      background-image: url('../images/about/sp/banner@2x.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;

      /*Sp Nav Menu*/
      .sp-top-menu {
        width: 100%;
        display: block;
        background-color: rgba(255, 255, 255, 0.95);

        .sp-menu-rap {
          padding: 19px 20px 14px;

          .logo {
            float: left;
            width: 61.5%;
            ;

            img {
              width: 100%;
              max-width: 206px;
            }
          }

          .sp-nav {
            float: right;
            max-width: 36px;
            width: 100%;
            padding-top: 10px;

            .navline {
              width: 100%;
              height: 1.2px;
              background-color: #221f20;
              margin-bottom: 6px;

              &:nth-child(2) {}
            }
          }
        }
      }
    }

    .about-us {
      display: block;

      .message-for-you {
        position: absolute;
        top: -45px;
        left: 0;
        z-index: -1;
        display: block;

        h1 {
          font-size: 64px;
          line-height: 1;
          letter-spacing: 3.2px;
        }
      }

      .inner-content {
        width: 90%;
        margin-left: 0;
        margin-top: 0;
        margin: 56px auto 0;

        .part-01 {
          .title {
            font-size: 28px;
            line-height: 1.5;
            letter-spacing: 2px;
            margin-bottom: 19px;
          }

          .sub-title {
            font-size: 18px;
            line-height: 1.78;
            letter-spacing: 0.9px;
            margin-bottom: 24px;
          }

          .pra-txt {
            width: 99%;
            font-size: 14px;
            line-height: 2;
            letter-spacing: 0.7px;
            margin: 0 auto;
          }

          .aboutBottom {
            width: 105.5%;
            margin-top: 28px;
            text-align: right;

            img {
              max-width: 100%;
            }
          }
        }

        .part-02 {
          margin-top: 72px;

          .sub-title {
            font-size: 28px;
            line-height: 1.57;
            letter-spacing: 1.4px;
            margin-bottom: 21px;

            br {
              display: none;
            }
          }

          .pra-txt {
            width: 99%;
            margin: 0 auto;
            font-size: 14px;
            line-height: 2;
            letter-spacing: 0.7px;
          }

          .features-image {
            margin-top: 27px;
            display: block;

            .item {
              width: 100%;
              margin-right: 0;
              margin-bottom: 20px;

              img {
                max-width: 100%;
                width: 100%;
                margin: 0 auto;
              }

              p {
                font-size: 12px;
                line-height: 1.67;
                letter-spacing: 0.6px;
                margin-top: 10px;
              }
            }
          }
        }

        .part-03 {
          margin-top: 76px;

          .title {
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 1.45;
            letter-spacing: 1px;
          }

          .pra-txt {
            font-size: 14px;
            line-height: 2;
            letter-spacing: 0.7px;
            width: 99.5%;
            margin: 0 auto;
          }

          .table1 {
            max-width: 100%;
            width: 99.5%;
            margin-top: 19px;
          }
        }

        .part-04 {
          margin-top: 81px;

          .title {
            font-size: 20px;
            line-height: 1.45;
            letter-spacing: 1px;
            margin-bottom: 22px;
          }

          .for-stuednt {
            max-width: 100%;
            width: 100%;
            margin: 0 auto 32px;
          }

          .for-business {
            max-width: 100%;
            width: 100%;
            margin: 0 auto;
          }
        }

        .part-05 {
          margin-top: 60px;

          .merc-img {
            max-width: 100%;
            width: 99.5%;
            margin: 0 auto;
          }
        }

        .part-06 {
          margin-top: 80px;

          .title {
            font-size: 20px;
            line-height: 1.45;
            letter-spacing: 1px;
          }

          .sp-Carousel {
            margin-top: 29px;

            .prevArrow {
              position: absolute;
              width: 10%;
              top: 110px;
              left: 1px;
              transform: translateY(-14%);
              cursor: pointer;
              z-index: 2;
            }

            .nextArrow {
              position: absolute;
              right: 1px;
              width: 10%;
              top: 110px;
              transform: translateY(-14%);
              cursor: pointer;
            }

            .slick-dots {
              bottom: -16px;
            }

            .slick-dots li {
              width: 6px;
              height: 6px;
              margin: 0px 5px;
            }

            .slick-dots li.slick-active button:before {
              content: '';
              width: 10px;
              height: 10px;
              background-color: #b4d6d3;
              border-radius: 50%;
              opacity: 1;
              top: -2px;
            }

            .slick-dots li button:before {
              content: '';
              width: 6px;
              height: 6px;
              background-color: #f4f4f4;
              border-radius: 50%;
              opacity: 1;
            }

            div {
              .image-view {
                width: 74%;
                margin: 0 auto;

                img {
                  width: 100%;
                  margin: 0 auto;
                }
              }

              .carousel-caption {
                margin-top: 20px;

                h4 {
                  font-family: 'NotoSansJP-Bold';
                  font-size: 16px;
                  font-weight: bold;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 2;
                  letter-spacing: 0.8px;
                  color: #221f20;
                  margin: 0;
                }

                .caro-txt {
                  font-family: 'NotoSansJP-Regular';
                  font-size: 14px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 2;
                  letter-spacing: 0.7px;
                  color: #777;
                  margin-top: 20px;
                  width: 99.5%;
                }
              }
            }
          }
        }

        .part-07 {
          margin-top: 90px;

          .title {
            font-size: 20px;
            line-height: 1.45;
            letter-spacing: 1px;
            margin-bottom: 17px;
          }

          .pra-txt {
            font-size: 14px;
            line-height: 2;
            letter-spacing: 0.7px;
            width: 99.5%;
            margin: 0 auto;
          }

          .btn-details {
            padding-top: 30px;

            a {
              padding: 2% 2% 2% 2%;
              margin: 0 auto;
              max-width: 279px;
              font-family: "Roboto";

              img {
                right: 7.5%;
              }
            }
          }

          .part07-img {
            margin-top: 33px;
            width: 100vw;
            position: relative;
            left: 50%;
            margin-left: -50vw;

            img {
              max-width: 100%;
              width: 100%;
            }
          }
        }

        .part-08 {
          margin-top: 74px;

          .title {
            font-size: 20px;
            line-height: 1.45;
            letter-spacing: 1px;
          }

          .accordion-list {
            .arrow-open {
              left: 11px;
              top: 26%;
            }

            .arrow-close {
              left: 11px;
              top: 26%;
            }

            margin-top: 30px;

            li {
              width: 97%;
              cursor: pointer;
              margin: 0 auto 14px;

              div {
                &:nth-child(1) {
                  padding: 6px 0px 12px;
                  padding-left: 16.5%;

                  .title {
                    font-size: 14px;
                    line-height: 2;
                    letter-spacing: 0.7px;
                  }
                }

                &:nth-child(2) {
                  padding: 0;
                  padding-left: 3.5%;

                  .description {
                    font-size: 12px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 2;
                    letter-spacing: 0.6px;
                    color: #777;
                    width: 98%;
                    padding-top: 14px;
                  }
                }
              }
            }
          }
        }

        .part-09 {
          .bottom-description {
            width: 97%;
            margin: 82px auto 0;

            .bottom-content {
              margin: 0 auto;
              width: 90%;

              .title {
                padding-top: 9.5%;
                margin-bottom: 18px;
                font-size: 24px;
                line-height: 1.5;
                letter-spacing: 1.2px;
              }

              .description {
                font-size: 14px;
              }

              .btn-details {
                padding: 13.1% 0 11% 0;

                a {
                  img {
                    right: 6.5%;
                  }
                }
              }
            }
          }
        }

        .copyright {
          margin-top: 44.2%;
          margin-bottom: 17px;
          text-align: center;

        }
      }
    }

  }




  .container .about-us .inner-content .part-03 .download-btn a {
    margin: 0 auto;
    font-size: 14px;

    img {
      width: 15px;
      right: 3.9%;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
