/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* Fonts install*/
@font-face {
  font-family: "NotoSansJP-Black";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Black.otf") format('truetype'),
}

@font-face {
  font-family: "NotoSansJP-Bold";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Bold.otf") format('truetype'),
}

@font-face {
  font-family: "NotoSansJP-Light";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Light.otf") format('truetype'),
}

@font-face {
  font-family: "NotoSansJP-Medium";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Medium.otf") format('truetype'),
}

@font-face {
  font-family: "NotoSansJP-Regular";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Regular.otf") format('truetype'),
}

@font-face {
  font-family: "NotoSansJP-Thin";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Thin.otf") format('truetype'),
}

@font-face {
  font-family: "PlayfairDisplay-Black";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Black.ttf") format('truetype'),
}

@font-face {
  font-family: "PlayfairDisplay-BlackItalic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf") format('truetype'),
}

@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf") format('truetype'),
}

@font-face {
  font-family: "PlayfairDisplay-BoldItalic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf") format('truetype'),
}

@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic.ttf") format('truetype'),
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format('truetype'),
}

@font-face {
  font-family: "SawarabiMincho-Regular";
  src: url("../fonts/Sawarabi_Mincho/SawarabiMincho-Regular.ttf") format('truetype'),
}

@font-face {
  font-family: "HomemadeApple-Regular";
  src: url("../fonts/Homemade_Apple/HomemadeApple-Regular.ttf") format('truetype'),
}

@font-face {
  font-family: "hirakakupro-w3-opentype";
  src: url("../fonts/hirakakupro-w3-opentype.otf") format('truetype'),
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format('truetype'),
}

@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/roboto/Roboto-Black.ttf") format('truetype'),
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/roboto/Roboto-Bold.ttf") format('truetype'),
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/roboto/Roboto-Medium.ttf") format('truetype'),
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  position: relative;
  margin: 0;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:after,
.clearfix:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
*Common Placeholder
*/
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c3c3c3;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c3c3c3;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c3c3c3;
}

input::-webkit-input-placeholder {
  line-height: normal !important;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  -webkit-appearance: none;
}

.left-menu-width {
  width: 200px;
}

.left-meuu {
  display: flex;

  .left-section {
    height: 100%;
    .left-menu-width;
    position: fixed;
    z-index: 1;
    background: rgba(195, 195, 195, .1);

    .header-logo {
      margin: 0 auto;
      width: 50%;
      padding: 30% 0px 0px 0;

      .logo {
        width: 100%;
      }
    }

    .menu-section {
      margin: 0 auto;
      padding: 26% 0 0 0;

      ul {
        padding-left: 0;

        li {
          list-style-type: none;
          line-height: 20px;
          font-size: 14px;
          padding-bottom: 10%;
          letter-spacing: 0.7px;
          font-family: "NotoSansJP-Regular";
          text-align: left;
          padding-left: 20%;
          padding-right: 10%;

          a {
            text-decoration: none;
            color: #221f20;
            -webkit-transition: font-weight .3s;
            transition: font-weight .3s;
          }

          a:hover {
            font-family: "NotoSansJP-Bold";
          }

          a.active {
            background: url(../images/menu_underline@2x.png);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 100% 50%;
          }

          &:nth-child(1) {
            a:hover {
              letter-spacing: 0.3px;
            }
          }

          &:nth-child(4) {
            a:hover {
              letter-spacing: 0.3px;
            }
          }
        }
      }

      .middle {
        list-style: none;

        li {
          list-style: none;
          padding-bottom: 2.5%;

          .social-fb {
            width: 6%;
          }

          .social-twitter {
            width: 12%;
            margin: 0px 0px 0px 20%;
          }

          &:last-child {
            font-family: Roboto-Regular;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.36;
            letter-spacing: 0.7px;
            text-align: left;
            color: #221f20;

            &:hover {
              a {
                font-family: Roboto-Regular;
              }
            }

          }
        }
      }
    }

    .experience-section {
      width: 114.5%;
      background-color: #ffffff;
      border-top-right-radius: 4em;
      border-bottom-right-radius: 4em;
      margin-top: 17%;
      z-index: 1;
      position: relative;
      min-width: 214px;
      box-shadow: 0 3px 7px 0 rgba(119, 119, 119, 0.2);

      a {
        text-decoration: none;
        color: #221f20;
      }

      .text-section {
        padding: 6.4% 0px 16.5% 15%;

        .top-title {
          font-size: 14px;
          font-family: "NotoSansJP-Regular";
          letter-spacing: 0.7px;
          line-height: 20px;
          color: #221f20;
        }

        .middle-title {
          font-size: 20px;
          font-family: "NotoSansJP-Bold";
          line-height: 29px;
          letter-spacing: 1px;
        }

        .bottom-title {
          font-size: 14px;
          font-family: "NotoSansJP-Regular";
          letter-spacing: 0.7px;
          line-height: 20px;
          color: #221f20;
          padding-top: 7%;

          .text {
            float: left;
          }

          .detail-image {
            float: left;
            width: 26px;

            img {
              width: 100%;
              margin: -9% 0px 0px 19%;
            }
          }
        }
      }

      &:hover {
        opacity: .85;
      }
    }

    .bottom {
      margin: 0 auto;
      padding: 49% 0 0 0;

      ul {
        padding-left: 0;

        li {
          list-style-type: none;
          line-height: 20px;
          font-size: 12px;
          padding-bottom: 5%;
          letter-spacing: 0.7px;
          font-family: "Roboto-Regular";
          text-align: left;
          padding-left: 20%;

          a {
            text-decoration: none;
            color: #777777;
            -webkit-transition: font-weight 0.3s;
            transition: font-weight 0.3s;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: 0.6px;
            text-align: left;
            color: #777777;
          }

          &:hover {
            a {
              font-family: Roboto-Black;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.33;
              letter-spacing: 0.3px;
            }
          }
        }
      }
    }
  }
}

/*VALIDATION MESSAGE*/
.valMsg {
  color: #ef6f87;
  font-family: "NotoSansJP-Regular";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  padding-bottom: 5px;
}

/*Custome checkbox*/
/* Customize the label (the container) */
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  span {
    &.lbl {
      position: relative;
      top: -10px;
      left: 5px;
    }
  }
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 1px solid #c3c3c3;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked~.checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 2px;
  height: 6px;
  border: solid #b4d6d3;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Back Top*/
.back-to-up {
  position: fixed;
  right: 59px;
  bottom: 17px;
  width: 16px;
  cursor: pointer;

  img {
    width: 100%;
  }
}

/*Video autoplay*/
.video-rap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // background: linear-gradient(-45deg, rgba(4, 114, 124, 0.6), rgba(17, 66, 99, 0.5));
  background: linear-gradient(270deg, rgba(79, 96, 112, 0.2) 0%, rgba(107, 105, 106, 0.4) 100%);
}

#bg-video {
  position: absolute;
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -100;
  // background: url(../images/header_banner_img@2x.jpg);
  background-size: cover;
}

/*Menu SP hide from PC*/
.sp-main-nav {
  display: none;
}

.sp-top-menu {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .sp-nav-open {
    cursor: pointer;
  }

  .sp-nav-close {
    cursor: pointer;
  }

  .no-scroll {
    overflow: hidden;
  }

  /*Sp Nav Menu*/
  .sp-top-menu {
    width: 100%;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.95);

    .sp-menu-rap {
      padding: 19px 20px;

      .logo {
        float: left;
        width: 61.5%;

        img {
          width: 100%;
          max-width: 206px;
        }
      }

      .sp-nav {
        float: right;
        max-width: 36px;
        width: 100%;
        padding-top: 10px;

        .navline {
          width: 100%;
          height: 1px;
          background-color: #221f20;
          margin-bottom: 6px;

          &:nth-child(2) {}
        }
      }
    }
  }

  .sp-main-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 999;
    overflow-y: scroll;
    display: none;

    .sp-menu-logo-icon {
      .sp-menu-rap {
        padding: 19px 20px;

        .logo {
          float: left;
          width: 61.5%;

          img {
            width: 100%;
            max-width: 206px;
          }
        }

        .sp-nav-close {
          float: right;
          max-width: 36px;
          width: 100%;
          padding-top: 10px;

          .navline {
            width: 100%;
            height: 1px;
            background-color: #221f20;
            margin-bottom: 6px;

            &:nth-child(2) {}
          }
        }
      }
    }

    .menu-section {
      width: 100%;
      padding: 12px 0 0 0;

      ul {
        padding: 0;
        margin: 0;

        li {
          a {
            text-decoration: none;
            -webkit-transition: font-weight .3s;
            transition: font-weight .3s;
            font-family: "NotoSansJP-Regular";
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: 0.7px;
            text-align: center;
            color: #221f20;
            display: block;
            padding: 19px 0;
          }

          a.active {
            background: url(../images/menu_underline@2x.png);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: 100% 50%;
          }
        }
      }

      .middle {
        padding-top: 38px;
        list-style: none;

        li {
          padding-bottom: 0;
          text-align: center;
          list-style: none;

          .social-fb {
            display: inline;
            img {
              width: 2%;
            }
          }

          .social-twitter {
            display: inline;
            img {
              width: 4.3%;
              margin: 0px 0px 0px 7.5%;
            }
          }

          a {
            font-family: "Roboto-Regular";
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.36;
            letter-spacing: 0.7px;
            text-align: center;
            color: #221f20;
            padding: 16px 0;
          }
        }
      }
    }

    .experience-section {
      width: 94.6%;
      background-color: #ffffff;
      border-top-right-radius: 16vw;
      border-bottom-right-radius: 16vw;
      margin-top: 30px;
      margin-bottom: 23px;
      z-index: 1;
      position: relative;
      -webkit-transition: all .3s;
      transition: all .3s;
      cursor: pointer;
      box-shadow: 0 3px 7px 0 rgba(119, 119, 119, 0.2);

      a {
        text-decoration: none;
        color: #221f20;
      }


      .text-section {
        padding: 20px 0px 40px 32%;

        .top-title {
          font-family: "NotoSansJP-Regular";
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: 0.7px;
          text-align: left;
          color: #221f20;
          padding-left: 37px;
        }

        .middle-title {
          font-family: "NotoSansJP-Bold";
          font-size: 20px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.45;
          letter-spacing: 1px;
          text-align: left;
          color: #1d2d44;
        }

        .bottom-title {
          font-family: "NotoSansJP-Regular";
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: 0.7px;
          text-align: left;
          color: #221f20;
          padding-top: 5.2%;

          .text {
            float: left;
          }

          .detail-image {
            float: left;
            width: 24px;

            img {
              width: 100%;
              position: relative;
              left: 7px;
              top: -2px;
            }
          }
        }
      }
    }

    .menu-section-bottom {

      text-align: center;
      margin: 32px 0;

      a {
        font-family: "NotoSansJP-Regular";
        text-decoration: none;
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: 0.6px;
        text-align: left;
        color: #777777;
        padding: 3%;
      }

    }


  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .sp-main-nav {
    .experience-section {
      .text-section {
        padding: 20px 0px 40px 42%;
      }
    }
  }
}
