/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* Fonts install*/
@font-face {
  font-family: "NotoSansJP-Black";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Black.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Bold";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Bold.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Light";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Light.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Medium";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Medium.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Regular";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Regular.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Thin";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Thin.otf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Black";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Black.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-BlackItalic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-BoldItalic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "SawarabiMincho-Regular";
  src: url("../fonts/Sawarabi_Mincho/SawarabiMincho-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "HomemadeApple-Regular";
  src: url("../fonts/Homemade_Apple/HomemadeApple-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "hirakakupro-w3-opentype";
  src: url("../fonts/hirakakupro-w3-opentype.otf") format('truetype');
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/roboto/Roboto-Black.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/roboto/Roboto-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/roboto/Roboto-Medium.ttf") format('truetype');
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
body {
  position: relative;
  margin: 0;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:after,
.clearfix:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/*
*Common Placeholder
*/
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c3c3c3;
  opacity: 1;
  /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c3c3c3;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c3c3c3;
}
input::-webkit-input-placeholder {
  line-height: normal !important;
}
input[type=text],
input[type=email],
input[type=password],
textarea {
  -webkit-appearance: none;
}
.left-menu-width {
  width: 200px;
}
.left-meuu {
  display: flex;
}
.left-meuu .left-section {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  background: rgba(195, 195, 195, 0.1);
}
.left-meuu .left-section .header-logo {
  margin: 0 auto;
  width: 50%;
  padding: 30% 0px 0px 0;
}
.left-meuu .left-section .header-logo .logo {
  width: 100%;
}
.left-meuu .left-section .menu-section {
  margin: 0 auto;
  padding: 26% 0 0 0;
}
.left-meuu .left-section .menu-section ul {
  padding-left: 0;
}
.left-meuu .left-section .menu-section ul li {
  list-style-type: none;
  line-height: 20px;
  font-size: 14px;
  padding-bottom: 10%;
  letter-spacing: 0.7px;
  font-family: "NotoSansJP-Regular";
  text-align: left;
  padding-left: 20%;
  padding-right: 10%;
}
.left-meuu .left-section .menu-section ul li a {
  text-decoration: none;
  color: #221f20;
  -webkit-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
}
.left-meuu .left-section .menu-section ul li a:hover {
  font-family: "NotoSansJP-Bold";
}
.left-meuu .left-section .menu-section ul li a.active {
  background: url(../images/menu_underline@2x.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 50%;
}
.left-meuu .left-section .menu-section ul li:nth-child(1) a:hover {
  letter-spacing: 0.3px;
}
.left-meuu .left-section .menu-section ul li:nth-child(4) a:hover {
  letter-spacing: 0.3px;
}
.left-meuu .left-section .menu-section .middle {
  list-style: none;
}
.left-meuu .left-section .menu-section .middle li {
  list-style: none;
  padding-bottom: 2.5%;
}
.left-meuu .left-section .menu-section .middle li .social-fb {
  width: 6%;
}
.left-meuu .left-section .menu-section .middle li .social-twitter {
  width: 12%;
  margin: 0px 0px 0px 20%;
}
.left-meuu .left-section .menu-section .middle li:last-child {
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: 0.7px;
  text-align: left;
  color: #221f20;
}
.left-meuu .left-section .menu-section .middle li:last-child:hover a {
  font-family: Roboto-Regular;
}
.left-meuu .left-section .experience-section {
  width: 114.5%;
  background-color: #ffffff;
  border-top-right-radius: 4em;
  border-bottom-right-radius: 4em;
  margin-top: 17%;
  z-index: 1;
  position: relative;
  min-width: 214px;
  box-shadow: 0 3px 7px 0 rgba(119, 119, 119, 0.2);
}
.left-meuu .left-section .experience-section a {
  text-decoration: none;
  color: #221f20;
}
.left-meuu .left-section .experience-section .text-section {
  padding: 6.4% 0px 16.5% 15%;
}
.left-meuu .left-section .experience-section .text-section .top-title {
  font-size: 14px;
  font-family: "NotoSansJP-Regular";
  letter-spacing: 0.7px;
  line-height: 20px;
  color: #221f20;
}
.left-meuu .left-section .experience-section .text-section .middle-title {
  font-size: 20px;
  font-family: "NotoSansJP-Bold";
  line-height: 29px;
  letter-spacing: 1px;
}
.left-meuu .left-section .experience-section .text-section .bottom-title {
  font-size: 14px;
  font-family: "NotoSansJP-Regular";
  letter-spacing: 0.7px;
  line-height: 20px;
  color: #221f20;
  padding-top: 7%;
}
.left-meuu .left-section .experience-section .text-section .bottom-title .text {
  float: left;
}
.left-meuu .left-section .experience-section .text-section .bottom-title .detail-image {
  float: left;
  width: 26px;
}
.left-meuu .left-section .experience-section .text-section .bottom-title .detail-image img {
  width: 100%;
  margin: -9% 0px 0px 19%;
}
.left-meuu .left-section .experience-section:hover {
  opacity: .85;
}
.left-meuu .left-section .bottom {
  margin: 0 auto;
  padding: 49% 0 0 0;
}
.left-meuu .left-section .bottom ul {
  padding-left: 0;
}
.left-meuu .left-section .bottom ul li {
  list-style-type: none;
  line-height: 20px;
  font-size: 12px;
  padding-bottom: 5%;
  letter-spacing: 0.7px;
  font-family: "Roboto-Regular";
  text-align: left;
  padding-left: 20%;
}
.left-meuu .left-section .bottom ul li a {
  text-decoration: none;
  -webkit-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.6px;
  text-align: left;
  color: #777777;
}
.left-meuu .left-section .bottom ul li:hover a {
  font-family: Roboto-Black;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.3px;
}
/*VALIDATION MESSAGE*/
.valMsg {
  color: #ef6f87;
  font-family: "NotoSansJP-Regular";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  padding-bottom: 5px;
}
/*Custome checkbox*/
/* Customize the label (the container) */
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check-container span.lbl {
  position: relative;
  top: -10px;
  left: 5px;
}
/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 1px solid #c3c3c3;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: transparent;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 2px;
  height: 6px;
  border: solid #b4d6d3;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*Back Top*/
.back-to-up {
  position: fixed;
  right: 59px;
  bottom: 17px;
  width: 16px;
  cursor: pointer;
}
.back-to-up img {
  width: 100%;
}
/*Video autoplay*/
.video-rap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(270deg, rgba(79, 96, 112, 0.2) 0%, rgba(107, 105, 106, 0.4) 100%);
}
#bg-video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -100;
  background-size: cover;
}
/*Menu SP hide from PC*/
.sp-main-nav {
  display: none;
}
.sp-top-menu {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .sp-nav-open {
    cursor: pointer;
  }
  .sp-nav-close {
    cursor: pointer;
  }
  .no-scroll {
    overflow: hidden;
  }
  /*Sp Nav Menu*/
  .sp-top-menu {
    width: 100%;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .sp-top-menu .sp-menu-rap {
    padding: 19px 20px;
  }
  .sp-top-menu .sp-menu-rap .logo {
    float: left;
    width: 61.5%;
  }
  .sp-top-menu .sp-menu-rap .logo img {
    width: 100%;
    max-width: 206px;
  }
  .sp-top-menu .sp-menu-rap .sp-nav {
    float: right;
    max-width: 36px;
    width: 100%;
    padding-top: 10px;
  }
  .sp-top-menu .sp-menu-rap .sp-nav .navline {
    width: 100%;
    height: 1px;
    background-color: #221f20;
    margin-bottom: 6px;
  }
  .sp-main-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 999;
    overflow-y: scroll;
    display: none;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap {
    padding: 19px 20px;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .logo {
    float: left;
    width: 61.5%;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .logo img {
    width: 100%;
    max-width: 206px;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .sp-nav-close {
    float: right;
    max-width: 36px;
    width: 100%;
    padding-top: 10px;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .sp-nav-close .navline {
    width: 100%;
    height: 1px;
    background-color: #221f20;
    margin-bottom: 6px;
  }
  .sp-main-nav .menu-section {
    width: 100%;
    padding: 12px 0 0 0;
  }
  .sp-main-nav .menu-section ul {
    padding: 0;
    margin: 0;
  }
  .sp-main-nav .menu-section ul li a {
    text-decoration: none;
    -webkit-transition: font-weight 0.3s;
    transition: font-weight 0.3s;
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: center;
    color: #221f20;
    display: block;
    padding: 19px 0;
  }
  .sp-main-nav .menu-section ul li a.active {
    background: url(../images/menu_underline@2x.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 50%;
  }
  .sp-main-nav .menu-section .middle {
    padding-top: 38px;
    list-style: none;
  }
  .sp-main-nav .menu-section .middle li {
    padding-bottom: 0;
    text-align: center;
    list-style: none;
  }
  .sp-main-nav .menu-section .middle li .social-fb {
    display: inline;
  }
  .sp-main-nav .menu-section .middle li .social-fb img {
    width: 2%;
  }
  .sp-main-nav .menu-section .middle li .social-twitter {
    display: inline;
  }
  .sp-main-nav .menu-section .middle li .social-twitter img {
    width: 4.3%;
    margin: 0px 0px 0px 7.5%;
  }
  .sp-main-nav .menu-section .middle li a {
    font-family: "Roboto-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 0.7px;
    text-align: center;
    color: #221f20;
    padding: 16px 0;
  }
  .sp-main-nav .experience-section {
    width: 94.6%;
    background-color: #ffffff;
    border-top-right-radius: 16vw;
    border-bottom-right-radius: 16vw;
    margin-top: 30px;
    margin-bottom: 23px;
    z-index: 1;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    box-shadow: 0 3px 7px 0 rgba(119, 119, 119, 0.2);
  }
  .sp-main-nav .experience-section a {
    text-decoration: none;
    color: #221f20;
  }
  .sp-main-nav .experience-section .text-section {
    padding: 20px 0px 40px 32%;
  }
  .sp-main-nav .experience-section .text-section .top-title {
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: left;
    color: #221f20;
    padding-left: 37px;
  }
  .sp-main-nav .experience-section .text-section .middle-title {
    font-family: "NotoSansJP-Bold";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: 1px;
    text-align: left;
    color: #1d2d44;
  }
  .sp-main-nav .experience-section .text-section .bottom-title {
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: left;
    color: #221f20;
    padding-top: 5.2%;
  }
  .sp-main-nav .experience-section .text-section .bottom-title .text {
    float: left;
  }
  .sp-main-nav .experience-section .text-section .bottom-title .detail-image {
    float: left;
    width: 24px;
  }
  .sp-main-nav .experience-section .text-section .bottom-title .detail-image img {
    width: 100%;
    position: relative;
    left: 7px;
    top: -2px;
  }
  .sp-main-nav .menu-section-bottom {
    text-align: center;
    margin: 32px 0;
  }
  .sp-main-nav .menu-section-bottom a {
    font-family: "NotoSansJP-Regular";
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.6px;
    text-align: left;
    color: #777777;
    padding: 3%;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .sp-main-nav .experience-section .text-section {
    padding: 20px 0px 40px 42%;
  }
}
@font-face {
  font-family: "YuMin";
  src: url("../fonts/YuMincho.ttc") format('truetype');
}
body {
  position: relative;
  margin: 0;
}
.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
/*
banner section
*/
#banner-section .top-section {
  display: flex;
}
#banner-section .top-section .left-section {
  width: 200px;
  position: fixed;
  z-index: 1;
}
#banner-section .top-section .right-section {
  margin-left: 25.1%;
  margin-top: 71px;
  width: 67.5%;
}
#banner-section .top-section .right-section h2 {
  font-family: 'SawarabiMincho-Regular';
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 1.6px;
  text-align: left;
  color: #221f20;
}
#banner-section .top-section .right-section .company-profile {
  max-width: 1200px;
  width: 94.5%;
  margin: 40px 0 0 0;
  border: solid 4px #f4f4f4;
}
#banner-section .top-section .right-section .company-profile .company {
  max-width: 1150px;
  width: 92%;
  margin: 0 4%;
}
#banner-section .top-section .right-section .company-profile .company .table-box {
  display: flex;
  width: 100%;
  border-bottom: solid 2px #f4f4f4;
  padding: 0;
}
#banner-section .top-section .right-section .company-profile .company .table-box .left-side {
  flex-basis: 19.8%;
}
#banner-section .top-section .right-section .company-profile .company .table-box .left-side p {
  font-family: 'NotoSansJP-Regular';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left;
  color: #221f20;
  border-right: solid 2px #f4f4f4;
}
#banner-section .top-section .right-section .company-profile .company .table-box .right-side {
  flex-basis: 75.5%;
  padding: 0 0 0 4.5%;
}
#banner-section .top-section .right-section .company-profile .company .table-box .right-side p {
  font-family: 'NotoSansJP-Regular';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.8px;
  text-align: left;
  color: #221f20;
}
#banner-section .top-section .right-section .company-profile .company .table-box:nth-child(1) {
  padding: 12px 0 1px 0;
}
#banner-section .top-section .right-section .company-profile .company .table-box:nth-child(2) {
  padding: 3px 0 0 0;
}
#banner-section .top-section .right-section .company-profile .company .table-box:nth-child(3) {
  padding: 3px 0 0 0;
}
#banner-section .top-section .right-section .company-profile .company .table-box:nth-child(4) {
  padding: 2px 0 0 0;
}
#banner-section .top-section .right-section .company-profile .company .table-box:nth-child(5) {
  padding: 4px 0 0 0;
}
#banner-section .top-section .right-section .company-profile .company .table-box:last-child {
  padding: 0 0 8px 0;
  border-bottom: 0;
}
#banner-section .top-section .right-section .company-profile .company .table-box:last-child .left-side {
  padding-top: 8px;
}
#banner-section .top-section .right-section .company-profile .company .table-box:last-child .left-side p {
  line-height: 2.5;
}
#banner-section .top-section .right-section .company-profile .company .table-box:last-child .right-side p {
  line-height: 1.9;
}
#address {
  margin-left: 25.1%;
  margin-top: 95px;
  width: 67.5%;
  display: flex;
}
#address .left {
  flex-basis: 37%;
}
#address .left h2 {
  font-family: 'SawarabiMincho-Regular';
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 1.6px;
  text-align: left;
  color: #221f20;
}
#address .left p {
  font-family: 'NotoSansJP-Regular';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
  padding-top: 9px;
}
#address .right {
  flex-basis: 58%;
  padding-top: 27px;
}
#address .right img {
  max-width: 730px;
  width: 100%;
}
#addressPhoto {
  margin-left: 250px;
  margin-top: 84px;
  width: 71.1%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 133px;
}
#addressPhoto .section-rap {
  width: 100%;
}
#addressPhoto .section-rap .photo-rap {
  width: 60%;
  float: left;
}
#addressPhoto .section-rap .photo-rap .below-photo {
  width: 27.6%;
  float: left;
  margin-right: 4.57%;
}
#addressPhoto .section-rap .photo-rap .below-photo img {
  width: 100%;
}
#addressPhoto .section-rap .address-txt-rap {
  width: 40%;
  float: right;
}
#addressPhoto .section-rap .address-txt-rap p {
  margin: 4% 0 0 3%;
  font-size: 16px;
  font-family: "NotoSansJP-Regular";
  color: #777777;
  line-height: 32px;
}
#footer-part {
  position: relative;
  margin-top: 2px;
}
#footer-part .content {
  margin-left: 25%;
  margin-bottom: 1.12%;
  width: 64.5%;
}
#footer-part .content .copyright {
  font-family: "Roboto-Regular";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.6px;
  text-align: left;
  color: #777777;
  padding-top: 17.6%;
}
.back-to-up {
  bottom: 55px;
}
.sp-top-menu {
  display: none;
}
.pc {
  display: block;
}
.sp {
  display: none !important;
}
/*MOBILE*/
@media only screen and (max-width: 1024px) {
  .sp {
    display: block !important;
  }
  .pc {
    display: none !important;
  }
  .left-meuu {
    display: none;
  }
  .back-to-up {
    display: none;
  }
  body,
  html {
    overflow-x: hidden;
  }
  /*Sp Nav Menu*/
  .top-section {
    display: block !important;
  }
  .sp-top-menu {
    width: 100%;
    display: block;
  }
  .sp-top-menu .sp-menu-rap {
    padding: 19px 20px;
  }
  .sp-top-menu .sp-menu-rap .logo {
    float: left;
    width: 61.5%;
  }
  .sp-top-menu .sp-menu-rap .logo img {
    width: 100%;
    max-width: 206px;
  }
  .sp-top-menu .sp-menu-rap .sp-nav {
    float: right;
    max-width: 36px;
    width: 100%;
    padding-top: 10px;
  }
  .sp-top-menu .sp-menu-rap .sp-nav .navline {
    width: 100%;
    height: 1.2px;
    background-color: #221f20;
    margin-bottom: 6px;
  }
  #banner-section .top-section .right-section {
    margin: 1% 0;
    margin-top: 34px;
    width: 100%;
  }
  #banner-section .top-section .right-section h2 {
    font-size: 20px;
    line-height: 1.45;
    letter-spacing: 1px;
    padding-left: 5%;
  }
  #banner-section .top-section .right-section .company-profile {
    max-width: 1024px;
    width: 100%;
    margin: 0;
    border: 0;
  }
  #banner-section .top-section .right-section .company-profile .company {
    max-width: 950px;
    width: 90%;
    margin: 0 auto;
  }
  #banner-section .top-section .right-section .company-profile .company .table-box {
    display: flex;
    width: 100%;
    border-bottom: solid 2px #f4f4f4;
    padding: 0;
  }
  #banner-section .top-section .right-section .company-profile .company .table-box .left-side {
    flex-basis: 27.8%;
  }
  #banner-section .top-section .right-section .company-profile .company .table-box .left-side p {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.7px;
    border-right: solid 2px #f4f4f4;
  }
  #banner-section .top-section .right-section .company-profile .company .table-box .right-side {
    flex-basis: 75.5%;
    padding: 0 0 0 7.5%;
  }
  #banner-section .top-section .right-section .company-profile .company .table-box .right-side p {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: normal;
  }
  #banner-section .top-section .right-section .company-profile .company .table-box:nth-child(1) {
    padding: 1px 0 0 0;
  }
  #banner-section .top-section .right-section .company-profile .company .table-box:nth-child(2) {
    padding: 3px 0 0 0;
  }
  #banner-section .top-section .right-section .company-profile .company .table-box:nth-child(3) {
    padding: 0;
  }
  #banner-section .top-section .right-section .company-profile .company .table-box:nth-child(3) .left-side p {
    padding-top: 10px;
    line-height: 2;
  }
  #banner-section .top-section .right-section .company-profile .company .table-box:nth-child(3) .right-side p {
    line-height: 1.9;
    position: relative;
    top: -1px;
  }
  #banner-section .top-section .right-section .company-profile .company .table-box:nth-child(4) {
    padding: 0;
  }
  #banner-section .top-section .right-section .company-profile .company .table-box:nth-child(5) {
    padding: 4px 0 0 0;
  }
  #banner-section .top-section .right-section .company-profile .company .table-box:last-child {
    padding: 0;
    border-bottom: solid 2px #f4f4f4;
  }
  #banner-section .top-section .right-section .company-profile .company .table-box:last-child .left-side p {
    line-height: 3.5;
    padding-top: 9px;
  }
  #banner-section .top-section .right-section .company-profile .company .table-box:last-child .right-side p {
    line-height: 1.93;
  }
  #address {
    margin: 0 !important;
    margin-top: 62px !important;
    width: 100% !important;
    display: block;
  }
  #address h2 {
    font-family: 'SawarabiMincho-Regular';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: 1px;
    text-align: left;
    color: #221f20;
    margin-left: 5%;
  }
  #address .right {
    flex-basis: 100%;
    padding-top: 0px;
    margin-left: 5.5%;
  }
  #address .right p {
    font-family: 'NotoSansJP-Regular';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.7px;
    text-align: left;
    color: #777777;
    padding: 1px 6% 0 0;
  }
  #address .left {
    flex-basis: 100% !important;
    padding-top: 6px;
  }
  #address .left img {
    max-width: 1024px;
    width: 100%;
  }
  .check-container span.lbl {
    top: -12px;
  }
  #addressPhoto {
    margin-left: 0;
    margin-top: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 100px;
  }
  #addressPhoto .section-rap {
    width: 100%;
    margin: 0 auto;
  }
  #addressPhoto .section-rap .photo-rap {
    width: 100%;
    float: none;
  }
  #addressPhoto .section-rap .photo-rap .below-photo {
    width: 31.8%;
    float: left;
    margin-right: 2.3%;
  }
  #addressPhoto .section-rap .photo-rap .below-photo img {
    width: 100%;
  }
  #addressPhoto .section-rap .photo-rap .below-photo:last-child {
    margin-right: 0;
  }
  #addressPhoto .section-rap .address-txt-rap {
    width: 90%;
    float: none;
    margin: 0 auto;
    padding-top: 27px;
  }
  #addressPhoto .section-rap .address-txt-rap p {
    margin: 4% 0 0 0;
    font-size: 16px;
    font-family: "NotoSansJP-Regular";
    color: #777777;
    line-height: 32px;
  }
  #addressPhoto .section-rap .address-txt-rap p br:nth-child(2) {
    display: none;
  }
  #footer-part {
    position: relative;
    margin-top: 105px;
    margin-bottom: 10px;
  }
  #footer-part .content {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
  }
  #footer-part .content .copyright {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.6px;
    text-align: center;
    padding-top: 5.6%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 370px) {
  .right-section .company-profile .company {
    width: 95% !important;
  }
  .right-section .company-profile .company .left-side {
    flex-basis: 25% !important;
  }
  .right-section .company-profile .company .right-side {
    flex-basis: 80% !important;
    padding: 0 0 0 2.5% !important;
  }
  #address .right {
    margin-left: 1.5%;
  }
}
