// out: company.css, sourcemap: true, compress: false

@import 'common.less';

@font-face {
  font-family: "YuMin";
  src: url("../fonts/YuMincho.ttc") format('truetype'),
}

body {
  position: relative;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

/*
banner section
*/
#banner-section {
  .top-section {
    display: flex;

    .left-section {
      width: 200px;
      position: fixed;
      z-index: 1;
    }

    .right-section {
      margin-left: 25.1%;
      margin-top: 71px;
      width: 67.5%;
      // width: -webkit-calc(~"100% - 200px");
      // width: calc(~"100% - 200px");
      // margin-left: 200px;

      h2 {
        font-family: 'SawarabiMincho-Regular';
        font-size: 32px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.47;
        letter-spacing: 1.6px;
        text-align: left;
        color: #221f20;
      }

      .company-profile {
        max-width: 1200px;
        width: 94.5%;
        margin: 40px 0 0 0;
        border: solid 4px #f4f4f4;

        .company {
          max-width: 1150px;
          width: 92%;
          margin: 0 4%;

          .table-box {
            display: flex;
            width: 100%;
            border-bottom: solid 2px #f4f4f4;
            padding: 0;

            .left-side {
              flex-basis: 19.8%;

              p {
                font-family: 'NotoSansJP-Regular';
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: 0.8px;
                text-align: left;
                color: #221f20;
                border-right: solid 2px #f4f4f4;
              }
            }

            .right-side {
              flex-basis: 75.5%;
              padding: 0 0 0 4.5%;

              p {
                font-family: 'NotoSansJP-Regular';
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: 0.8px;
                text-align: left;
                color: #221f20;
              }
            }
          }

          .table-box:nth-child(1) {
            padding: 12px 0 1px 0;
          }

          .table-box:nth-child(2) {
            padding: 3px 0 0 0;
          }

          .table-box:nth-child(3) {
            padding: 3px 0 0 0;
          }

          .table-box:nth-child(4) {
            padding: 2px 0 0 0;
          }

          .table-box:nth-child(5) {
            padding: 4px 0 0 0;
          }

          .table-box:last-child {
            padding: 0 0 8px 0;
            border-bottom: 0;

            .left-side {
              padding-top: 8px;

              p {
                line-height: 2.5;
              }
            }

            .right-side {
              p {
                line-height: 1.9;
              }
            }
          }
        }
      }
    }
  }
}

#address {
  margin-left: 25.1%;
  margin-top: 95px;
  width: 67.5%;
  display: flex;

  .left {
    flex-basis: 37%;

    h2 {
      font-family: 'SawarabiMincho-Regular';
      font-size: 32px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.47;
      letter-spacing: 1.6px;
      text-align: left;
      color: #221f20;
    }

    p {
      font-family: 'NotoSansJP-Regular';
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: normal;
      text-align: left;
      color: #777777;
      padding-top: 9px;
    }
  }

  .right {
    flex-basis: 58%;
    padding-top: 27px;

    img {
      max-width: 730px;
      width: 100%;
    }
  }
}

#addressPhoto {
  // margin-left: 18.1%;
  margin-left: 250px;
  margin-top: 84px;
  width: 71.1%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 133px;


  .section-rap {
    width: 100%;

    .photo-rap {
      width: 60%;
      float: left;

      .below-photo {
        width: 27.6%;
        float: left;
        margin-right: 4.57%;

        img {
          width: 100%;
        }
      }
    }

    .address-txt-rap {
      width: 40%;
      // float: left;
      float: right;

      p {
        margin: 4% 0 0 3%;
        font-size: 16px;
        font-family: "NotoSansJP-Regular";
        color: #777777;
        line-height: 32px;
      }

    }
  }
}

#footer-part {
  position: relative;
  margin-top: 2px;

  .content {
    margin-left: 25%;
    margin-bottom: 1.12%;
    width: 64.5%;

    .copyright {
      font-family: "Roboto-Regular";
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.6px;
      text-align: left;
      color: #777777;
      padding-top: 17.6%;
    }
  }
}

.back-to-up {
  bottom: 55px;
}

.sp-top-menu {
  display: none;
}

.pc {
  display: block;
}

.sp {
  display: none !important;
  ;
}

/*MOBILE*/
@media only screen and (max-width: 1024px) {
  .sp {
    display: block !important;
  }

  .pc {
    display: none !important;
  }

  .left-meuu {
    display: none;
  }

  .back-to-up {
    display: none;
  }

  body,
  html {
    overflow-x: hidden;
  }

  /*Sp Nav Menu*/
  .top-section {
    display: block !important;
  }

  .sp-top-menu {
    width: 100%;
    display: block;

    .sp-menu-rap {
      padding: 19px 20px;

      .logo {
        float: left;
        width: 61.5%;

        img {
          width: 100%;
          max-width: 206px;
        }
      }

      .sp-nav {
        float: right;
        max-width: 36px;
        width: 100%;
        padding-top: 10px;

        .navline {
          width: 100%;
          height: 1.2px;
          background-color: #221f20;
          margin-bottom: 6px;

          &:nth-child(2) {}
        }
      }
    }
  }

  #banner-section {
    .top-section {
      .right-section {
        margin: 1% 0;
        margin-top: 34px;
        width: 100%;

        h2 {
          font-size: 20px;
          line-height: 1.45;
          letter-spacing: 1px;
          padding-left: 5%;
        }

        .company-profile {
          max-width: 1024px;
          width: 100%;
          margin: 0;
          border: 0;

          .company {
            max-width: 950px;
            width: 90%;
            margin: 0 auto;

            .table-box {
              display: flex;
              width: 100%;
              border-bottom: solid 2px #f4f4f4;
              padding: 0;

              .left-side {
                flex-basis: 27.8%;

                p {
                  font-size: 14px;
                  line-height: 1.5;
                  letter-spacing: 0.7px;
                  border-right: solid 2px #f4f4f4;
                }
              }

              .right-side {
                flex-basis: 75.5%;
                padding: 0 0 0 7.5%;

                p {
                  font-size: 14px;
                  line-height: 1.5;
                  letter-spacing: normal;
                }
              }
            }

            .table-box:nth-child(1) {
              padding: 1px 0 0 0;
            }

            .table-box:nth-child(2) {
              padding: 3px 0 0 0;
            }

            .table-box:nth-child(3) {
              padding: 0;

              .left-side {
                p {
                  padding-top: 10px;
                  line-height: 2;
                }
              }

              .right-side {
                p {
                  line-height: 1.9;
                  position: relative;
                  top: -1px;
                }
              }
            }

            .table-box:nth-child(4) {
              padding: 0;
            }

            .table-box:nth-child(5) {
              padding: 4px 0 0 0;
            }

            .table-box:last-child {
              padding: 0;
              border-bottom: solid 2px #f4f4f4;

              .left-side {
                p {
                  line-height: 3.5;
                  padding-top: 9px;
                }
              }

              .right-side {
                p {
                  line-height: 1.93;
                }
              }
            }
          }
        }
      }
    }
  }

  #address {
    margin: 0 !important;
    margin-top: 62px !important;
    width: 100% !important;
    display: block;

    h2 {
      font-family: 'SawarabiMincho-Regular';
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.47;
      letter-spacing: 1px;
      text-align: left;
      color: #221f20;
      margin-left: 5%;
    }

    .right {
      flex-basis: 100%;
      padding-top: 0px;
      margin-left: 5.5%;

      p {
        font-family: 'NotoSansJP-Regular';
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.7px;
        text-align: left;
        color: #777777;
        padding: 1px 6% 0 0;
      }
    }

    .left {
      flex-basis: 100% !important;
      padding-top: 6px;

      img {
        max-width: 1024px;
        width: 100%;
      }
    }
  }

  .check-container {
    span {
      &.lbl {
        top: -12px;
      }
    }
  }

  #addressPhoto {
    margin-left: 0;
    margin-top: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 100px;


    .section-rap {
      width: 100%;
      margin: 0 auto;

      .photo-rap {
        width: 100%;
        float: none;

        .below-photo {
          width: 31.8%;
          float: left;
          margin-right: 2.3%;

          img {
            width: 100%;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .address-txt-rap {
        width: 90%;
        float: none;
        margin: 0 auto;
        padding-top: 27px;

        p {
          margin: 4% 0 0 0;
          font-size: 16px;
          font-family: "NotoSansJP-Regular";
          color: #777777;
          line-height: 32px;

          br {
            &:nth-child(2) {
              display: none;
            }

          }
        }

      }
    }
  }

  #footer-part {
    position: relative;
    margin-top: 105px;
    margin-bottom: 10px;

    .content {
      max-width: 1024px;
      width: 100%;
      margin: 0 auto;

      .copyright {
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.6px;
        text-align: center;
        padding-top: 5.6%;
      }
    }
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 370px) {
  .right-section .company-profile .company {
    width: 95% !important;
  }

  .right-section .company-profile .company .left-side {
    flex-basis: 25% !important;
  }

  .right-section .company-profile .company .right-side {
    flex-basis: 80% !important;
    padding: 0 0 0 2.5% !important;
  }

  #address .right {
    margin-left: 1.5%;
  }
}
