/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* Fonts install*/
@font-face {
  font-family: "NotoSansJP-Black";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Black.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Bold";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Bold.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Light";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Light.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Medium";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Medium.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Regular";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Regular.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Thin";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Thin.otf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Black";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Black.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-BlackItalic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-BoldItalic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "SawarabiMincho-Regular";
  src: url("../fonts/Sawarabi_Mincho/SawarabiMincho-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "HomemadeApple-Regular";
  src: url("../fonts/Homemade_Apple/HomemadeApple-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "hirakakupro-w3-opentype";
  src: url("../fonts/hirakakupro-w3-opentype.otf") format('truetype');
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/roboto/Roboto-Black.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/roboto/Roboto-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/roboto/Roboto-Medium.ttf") format('truetype');
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
body {
  position: relative;
  margin: 0;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:after,
.clearfix:before {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
/*
*Common Placeholder
*/
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */

  color: #c3c3c3;
  opacity: 1;
  /* Firefox */

}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */

  color: #c3c3c3;
}
::-ms-input-placeholder {
  /* Microsoft Edge */

  color: #c3c3c3;
}
input::-webkit-input-placeholder {
  line-height: normal !important;
}
input[type=text],
input[type=email],
input[type=password],
textarea {
  -webkit-appearance: none;
}
.left-menu-width {
  width: 200px;
}
.left-meuu {
  display: flex;
}
.left-meuu .left-section {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  background: rgba(195, 195, 195, 0.1);
}
.left-meuu .left-section .header-logo {
  margin: 0 auto;
  width: 50%;
  padding: 30% 0px 0px 0;
}
.left-meuu .left-section .header-logo .logo {
  width: 100%;
}
.left-meuu .left-section .menu-section {
  margin: 0 auto;
  padding: 26% 0 0 0;
}
.left-meuu .left-section .menu-section ul {
  padding-left: 0;
}
.left-meuu .left-section .menu-section ul li {
  list-style-type: none;
  line-height: 20px;
  font-size: 14px;
  padding-bottom: 10%;
  letter-spacing: 0.7px;
  font-family: "NotoSansJP-Regular";
  text-align: left;
  padding-left: 20%;
  padding-right: 10%;
}
.left-meuu .left-section .menu-section ul li a {
  text-decoration: none;
  color: #221f20;
  -webkit-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
}
.left-meuu .left-section .menu-section ul li a:hover {
  font-family: "NotoSansJP-Bold";
}
.left-meuu .left-section .menu-section ul li a.active {
  background: url(../images/menu_underline@2x.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 50%;
}
.left-meuu .left-section .menu-section ul li:nth-child(1) a:hover {
  letter-spacing: 0.3px;
}
.left-meuu .left-section .menu-section ul li:nth-child(4) a:hover {
  letter-spacing: 0.3px;
}
.left-meuu .left-section .menu-section .middle {
  list-style: none;
}
.left-meuu .left-section .menu-section .middle li {
  list-style: none;
  padding-bottom: 2.5%;
}
.left-meuu .left-section .menu-section .middle li .social-fb {
  width: 6%;
}
.left-meuu .left-section .menu-section .middle li .social-twitter {
  width: 12%;
  margin: 0px 0px 0px 20%;
}
.left-meuu .left-section .menu-section .middle li:last-child {
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: 0.7px;
  text-align: left;
  color: #221f20;
}
.left-meuu .left-section .menu-section .middle li:last-child:hover a {
  font-family: Roboto-Regular;
}
.left-meuu .left-section .experience-section {
  width: 114.5%;
  background-color: #ffffff;
  border-top-right-radius: 4em;
  border-bottom-right-radius: 4em;
  margin-top: 17%;
  z-index: 1;
  position: relative;
  min-width: 214px;
  box-shadow: 0 3px 7px 0 rgba(119, 119, 119, 0.2);
}
.left-meuu .left-section .experience-section a {
  text-decoration: none;
  color: #221f20;
}
.left-meuu .left-section .experience-section .text-section {
  padding: 6.4% 0px 16.5% 15%;
}
.left-meuu .left-section .experience-section .text-section .top-title {
  font-size: 14px;
  font-family: "NotoSansJP-Regular";
  letter-spacing: 0.7px;
  line-height: 20px;
  color: #221f20;
}
.left-meuu .left-section .experience-section .text-section .middle-title {
  font-size: 20px;
  font-family: "NotoSansJP-Bold";
  line-height: 29px;
  letter-spacing: 1px;
}
.left-meuu .left-section .experience-section .text-section .bottom-title {
  font-size: 14px;
  font-family: "NotoSansJP-Regular";
  letter-spacing: 0.7px;
  line-height: 20px;
  color: #221f20;
  padding-top: 7%;
}
.left-meuu .left-section .experience-section .text-section .bottom-title .text {
  float: left;
}
.left-meuu .left-section .experience-section .text-section .bottom-title .detail-image {
  float: left;
  width: 26px;
}
.left-meuu .left-section .experience-section .text-section .bottom-title .detail-image img {
  width: 100%;
  margin: -9% 0px 0px 19%;
}
.left-meuu .left-section .experience-section:hover {
  opacity: .85;
}
.left-meuu .left-section .bottom {
  margin: 0 auto;
  padding: 49% 0 0 0;
}
.left-meuu .left-section .bottom ul {
  padding-left: 0;
}
.left-meuu .left-section .bottom ul li {
  list-style-type: none;
  line-height: 20px;
  font-size: 12px;
  padding-bottom: 5%;
  letter-spacing: 0.7px;
  font-family: "Roboto-Regular";
  text-align: left;
  padding-left: 20%;
}
.left-meuu .left-section .bottom ul li a {
  text-decoration: none;
  color: #777777;
  -webkit-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.6px;
  text-align: left;
  color: #777777;
}
.left-meuu .left-section .bottom ul li:hover a {
  font-family: Roboto-Black;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.3px;
}
/*VALIDATION MESSAGE*/
.valMsg {
  color: #ef6f87;
  font-family: "NotoSansJP-Regular";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  padding-bottom: 5px;
}
/*Custome checkbox*/
/* Customize the label (the container) */
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check-container span.lbl {
  position: relative;
  top: -10px;
  left: 5px;
}
/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 1px solid #c3c3c3;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: transparent;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 2px;
  height: 6px;
  border: solid #b4d6d3;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*Back Top*/
.back-to-up {
  position: fixed;
  right: 59px;
  bottom: 17px;
  width: 16px;
  cursor: pointer;
}
.back-to-up img {
  width: 100%;
}
/*Video autoplay*/
.video-rap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(270deg, rgba(79, 96, 112, 0.2) 0%, rgba(107, 105, 106, 0.4) 100%);
}
#bg-video {
  position: absolute;
  /* Make video to at least 100% wide and tall */

  min-width: 100%;
  min-height: 100%;
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */

  width: auto;
  height: auto;
  /* Center the video */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -100;
  background-size: cover;
}
/*Menu SP hide from PC*/
.sp-main-nav {
  display: none;
}
.sp-top-menu {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .sp-nav-open {
    cursor: pointer;
  }
  .sp-nav-close {
    cursor: pointer;
  }
  .no-scroll {
    overflow: hidden;
  }
  /*Sp Nav Menu*/
  .sp-top-menu {
    width: 100%;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .sp-top-menu .sp-menu-rap {
    padding: 19px 20px;
  }
  .sp-top-menu .sp-menu-rap .logo {
    float: left;
    width: 61.5%;
  }
  .sp-top-menu .sp-menu-rap .logo img {
    width: 100%;
    max-width: 206px;
  }
  .sp-top-menu .sp-menu-rap .sp-nav {
    float: right;
    max-width: 36px;
    width: 100%;
    padding-top: 10px;
  }
  .sp-top-menu .sp-menu-rap .sp-nav .navline {
    width: 100%;
    height: 1px;
    background-color: #221f20;
    margin-bottom: 6px;
  }
  .sp-main-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 999;
    overflow-y: scroll;
    display: none;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap {
    padding: 19px 20px;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .logo {
    float: left;
    width: 61.5%;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .logo img {
    width: 100%;
    max-width: 206px;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .sp-nav-close {
    float: right;
    max-width: 36px;
    width: 100%;
    padding-top: 10px;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .sp-nav-close .navline {
    width: 100%;
    height: 1px;
    background-color: #221f20;
    margin-bottom: 6px;
  }
  .sp-main-nav .menu-section {
    width: 100%;
    padding: 12px 0 0 0;
  }
  .sp-main-nav .menu-section ul {
    padding: 0;
    margin: 0;
  }
  .sp-main-nav .menu-section ul li a {
    text-decoration: none;
    -webkit-transition: font-weight 0.3s;
    transition: font-weight 0.3s;
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: center;
    color: #221f20;
    display: block;
    padding: 19px 0;
  }
  .sp-main-nav .menu-section ul li a.active {
    background: url(../images/menu_underline@2x.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 50%;
  }
  .sp-main-nav .menu-section .middle {
    padding-top: 38px;
    list-style: none;
  }
  .sp-main-nav .menu-section .middle li {
    padding-bottom: 0;
    text-align: center;
    list-style: none;
  }
  .sp-main-nav .menu-section .middle li .social-fb {
    display: inline;
  }
  .sp-main-nav .menu-section .middle li .social-fb img {
    width: 2%;
  }
  .sp-main-nav .menu-section .middle li .social-twitter {
    display: inline;
  }
  .sp-main-nav .menu-section .middle li .social-twitter img {
    width: 4.3%;
    margin: 0px 0px 0px 7.5%;
  }
  .sp-main-nav .menu-section .middle li a {
    font-family: "Roboto-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 0.7px;
    text-align: center;
    color: #221f20;
    padding: 16px 0;
  }
  .sp-main-nav .experience-section {
    width: 94.6%;
    background-color: #ffffff;
    border-top-right-radius: 16vw;
    border-bottom-right-radius: 16vw;
    margin-top: 30px;
    margin-bottom: 23px;
    z-index: 1;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    box-shadow: 0 3px 7px 0 rgba(119, 119, 119, 0.2);
  }
  .sp-main-nav .experience-section a {
    text-decoration: none;
    color: #221f20;
  }
  .sp-main-nav .experience-section .text-section {
    padding: 20px 0px 40px 32%;
  }
  .sp-main-nav .experience-section .text-section .top-title {
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: left;
    color: #221f20;
    padding-left: 37px;
  }
  .sp-main-nav .experience-section .text-section .middle-title {
    font-family: "NotoSansJP-Bold";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: 1px;
    text-align: left;
    color: #1d2d44;
  }
  .sp-main-nav .experience-section .text-section .bottom-title {
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: left;
    color: #221f20;
    padding-top: 5.2%;
  }
  .sp-main-nav .experience-section .text-section .bottom-title .text {
    float: left;
  }
  .sp-main-nav .experience-section .text-section .bottom-title .detail-image {
    float: left;
    width: 24px;
  }
  .sp-main-nav .experience-section .text-section .bottom-title .detail-image img {
    width: 100%;
    position: relative;
    left: 7px;
    top: -2px;
  }
  .sp-main-nav .menu-section-bottom {
    text-align: center;
    margin: 32px 0;
  }
  .sp-main-nav .menu-section-bottom a {
    font-family: "NotoSansJP-Regular";
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.6px;
    text-align: left;
    color: #777777;
    padding: 3%;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .sp-main-nav .experience-section .text-section {
    padding: 20px 0px 40px 42%;
  }
}
.container-width {
  width: 85.7%;
}
/*Main Conatiner*/
.main-container {
  width: 85.7%;
  float: right;
}
.main-container .inner-container {
  padding-left: 12.5%;
  /*Contact success*/

  /*Policy PC*/

}
.main-container .inner-container .contact-heading {
  padding-top: 99px;
}
.main-container .inner-container .contact-heading h2 {
  font-family: SawarabiMincho-Regular;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 1.6px;
  text-align: left;
  color: #221f20;
  margin: 0;
}
.main-container .inner-container .contact-heading p {
  font-family: NotoSansJP-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: left;
  color: #777777;
  margin: 0;
  padding: 34px 0 21px;
  width: 68%;
}
.main-container .inner-container .contact-heading .form-header {
  width: 100%;
  padding-bottom: 23px;
}
.main-container .inner-container .contact-heading .form-header h3 {
  font-family: NotoSansJP-Bold;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: left;
  color: #1d2d44;
  margin: 0;
}
.main-container .inner-container .contact-heading .form-header h3 a {
  text-decoration: none;
  color: #1d2d44;
}
.main-container .inner-container .contact-heading .form-header h3 span img {
  width: 8px;
  position: relative;
  left: 9px;
  top: 2px;
}
.main-container .inner-container .contact-heading-preview {
  padding-bottom: 37px;
}
.main-container .inner-container .form-rap {
  width: 66.7%;
  border-top: 4px solid #f4f4f4;
}
.main-container .inner-container .form-rap .main-form {
  padding-top: 20px;
  padding-bottom: 196px;
}
.main-container .inner-container .form-rap .main-form .input-group {
  margin-bottom: 46px;
}
.main-container .inner-container .form-rap .main-form .input-group .input-lbl {
  padding-bottom: 18px;
}
.main-container .inner-container .form-rap .main-form .input-group .input-lbl p {
  font-family: NotoSansJP-Bold;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: 0.9px;
  text-align: left;
  color: #221f20;
  margin: 0;
}
.main-container .inner-container .form-rap .main-form .input-group .action-fild label {
  font-family: NotoSansJP-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: left;
  color: #777777;
}
.main-container .inner-container .form-rap .main-form .input-group .action-fild.inquery-type {
  padding-left: 1px;
}
.main-container .inner-container .form-rap .main-form .input-group .action-fild input {
  border: solid 1px #c3c3c3;
  height: 22px;
  font-family: NotoSansJP-Regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: left;
  width: 64.2%;
  padding: 10px 24px;
}
.main-container .inner-container .form-rap .main-form .input-group .action-fild textarea {
  border: solid 1px #c3c3c3;
  height: 188px;
  font-family: NotoSansJP-Regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.67;
  letter-spacing: 0.6px;
  text-align: left;
  width: 92.8%;
  padding: 5px 24px;
  resize: none;
  overflow: auto;
}
.main-container .inner-container .form-rap .main-form .mail-group {
  margin-bottom: 30px;
}
.main-container .inner-container .form-rap .main-form .mail-group .input-lbl {
  padding-bottom: 14px;
}
.main-container .inner-container .form-rap .main-form .mail-group .action-fild input {
  margin-left: 1px;
}
.main-container .inner-container .form-rap .main-form .inquery-group {
  margin-bottom: 30px;
}
.main-container .inner-container .form-rap .main-form .inquery-group .input-lbl {
  padding-bottom: 14px;
}
.main-container .inner-container .form-rap .main-form .inquery-group .action-fild textarea {
  margin-left: 1px;
}
.main-container .inner-container .form-rap .main-form .submit-btn-rap {
  padding-left: 1px;
}
.main-container .inner-container .form-rap .main-form .submit-btn-rap p {
  font-family: NotoSansJP-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: center;
  color: #777777;
  margin: 0;
  padding: 24px 0 32px;
}
.main-container .inner-container .form-rap .main-form .submit-btn-rap p a {
  color: #1d2d44;
}
.main-container .inner-container .form-rap .main-form .submit-btn-rap .btn-submit {
  max-width: 400px;
  width: 57.2%;
  margin: 0 auto;
  background: none;
  border: solid 2px #1d2d44;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: 0.8px;
  text-align: center;
  color: #1d2d44;
  padding: 18px 0;
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.main-container .inner-container .form-rap .main-form .submit-btn-rap .btn-submit img {
  position: absolute;
  width: 10px;
  right: 9.5%;
  top: 21px;
}
.main-container .inner-container .form-rap .main-form .submit-btn-rap .btn-submit:hover {
  background: #1d2d44;
  color: #fff;
}
.main-container .inner-container .form-rap-preview .main-form {
  padding-top: 27px;
  padding-bottom: 393px;
}
.main-container .inner-container .form-rap-preview .main-form .input-group {
  margin-bottom: 30px;
}
.main-container .inner-container .form-rap-preview .main-form .input-group .input-lbl {
  padding-bottom: 8px;
}
.main-container .inner-container .form-rap-preview .main-form .input-group .action-fild .field-value p {
  margin: 0;
  font-family: NotoSansJP-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: left;
  color: #221f20;
  padding-left: 23px;
}
.main-container .inner-container .form-rap-preview .main-form .inquery-group-preview {
  margin-bottom: 0;
  padding-bottom: 39px;
  border-bottom: 4px solid #f4f4f4;
}
.main-container .inner-container .form-rap-preview .main-form .submit-btn-rap {
  padding-top: 38px;
}
.main-container .inner-container .form-rap-preview .main-form .submit-btn-rap .back-to-edit {
  max-width: 217px;
  width: 31%;
  margin: 0 auto;
  padding: 40px 0;
}
.main-container .inner-container .form-rap-preview .main-form .submit-btn-rap .back-to-edit a {
  display: block;
}
.main-container .inner-container .form-rap-preview .main-form .submit-btn-rap .back-to-edit a img {
  width: 100%;
}
.main-container .inner-container .contact-success .contact-success-rap {
  padding-bottom: 245px;
}
.main-container .inner-container .contact-success .contact-success-rap .success-message {
  width: 66.7%;
  border-top: 4px solid #f4f4f4;
  border-bottom: 4px solid #f4f4f4;
}
.main-container .inner-container .contact-success .contact-success-rap .success-message p {
  font-family: NotoSansJP-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: left;
  color: #777777;
  margin: 0;
  padding: 25px 0;
}
.main-container .inner-container .contact-success .contact-success-rap .success-message .schedule {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 32px;
}
.main-container .inner-container .contact-success .contact-success-rap .success-message .schedule .calender {
  float: left;
}
.main-container .inner-container .contact-success .contact-success-rap .success-message .schedule .calender img {
  max-width: 40px;
}
.main-container .inner-container .contact-success .contact-success-rap .success-message .schedule .schedule-txt {
  float: left;
}
.main-container .inner-container .contact-success .contact-success-rap .success-message .schedule .schedule-txt p {
  margin: 0;
  font-family: NotoSansJP-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: left;
  color: #221f20;
  padding: 4px 18px 4px 24px;
}
.main-container .inner-container .contact-success .contact-success-rap .success-message .schedule .schedule-link {
  padding-top: 5px;
}
.main-container .inner-container .contact-success .contact-success-rap .success-message .schedule .schedule-link a {
  border: solid 2px #1d2d44;
  text-decoration: none;
  padding: 5px 11px 1px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
  float: left;
}
.main-container .inner-container .contact-success .contact-success-rap .success-message .schedule .schedule-link a img {
  width: 6px;
  position: relative;
  top: -2px;
  left: 1px;
}
.main-container .inner-container .contact-success .contact-success-rap .success-baner {
  width: 66.7%;
  padding-top: 38px;
}
.main-container .inner-container .contact-success .contact-success-rap .success-baner .banner {
  width: 100%;
  margin-bottom: 10px;
}
.main-container .inner-container .contact-success .contact-success-rap .success-baner .banner img {
  width: 100%;
}
.main-container .inner-container .contact-success .contact-success-rap .success-baner .back-top {
  max-width: 147px;
  width: 21%;
  margin: 0 auto;
  padding: 48px 0;
}
.main-container .inner-container .contact-success .contact-success-rap .success-baner .back-top a {
  display: block;
}
.main-container .inner-container .contact-success .contact-success-rap .success-baner .back-top a img {
  width: 100%;
}
.main-container .inner-container .policy-heading {
  width: 100%;
  padding-top: 99px;
  padding-bottom: 37px;
}
.main-container .inner-container .policy-heading h2 {
  font-family: SawarabiMincho-Regular;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 1.6px;
  text-align: left;
  color: #221f20;
  margin: 0;
}
.main-container .inner-container .policy-body {
  width: 85.8%;
  border-top: 4px solid #f4f4f4;
  padding-top: 61px;
}
.main-container .inner-container .policy-body .policy-para {
  width: 100%;
  margin-bottom: 62px;
}
.main-container .inner-container .policy-body .policy-para h3 {
  font-family: NotoSansJP-Bold;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.78;
  letter-spacing: 0.9px;
  text-align: left;
  color: #221f20;
  margin: 0;
  padding-bottom: 33px;
}
.main-container .inner-container .policy-body .policy-para p {
  font-family: NotoSansJP-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: left;
  color: #777777;
  margin: 0;
  position: relative;
}
.main-container .inner-container .policy-body .policy-para ul {
  list-style: none;
  padding: 0;
}
.main-container .inner-container .policy-body .policy-para ul li {
  list-style: none;
}
.main-container .inner-container .policy-body .policy-para ul li p {
  position: relative;
  padding-left: 20px;
}
.main-container .inner-container .policy-body .policy-para ul li p::before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.main-container .inner-container .policy-body .policy-para ul li p:nth-child(1)::before {
  content: "①";
}
.main-container .inner-container .policy-body .policy-para ul li p:nth-child(2)::before {
  content: "②";
}
.main-container .inner-container .policy-body .policy-para ul li p:nth-child(3)::before {
  content: "③";
}
.main-container .inner-container .policy-body .policy-para ul li p:nth-child(4)::before {
  content: "④";
}
.main-container .inner-container .policy-body .policy-para ul li p:nth-child(5)::before {
  content: "⑤";
}
.main-container .inner-container .policy-body .policy-para ul li p:nth-child(6)::before {
  content: "⑥";
}
.main-container .inner-container .policy-body .policy-para ul li p:nth-child(7)::before {
  content: "⑦";
}
.main-container .inner-container .policy-body .policy-para ul li p:nth-child(8)::before {
  content: "⑧";
}
.main-container .inner-container .policy-body .back-to-home {
  padding-top: 57px;
  padding-bottom: 84px;
}
.main-container .inner-container .policy-body .back-to-home a {
  text-decoration: none;
}
.main-container .inner-container .policy-body .back-to-home a .prev-arrow {
  width: 40px;
  height: 40px;
  background-color: #f4f4f4;
  position: relative;
  float: left;
}
.main-container .inner-container .policy-body .back-to-home a .prev-arrow img {
  position: absolute;
  left: 35%;
  top: 28%;
  width: 25%;
}
.main-container .inner-container .policy-body .back-to-home a p {
  margin: 0;
  font-family: Roboto-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: 0.8px;
  text-align: left;
  color: #777777;
  padding-top: 11px;
  padding-left: 24px;
  float: left;
}
.main-container .footer {
  width: 100%;
  padding-bottom: 40px;
}
.main-container .footer p {
  font-family: Roboto-Regular;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.6px;
  text-align: left;
  color: #777777;
  margin: 0;
  padding-left: 12.5%;
}
.pc {
  display: block;
}
.sp {
  display: none;
}
/*MOBILE*/
@media only screen and (max-width: 1024px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .left-meuu {
    display: none;
  }
  .back-to-up {
    display: none;
  }
  body,
  html {
    overflow-x: hidden;
  }
  .check-container span.lbl {
    top: -12px;
  }
  /*Main Container sp*/
  .main-container {
    width: 100%;
    float: none;
  }
  .main-container .inner-container {
    padding: 0;
    width: 89.33%;
    margin: 0 auto;
    /*Policy SP*/
  
    /*End Privacy Policy SP*/
  
  }
  .main-container .inner-container .contact-heading {
    padding-top: 34px;
  }
  .main-container .inner-container .contact-heading h2 {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: 1px;
    text-align: left;
    color: #221f20;
  }
  .main-container .inner-container .contact-heading p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.7px;
    text-align: left;
    color: #777777;
    padding: 26px 0 16px;
    width: 100%;
  }
  .main-container .inner-container .contact-heading .form-header h3 span img {
    left: 10px;
  }
  .main-container .inner-container .contact-heading-preview {
    padding-bottom: 30px;
  }
  .main-container .inner-container .contact-success .contact-success-rap {
    padding-bottom: 357px;
  }
  .main-container .inner-container .contact-success .contact-success-rap .success-message {
    width: 100%;
  }
  .main-container .inner-container .contact-success .contact-success-rap .success-message p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.7px;
    text-align: left;
    color: #777777;
    padding: 26px 0;
  }
  .main-container .inner-container .contact-success .contact-success-rap .success-message .schedule {
    padding-top: 11px;
    padding-bottom: 24px;
  }
  .main-container .inner-container .contact-success .contact-success-rap .success-message .schedule .calender {
    padding-left: 7%;
  }
  .main-container .inner-container .contact-success .contact-success-rap .success-message .schedule .schedule-txt p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.7px;
    text-align: left;
    color: #221f20;
    padding: 4px 8px 4px 16px;
  }
  .main-container .inner-container .contact-success .contact-success-rap .success-message .schedule .schedule-link a {
    border: 0;
  }
  .main-container .inner-container .contact-success .contact-success-rap .success-baner {
    width: 100%;
    padding-top: 23px;
  }
  .main-container .inner-container .contact-success .contact-success-rap .success-baner .banner {
    margin-bottom: 16px;
  }
  .main-container .inner-container .contact-success .contact-success-rap .success-baner .back-top {
    max-width: 135px;
    width: 40.5%;
    padding: 31px 0;
  }
  .main-container .inner-container .form-rap {
    width: 100%;
  }
  .main-container .inner-container .form-rap .main-form {
    padding-bottom: 117px;
  }
  .main-container .inner-container .form-rap .main-form .input-group {
    margin-bottom: 22px;
  }
  .main-container .inner-container .form-rap .main-form .input-group .action-fild label {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.29;
    letter-spacing: 0.7px;
    text-align: left;
    color: #777777;
  }
  .main-container .inner-container .form-rap .main-form .input-group .action-fild input {
    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }
  .main-container .inner-container .form-rap .main-form .input-group .action-fild textarea {
    width: -webkit-calc(100% - 50px);
    width: calc(100% - 50px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
  }
  .main-container .inner-container .form-rap .main-form .mail-group {
    margin-bottom: 30px;
  }
  .main-container .inner-container .form-rap .main-form .mail-group .action-fild input {
    margin-left: 0;
  }
  .main-container .inner-container .form-rap .main-form .inquery-group .action-fild textarea {
    margin-left: 0;
  }
  .main-container .inner-container .form-rap .main-form .submit-btn-rap {
    padding-left: 0;
  }
  .main-container .inner-container .form-rap .main-form .submit-btn-rap p {
    padding: 9px 0 35px;
  }
  .main-container .inner-container .form-rap .main-form .submit-btn-rap .btn-submit {
    width: 89.5%;
    padding: 8px 0;
    max-width: 365px;
  }
  .main-container .inner-container .form-rap .main-form .submit-btn-rap .btn-submit img {
    right: 7.4%;
    top: 10px;
  }
  .main-container .inner-container .form-rap .main-form .submit-btn-rap .back-to-edit {
    max-width: 195px;
    width: 58%;
  }
  .main-container .inner-container .form-rap-preview .main-form {
    padding-top: 20px;
    padding-bottom: 297px;
  }
  .main-container .inner-container .form-rap-preview .main-form .input-group {
    margin-bottom: 26px;
  }
  .main-container .inner-container .form-rap-preview .main-form .input-group .input-lbl {
    padding-bottom: 6px;
  }
  .main-container .inner-container .form-rap-preview .main-form .input-group .action-fild .field-value p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.29;
    letter-spacing: 0.7px;
    text-align: left;
    color: #221f20;
  }
  .main-container .inner-container .form-rap-preview .main-form .submit-btn-rap {
    padding-top: 12px;
  }
  .main-container .inner-container .form-rap-preview .main-form .mail-group {
    margin-bottom: 32px;
  }
  .main-container .inner-container .form-rap-preview .main-form .inquery-group-preview {
    padding-bottom: 27px;
  }
  .main-container .inner-container .form-rap-preview .main-form .inquery-group-preview .input-lbl {
    padding-bottom: 8px;
  }
  .main-container .inner-container .form-rap-preview .main-form .inquery-group-preview .action-fild .field-value p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.7px;
    text-align: left;
    color: #221f20;
  }
  .main-container .inner-container .policy-heading {
    width: 100%;
    padding-top: 34px;
    padding-bottom: 30px;
  }
  .main-container .inner-container .policy-heading h2 {
    font-family: SawarabiMincho-Regular;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: 1px;
    text-align: left;
    color: #221f20;
    margin: 0;
  }
  .main-container .inner-container .policy-body {
    width: 100%;
    border-top: 4px solid #f4f4f4;
    padding-top: 26px;
  }
  .main-container .inner-container .policy-body .policy-para {
    width: 100%;
    margin-bottom: 57px;
  }
  .main-container .inner-container .policy-body .policy-para h3 {
    font-family: NotoSansJP-Bold;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.8px;
    text-align: left;
    color: #221f20;
    margin: 0;
    padding-bottom: 24px;
  }
  .main-container .inner-container .policy-body .policy-para p {
    font-family: NotoSansJP-Regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.7px;
    text-align: left;
    color: #777777;
    margin: 0;
  }
  .main-container .inner-container .policy-body .back-to-home {
    padding-top: 4px;
    padding-bottom: 176px;
  }
  .main-container .inner-container .policy-body .back-to-home a {
    text-decoration: none;
  }
  .main-container .inner-container .policy-body .back-to-home a .prev-arrow {
    width: 40px;
    height: 40px;
    background-color: #f4f4f4;
    position: relative;
    float: left;
  }
  .main-container .inner-container .policy-body .back-to-home a .prev-arrow img {
    position: absolute;
    left: 35%;
    top: 28%;
    width: 25%;
  }
  .main-container .inner-container .policy-body .back-to-home a p {
    margin: 0;
    font-family: Roboto-Regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 0.7px;
    text-align: left;
    color: #777777;
    padding-top: 12px;
    padding-left: 24px;
    float: left;
  }
  .main-container .footer {
    padding-bottom: 12px;
  }
  .main-container .footer p {
    padding-left: 0;
    text-align: center;
  }
}
@media only screen and (max-width: 360px) {
  .main-container .inner-container .contact-success .contact-success-rap .success-message .schedule .schedule-txt p {
    font-size: 11px;
  }
}
