@import 'common.less';

.container-width {
  width: 85.7%;
}

/*Main Conatiner*/
.main-container {
  .container-width;
  float: right;

  .inner-container {
    padding-left: 12.5%;

    .contact-heading {
      padding-top: 99px;

      h2 {
        font-family: SawarabiMincho-Regular;
        font-size: 32px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.47;
        letter-spacing: 1.6px;
        text-align: left;
        color: #221f20;
        margin: 0;
      }

      p {
        font-family: NotoSansJP-Regular;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.8px;
        text-align: left;
        color: #777777;
        margin: 0;
        padding: 34px 0 21px;
        width: 68%;
      }

      .form-header {
        width: 100%;
        padding-bottom: 23px;

        h3 {
          font-family: NotoSansJP-Bold;
          font-size: 16px;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.8px;
          text-align: left;
          color: #1d2d44;
          margin: 0;

          a {
            text-decoration: none;
            color: #1d2d44;
          }

          span {
            img {
              width: 8px;
              position: relative;
              left: 9px;
              top: 2px;
            }
          }
        }
      }
    }

    .contact-heading-preview {
      padding-bottom: 37px;
    }

    .form-rap {
      width: 66.7%;
      border-top: 4px solid #f4f4f4;

      .main-form {
        padding-top: 20px;
        padding-bottom: 196px;

        .input-group {
          margin-bottom: 46px;

          .input-lbl {
            padding-bottom: 18px;

            p {
              font-family: NotoSansJP-Bold;
              font-size: 18px;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.78;
              letter-spacing: 0.9px;
              text-align: left;
              color: #221f20;
              margin: 0;
            }
          }

          .action-fild {
            label {
              font-family: NotoSansJP-Regular;
              font-size: 16px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 2;
              letter-spacing: 0.8px;
              text-align: left;
              color: #777777;
            }

            &.inquery-type {
              padding-left: 1px;
            }

            input {
              border: solid 1px #c3c3c3;
              height: 22px;
              font-family: NotoSansJP-Regular;
              font-size: 12px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: normal;
              letter-spacing: 0.6px;
              text-align: left;
              width: 64.2%;
              padding: 10px 24px;
            }

            textarea {
              border: solid 1px #c3c3c3;
              height: 188px;
              font-family: NotoSansJP-Regular;
              font-size: 12px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 2.67;
              letter-spacing: 0.6px;
              text-align: left;
              width: 92.8%;
              padding: 5px 24px;
              resize: none;
              overflow: auto;

            }
          }
        }

        .mail-group {
          margin-bottom: 30px;

          .input-lbl {
            padding-bottom: 14px;
          }

          .action-fild {
            input {
              margin-left: 1px;
            }
          }
        }

        .inquery-group {
          margin-bottom: 30px;

          .input-lbl {
            padding-bottom: 14px;
          }

          .action-fild {
            textarea {
              margin-left: 1px;
            }
          }

        }

        .submit-btn-rap {
          padding-left: 1px;

          p {
            font-family: NotoSansJP-Regular;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: 0.8px;
            text-align: center;
            color: #777777;
            margin: 0;
            padding: 24px 0 32px;

            a {
              color: #1d2d44;
            }
          }

          .btn-submit {
            max-width: 400px;
            width: 57.2%;
            margin: 0 auto;
            background: none;
            border: solid 2px #1d2d44;

            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 700;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.31;
            letter-spacing: 0.8px;
            text-align: center;
            color: #1d2d44;

            padding: 18px 0;
            position: relative;

            display: block;
            cursor: pointer;

            -webkit-transition: all .3s;
            transition: all .3s;

            img {
              position: absolute;
              width: 10px;
              right: 9.5%;
              top: 21px;
            }

            &:hover {
              background: #1d2d44;
              color: #fff;
            }
          }
        }
      }
    }

    .form-rap-preview {
      .main-form {
        padding-top: 27px;
        padding-bottom: 393px;

        .input-group {
          margin-bottom: 30px;

          .input-lbl {
            padding-bottom: 8px;
          }

          .action-fild {
            .field-value {
              p {
                margin: 0;
                font-family: NotoSansJP-Regular;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 2;
                letter-spacing: 0.8px;
                text-align: left;
                color: #221f20;
                padding-left: 23px;
              }
            }
          }
        }

        .inquery-group-preview {
          margin-bottom: 0;
          padding-bottom: 39px;
          border-bottom: 4px solid #f4f4f4;
        }

        .submit-btn-rap {
          padding-top: 38px;

          .back-to-edit {
            max-width: 217px;
            width: 31%;
            margin: 0 auto;
            padding: 40px 0;

            a {
              display: block;

              img {
                width: 100%;
              }
            }
          }
        }
      }
    }

    /*Contact success*/
    .contact-success {
      .contact-success-rap {
        padding-bottom: 245px;

        .success-message {
          width: 66.7%;
          border-top: 4px solid #f4f4f4;
          border-bottom: 4px solid #f4f4f4;

          p {
            font-family: NotoSansJP-Regular;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: 0.8px;
            text-align: left;
            color: #777777;
            margin: 0;
            padding: 25px 0;
          }

          .schedule {
            width: 100%;
            padding-top: 20px;
            padding-bottom: 32px;

            .calender {
              float: left;

              img {
                max-width: 40px;
              }
            }

            .schedule-txt {
              float: left;

              p {
                margin: 0;
                font-family: NotoSansJP-Regular;
                font-size: 16px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 2;
                letter-spacing: 0.8px;
                text-align: left;
                color: #221f20;
                padding: 4px 18px 4px 24px;
              }
            }

            .schedule-link {
              padding-top: 5px;

              a {
                border: solid 2px #1d2d44;
                text-decoration: none;
                padding: 5px 11px 1px;
                margin: 0 auto;
                position: relative;
                -webkit-transition: all .3s;
                transition: all .3s;
                float: left;

                img {
                  width: 6px;
                  position: relative;
                  top: -2px;
                  left: 1px;
                }
              }
            }
          }
        }

        .success-baner {
          width: 66.7%;
          padding-top: 38px;

          .banner {
            width: 100%;
            margin-bottom: 10px;

            img {
              width: 100%;
            }
          }

          .back-top {
            max-width: 147px;
            width: 21%;
            margin: 0 auto;
            padding: 48px 0;

            a {
              display: block;

              img {
                width: 100%;
              }
            }

          }
        }
      }
    }

    /*Policy PC*/
    .policy-heading {
      width: 100%;
      padding-top: 99px;
      padding-bottom: 37px;

      h2 {
        font-family: SawarabiMincho-Regular;
        font-size: 32px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.47;
        letter-spacing: 1.6px;
        text-align: left;
        color: #221f20;
        margin: 0;
      }
    }

    .policy-body {
      width: 85.8%;
      border-top: 4px solid #f4f4f4;
      padding-top: 61px;

      .policy-para {
        width: 100%;
        margin-bottom: 62px;

        h3 {
          font-family: NotoSansJP-Bold;
          font-size: 18px;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.78;
          letter-spacing: 0.9px;
          text-align: left;
          color: #221f20;
          margin: 0;
          padding-bottom: 33px;

        }

        p {
          font-family: NotoSansJP-Regular;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.8px;
          text-align: left;
          color: #777777;
          margin: 0;
          position: relative;
        }

        ul {
          list-style: none;
          padding: 0;

          li {
            list-style: none;

            p {
              position: relative;
              padding-left: 20px;

              &::before {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
              }

              &:nth-child(1) {
                &::before {
                  content: "①";
                }
              }

              &:nth-child(2) {
                &::before {
                  content: "②";
                }
              }

              &:nth-child(3) {
                &::before {
                  content: "③";
                }
              }

              &:nth-child(4) {
                &::before {
                  content: "④";
                }
              }

              &:nth-child(5) {
                &::before {
                  content: "⑤";
                }
              }

              &:nth-child(6) {
                &::before {
                  content: "⑥";
                }
              }

              &:nth-child(7) {
                &::before {
                  content: "⑦";
                }
              }

              &:nth-child(8) {
                &::before {
                  content: "⑧";
                }
              }
            }
          }
        }
      }

      .back-to-home {
        padding-top: 57px;
        padding-bottom: 84px;

        a {
          text-decoration: none;

          .prev-arrow {
            width: 40px;
            height: 40px;
            background-color: #f4f4f4;
            position: relative;
            float: left;

            img {
              position: absolute;
              left: 35%;
              top: 28%;
              width: 25%;
            }
          }

          p {
            margin: 0;
            font-family: Roboto-Regular;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.31;
            letter-spacing: 0.8px;
            text-align: left;
            color: #777777;
            padding-top: 11px;
            padding-left: 24px;
            float: left;
          }

        }


      }
    }
  }

  .footer {
    width: 100%;
    padding-bottom: 40px;

    p {
      font-family: Roboto-Regular;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.6px;
      text-align: left;
      color: #777777;
      margin: 0;
      padding-left: 12.5%;
    }
  }
}

.pc {
  display: block;
}

.sp {
  display: none;
}

/*MOBILE*/
@media only screen and (max-width: 1024px) {
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  .left-meuu {
    display: none;
  }

  .back-to-up {
    display: none;
  }

  body,
  html {
    overflow-x: hidden;
  }

  .check-container {
    span {
      &.lbl {
        top: -12px;

      }
    }
  }

  /*Main Container sp*/
  .main-container {
    width: 100%;
    float: none;

    .inner-container {
      padding: 0;
      width: 89.33%;
      margin: 0 auto;

      .contact-heading {
        padding-top: 34px;

        h2 {
          font-size: 20px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.45;
          letter-spacing: 1px;
          text-align: left;
          color: #221f20;
        }

        p {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.7px;
          text-align: left;
          color: #777777;
          padding: 26px 0 16px;
          width: 100%;
        }

        .form-header {
          h3 {
            span {
              img {
                left: 10px;
              }
            }
          }
        }
      }

      .contact-heading-preview {
        padding-bottom: 30px;
      }

      .contact-success {
        .contact-success-rap {
          padding-bottom: 357px;

          .success-message {
            width: 100%;

            p {
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 2;
              letter-spacing: 0.7px;
              text-align: left;
              color: #777777;
              padding: 26px 0;
            }

            .schedule {
              padding-top: 11px;
              padding-bottom: 24px;

              .calender {
                padding-left: 7%;
              }

              .schedule-txt {
                p {
                  font-size: 14px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 2;
                  letter-spacing: 0.7px;
                  text-align: left;
                  color: #221f20;
                  padding: 4px 8px 4px 16px;
                }
              }

              .schedule-link {
                a {
                  border: 0;
                }
              }
            }
          }

          .success-baner {
            width: 100%;
            padding-top: 23px;

            .banner {
              margin-bottom: 16px;
            }

            .back-top {
              max-width: 135px;
              width: 40.5%;
              padding: 31px 0;
            }
          }
        }
      }

      .form-rap {
        width: 100%;

        .main-form {
          padding-bottom: 117px;

          .input-group {
            margin-bottom: 22px;

            .input-lbl {}

            .action-fild {
              label {
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 2.29;
                letter-spacing: 0.7px;
                text-align: left;
                color: #777777;
              }

              input {
                width: -webkit-calc(~"100% - 50px");
                width: calc(~"100% - 50px");
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border-radius: 0;
              }

              textarea {
                width: -webkit-calc(~"100% - 50px");
                width: calc(~"100% - 50px");
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border-radius: 0;
              }
            }
          }

          .mail-group {
            margin-bottom: 30px;

            .action-fild {
              input {
                margin-left: 0;
              }
            }
          }

          .inquery-group {
            .action-fild {
              textarea {
                margin-left: 0;
              }
            }
          }

          .submit-btn-rap {
            padding-left: 0;

            p {
              padding: 9px 0 35px;
            }

            .btn-submit {
              width: 89.5%;
              padding: 8px 0;
              max-width: 365px;

              img {
                right: 7.4%;
                top: 10px;
              }
            }

            .back-to-edit {
              max-width: 195px;
              width: 58%;
            }
          }
        }
      }

      .form-rap-preview {
        .main-form {
          padding-top: 20px;
          padding-bottom: 297px;

          .input-group {
            margin-bottom: 26px;

            .input-lbl {
              padding-bottom: 6px;
            }

            .action-fild {
              .field-value {
                p {
                  font-size: 14px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 2.29;
                  letter-spacing: 0.7px;
                  text-align: left;
                  color: #221f20;
                }
              }
            }
          }

          .submit-btn-rap {
            padding-top: 12px;
          }

          .mail-group {
            margin-bottom: 32px;
          }

          .inquery-group-preview {
            padding-bottom: 27px;

            .input-lbl {
              padding-bottom: 8px;
            }

            .action-fild {
              .field-value {
                p {
                  font-size: 14px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 2;
                  letter-spacing: 0.7px;
                  text-align: left;
                  color: #221f20;
                }
              }
            }
          }
        }
      }

      /*Policy SP*/
      .policy-heading {
        width: 100%;
        padding-top: 34px;
        padding-bottom: 30px;

        h2 {
          font-family: SawarabiMincho-Regular;
          font-size: 20px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.45;
          letter-spacing: 1px;
          text-align: left;
          color: #221f20;
          margin: 0;
        }
      }

      .policy-body {
        width: 100%;
        border-top: 4px solid #f4f4f4;
        padding-top: 26px;

        .policy-para {
          width: 100%;
          margin-bottom: 57px;

          h3 {
            font-family: NotoSansJP-Bold;
            font-size: 16px;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: 0.8px;
            text-align: left;
            color: #221f20;
            margin: 0;
            padding-bottom: 24px;

          }

          p {
            font-family: NotoSansJP-Regular;
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: 0.7px;
            text-align: left;
            color: #777777;
            margin: 0;
          }
        }

        .back-to-home {
          padding-top: 4px;
          padding-bottom: 176px;

          a {
            text-decoration: none;

            .prev-arrow {
              width: 40px;
              height: 40px;
              background-color: #f4f4f4;
              position: relative;
              float: left;

              img {
                position: absolute;
                left: 35%;
                top: 28%;
                width: 25%;
              }
            }

            p {
              margin: 0;
              font-family: Roboto-Regular;
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.36;
              letter-spacing: 0.7px;
              text-align: left;
              color: #777777;
              padding-top: 12px;
              padding-left: 24px;
              float: left;
            }

          }
        }
      }

      /*End Privacy Policy SP*/




    }

    .footer {
      padding-bottom: 12px;

      p {
        padding-left: 0;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .main-container .inner-container .contact-success .contact-success-rap .success-message .schedule .schedule-txt p {
    font-size: 11px;
  }
}
