/*common*/
.btn-center {
  padding: 3.4% 0 11.6% 0;
  text-align: center;
}
.btn-center a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: 0.8px;
  text-align: center;
  color: #1d2d44;
  border: solid 2px #1d2d44;
  text-decoration: none;
  padding: 1.3% 4% 1.27% 4%;
  display: block;
  max-width: 284px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-center a img {
  width: 10px;
  position: absolute;
  right: 9.5%;
}
.btn-center a:hover {
  background: #1d2d44;
  color: #fff;
}
#our-mission .img-box {
  background: url('../images/title1_img@2x.jpg');
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  padding: 410px;
}
#our-mission .content {
  display: flex;
}
#our-mission .left-miss h1 {
  font-family: PlayfairDisplay-Regular;
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 5px;
  text-align: left;
  color: #ffffff;
  margin: 0;
  padding: 56.9% 0 0 0%;
  position: relative;
  left: -1px;
}
#our-mission .right-miss {
  margin-left: 19.64%;
}
#our-mission .right-miss h2 {
  font-family: SawarabiMincho-Regular;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 3.2px;
  text-align: left;
  color: #221f20;
  margin: 29.6% 0 0% 0;
}
#our-mission .right-miss h4 {
  font-family: PlayfairDisplay-Regular;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 1.13px;
  text-align: left;
  color: #221f20;
  margin: .3% 0 0 0;
}
#our-mission .right-miss p {
  font-family: NotoSansJP-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.75px;
  text-align: left;
  color: #777777;
  margin: 11.2% 0 0 0;
  max-width: 501px;
  width: 100%;
}
#our-vision {
  position: relative;
  margin-top: 1px;
}
#our-vision .img4 {
  width: 59.3%;
  position: absolute;
  right: 0;
  top: -24.1%;
  max-width: 960px;
}
#our-vision h1 {
  font-family: PlayfairDisplay-Regular;
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 5px;
  text-align: left;
  color: #f4f4f4;
  margin: 0;
}
#our-vision h2 {
  font-family: SawarabiMincho-Regular;
  font-size: 40px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 2px;
  text-align: left;
  color: #221f20;
  position: absolute;
  top: 16.5%;
  left: 18.1%;
}
#our-vision p {
  font-family: NotoSansJP;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.7px;
  text-align: left;
  color: #777777;
  position: absolute;
  margin: 0;
  top: 90%;
  left: 18%;
  max-width: 504px;
}
#our-program {
  position: relative;
  margin-top: 37.3%;
}
#our-program h1 {
  font-family: PlayfairDisplay-Regular;
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 5px;
  text-align: left;
  color: #f4f4f4;
}
#our-program h2 {
  font-family: SawarabiMincho-Regular;
  font-size: 40px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 2px;
  text-align: left;
  color: #221f20;
  position: absolute;
  top: 13.8%;
  left: 18.3%;
}
#our-program .program-block {
  display: flex;
  margin-left: 18.6%;
  padding-top: 0.22%;
  margin-bottom: 1.2%;
}
#our-program .program-block h5 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: left;
  color: #221f20;
}
#our-program .program-block p {
  font-family: NotoSansJP-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.65px;
  text-align: left;
  color: #777777;
}
#our-program .program-block .student {
  flex-basis: 48.2%;
  padding-bottom: 1.6%;
  position: relative;
  top: -162px;
}
#our-program .program-block .student h5 {
  margin: 4.8% 0 0 6.4%;
  padding-top: 4.5%;
}
#our-program .program-block .student h6 {
  font-family: "SawarabiMincho-Regular";
  font-size: 20px;
  margin: 4.5% 0 0 6.4%;
  line-height: 35px;
  color: #221F20;
}
#our-program .program-block .student p {
  margin: 4.6% 0 0 6.4%;
  max-width: 368px;
  padding-bottom: 19px;
}
#our-program .program-block .student .student-inner {
  border-left: 4px solid #221f20;
}
#our-program .program-block .business {
  border-left: 4px solid #221f20;
  flex-basis: 66%;
  padding-bottom: 1.6%;
}
#our-program .program-block .business h5 {
  margin: 3.5% 0 0 4.5%;
}
#our-program .program-block .business h6 {
  font-family: "SawarabiMincho-Regular";
  font-size: 20px;
  margin: 3.5% 0 0 5%;
  line-height: 35px;
  color: #221F20;
}
#our-program .program-block .business p {
  margin: 8.3% 0 0 4.5%;
  max-width: 368px;
}
#our-program .btn-center {
  padding-bottom: 123px !important;
}
