/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* Fonts install*/
@font-face {
  font-family: "NotoSansJP-Black";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Black.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Bold";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Bold.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Light";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Light.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Medium";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Medium.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Regular";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Regular.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Thin";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Thin.otf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Black";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Black.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-BlackItalic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-BoldItalic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "SawarabiMincho-Regular";
  src: url("../fonts/Sawarabi_Mincho/SawarabiMincho-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "HomemadeApple-Regular";
  src: url("../fonts/Homemade_Apple/HomemadeApple-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "hirakakupro-w3-opentype";
  src: url("../fonts/hirakakupro-w3-opentype.otf") format('truetype');
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/roboto/Roboto-Black.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/roboto/Roboto-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/roboto/Roboto-Medium.ttf") format('truetype');
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
body {
  position: relative;
  margin: 0;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:after,
.clearfix:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/*
*Common Placeholder
*/
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c3c3c3;
  opacity: 1;
  /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c3c3c3;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c3c3c3;
}
input::-webkit-input-placeholder {
  line-height: normal !important;
}
input[type=text],
input[type=email],
input[type=password],
textarea {
  -webkit-appearance: none;
}
.left-menu-width {
  width: 200px;
}
.left-meuu {
  display: flex;
}
.left-meuu .left-section {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  background: rgba(195, 195, 195, 0.1);
}
.left-meuu .left-section .header-logo {
  margin: 0 auto;
  width: 50%;
  padding: 30% 0px 0px 0;
}
.left-meuu .left-section .header-logo .logo {
  width: 100%;
}
.left-meuu .left-section .menu-section {
  margin: 0 auto;
  padding: 26% 0 0 0;
}
.left-meuu .left-section .menu-section ul {
  padding-left: 0;
}
.left-meuu .left-section .menu-section ul li {
  list-style-type: none;
  line-height: 20px;
  font-size: 14px;
  padding-bottom: 10%;
  letter-spacing: 0.7px;
  font-family: "NotoSansJP-Regular";
  text-align: left;
  padding-left: 20%;
  padding-right: 10%;
}
.left-meuu .left-section .menu-section ul li a {
  text-decoration: none;
  color: #221f20;
  -webkit-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
}
.left-meuu .left-section .menu-section ul li a:hover {
  font-family: "NotoSansJP-Bold";
}
.left-meuu .left-section .menu-section ul li a.active {
  background: url(../images/menu_underline@2x.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 50%;
}
.left-meuu .left-section .menu-section ul li:nth-child(1) a:hover {
  letter-spacing: 0.3px;
}
.left-meuu .left-section .menu-section ul li:nth-child(4) a:hover {
  letter-spacing: 0.3px;
}
.left-meuu .left-section .menu-section .middle {
  list-style: none;
}
.left-meuu .left-section .menu-section .middle li {
  list-style: none;
  padding-bottom: 2.5%;
}
.left-meuu .left-section .menu-section .middle li .social-fb {
  width: 6%;
}
.left-meuu .left-section .menu-section .middle li .social-twitter {
  width: 12%;
  margin: 0px 0px 0px 20%;
}
.left-meuu .left-section .menu-section .middle li:last-child {
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: 0.7px;
  text-align: left;
  color: #221f20;
}
.left-meuu .left-section .menu-section .middle li:last-child:hover a {
  font-family: Roboto-Regular;
}
.left-meuu .left-section .experience-section {
  width: 114.5%;
  background-color: #ffffff;
  border-top-right-radius: 4em;
  border-bottom-right-radius: 4em;
  margin-top: 17%;
  z-index: 1;
  position: relative;
  min-width: 214px;
  box-shadow: 0 3px 7px 0 rgba(119, 119, 119, 0.2);
}
.left-meuu .left-section .experience-section a {
  text-decoration: none;
  color: #221f20;
}
.left-meuu .left-section .experience-section .text-section {
  padding: 6.4% 0px 16.5% 15%;
}
.left-meuu .left-section .experience-section .text-section .top-title {
  font-size: 14px;
  font-family: "NotoSansJP-Regular";
  letter-spacing: 0.7px;
  line-height: 20px;
  color: #221f20;
}
.left-meuu .left-section .experience-section .text-section .middle-title {
  font-size: 20px;
  font-family: "NotoSansJP-Bold";
  line-height: 29px;
  letter-spacing: 1px;
}
.left-meuu .left-section .experience-section .text-section .bottom-title {
  font-size: 14px;
  font-family: "NotoSansJP-Regular";
  letter-spacing: 0.7px;
  line-height: 20px;
  color: #221f20;
  padding-top: 7%;
}
.left-meuu .left-section .experience-section .text-section .bottom-title .text {
  float: left;
}
.left-meuu .left-section .experience-section .text-section .bottom-title .detail-image {
  float: left;
  width: 26px;
}
.left-meuu .left-section .experience-section .text-section .bottom-title .detail-image img {
  width: 100%;
  margin: -9% 0px 0px 19%;
}
.left-meuu .left-section .experience-section:hover {
  opacity: .85;
}
.left-meuu .left-section .bottom {
  margin: 0 auto;
  padding: 49% 0 0 0;
}
.left-meuu .left-section .bottom ul {
  padding-left: 0;
}
.left-meuu .left-section .bottom ul li {
  list-style-type: none;
  line-height: 20px;
  font-size: 12px;
  padding-bottom: 5%;
  letter-spacing: 0.7px;
  font-family: "Roboto-Regular";
  text-align: left;
  padding-left: 20%;
}
.left-meuu .left-section .bottom ul li a {
  text-decoration: none;
  -webkit-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.6px;
  text-align: left;
  color: #777777;
}
.left-meuu .left-section .bottom ul li:hover a {
  font-family: Roboto-Black;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.3px;
}
/*VALIDATION MESSAGE*/
.valMsg {
  color: #ef6f87;
  font-family: "NotoSansJP-Regular";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  padding-bottom: 5px;
}
/*Custome checkbox*/
/* Customize the label (the container) */
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check-container span.lbl {
  position: relative;
  top: -10px;
  left: 5px;
}
/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 1px solid #c3c3c3;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: transparent;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 2px;
  height: 6px;
  border: solid #b4d6d3;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*Back Top*/
.back-to-up {
  position: fixed;
  right: 59px;
  bottom: 17px;
  width: 16px;
  cursor: pointer;
}
.back-to-up img {
  width: 100%;
}
/*Video autoplay*/
.video-rap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(270deg, rgba(79, 96, 112, 0.2) 0%, rgba(107, 105, 106, 0.4) 100%);
}
#bg-video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -100;
  background-size: cover;
}
/*Menu SP hide from PC*/
.sp-main-nav {
  display: none;
}
.sp-top-menu {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .sp-nav-open {
    cursor: pointer;
  }
  .sp-nav-close {
    cursor: pointer;
  }
  .no-scroll {
    overflow: hidden;
  }
  /*Sp Nav Menu*/
  .sp-top-menu {
    width: 100%;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .sp-top-menu .sp-menu-rap {
    padding: 19px 20px;
  }
  .sp-top-menu .sp-menu-rap .logo {
    float: left;
    width: 61.5%;
  }
  .sp-top-menu .sp-menu-rap .logo img {
    width: 100%;
    max-width: 206px;
  }
  .sp-top-menu .sp-menu-rap .sp-nav {
    float: right;
    width: 10.6%;
    padding-top: 1.8%;
  }
  .sp-top-menu .sp-menu-rap .sp-nav .navline {
    width: 100%;
    height: 1px;
    background-color: #221f20;
    margin-bottom: 6px;
  }
  .sp-main-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 999;
    overflow-y: scroll;
    display: none;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap {
    padding: 19px 20px;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .logo {
    float: left;
    width: 61.5%;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .logo img {
    width: 100%;
    max-width: 206px;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .sp-nav-close {
    float: right;
    max-width: 36px;
    width: 100%;
    padding-top: 10px;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .sp-nav-close .navline {
    width: 100%;
    height: 1px;
    background-color: #221f20;
    margin-bottom: 6px;
  }
  .sp-main-nav .menu-section {
    width: 100%;
    padding: 12px 0 0 0;
  }
  .sp-main-nav .menu-section ul {
    padding: 0;
    margin: 0;
  }
  .sp-main-nav .menu-section ul li a {
    text-decoration: none;
    -webkit-transition: font-weight 0.3s;
    transition: font-weight 0.3s;
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: center;
    color: #221f20;
    display: block;
    padding: 19px 0;
  }
  .sp-main-nav .menu-section ul li a.active {
    background: url(../images/menu_underline@2x.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 50%;
  }
  .sp-main-nav .menu-section .middle {
    padding-top: 38px;
    list-style: none;
  }
  .sp-main-nav .menu-section .middle li {
    padding-bottom: 0;
    text-align: center;
    list-style: none;
  }
  .sp-main-nav .menu-section .middle li .social-fb {
    display: inline;
  }
  .sp-main-nav .menu-section .middle li .social-fb img {
    width: 2%;
  }
  .sp-main-nav .menu-section .middle li .social-twitter {
    display: inline;
  }
  .sp-main-nav .menu-section .middle li .social-twitter img {
    width: 4.3%;
    margin: 0px 0px 0px 7.5%;
  }
  .sp-main-nav .menu-section .middle li a {
    font-family: "Roboto-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 0.7px;
    text-align: center;
    color: #221f20;
    padding: 16px 0;
  }
  .sp-main-nav .experience-section {
    width: 94.6%;
    background-color: #ffffff;
    border-top-right-radius: 16vw;
    border-bottom-right-radius: 16vw;
    margin-top: 30px;
    margin-bottom: 23px;
    z-index: 1;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    box-shadow: 0 3px 7px 0 rgba(119, 119, 119, 0.2);
  }
  .sp-main-nav .experience-section a {
    text-decoration: none;
    color: #221f20;
  }
  .sp-main-nav .experience-section .text-section {
    padding: 20px 0px 40px 32%;
  }
  .sp-main-nav .experience-section .text-section .top-title {
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: left;
    color: #221f20;
    padding-left: 37px;
  }
  .sp-main-nav .experience-section .text-section .middle-title {
    font-family: "NotoSansJP-Bold";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: 1px;
    text-align: left;
    color: #1d2d44;
  }
  .sp-main-nav .experience-section .text-section .bottom-title {
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: left;
    color: #221f20;
    padding-top: 5.2%;
  }
  .sp-main-nav .experience-section .text-section .bottom-title .text {
    float: left;
  }
  .sp-main-nav .experience-section .text-section .bottom-title .detail-image {
    float: left;
    width: 24px;
  }
  .sp-main-nav .experience-section .text-section .bottom-title .detail-image img {
    width: 100%;
    position: relative;
    left: 7px;
    top: -2px;
  }
  .sp-main-nav .menu-section-bottom {
    text-align: center;
    margin: 32px 0;
  }
  .sp-main-nav .menu-section-bottom a {
    font-family: "NotoSansJP-Regular";
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.6px;
    text-align: left;
    color: #777777;
    padding: 3%;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .sp-main-nav .experience-section .text-section {
    padding: 20px 0px 40px 42%;
  }
}
@font-face {
  font-family: "YuMin";
  src: url("../fonts/YuMincho.ttc") format('truetype');
}
.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  /*-----------OUR MISSION------------*/
}
.container .sp {
  display: none;
}
.container .mission-top {
  display: flex;
  -webkit-display: flex;
}
.container .mission-top .right-section {
  width: -webkit-calc(100% - 200px);
  width: calc(100% - 200px);
  margin-left: 200px;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  position: relative;
}
.container .mission-top .right-section .right-baner-animi {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.container .mission-top .right-section .right-baner-animi img {
  width: 100%;
}
.container .mission-top .right-section.start {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .5s linear, visibility .5s linear;
  transition: opacity .5s linear, visibility .5s linear;
}
.container .mission-top .right-section.start .right-baner-animi {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.container .our-mission {
  position: relative;
  display: flex;
}
.container .our-mission .our-mission-txt {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
}
.container .our-mission .our-mission-txt h1 {
  font-family: 'PlayfairDisplay-Regular';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 5px;
  text-align: left;
  color: #f4f4f4;
  margin: 0;
  font-size: 100px;
}
.container .our-mission .inner-content {
  width: -webkit-calc(100% - 250px);
  width: calc(100% - 250px);
  margin-left: 250px;
  margin-top: 80px;
}
.container .our-mission .inner-content h2 {
  text-align: right;
  width: 56%;
  font-family: "NotoSansJP-Regular";
  font-weight: bold;
  font-size: 22px;
}
.container .our-mission .inner-content .title {
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 3.2px;
  color: #221f20;
  font-family: 'SawarabiMincho-Regular';
  margin-bottom: 33px;
}
.container .our-mission .inner-content .description .inner-p {
  width: 56%;
}
.container .our-mission .inner-content .description p {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.9px;
  text-align: left;
  color: #777777;
  font-family: "NotoSansJP-Regular";
}
.container .our-mission .inner-content .description h4 {
  font-family: "NotoSansJP-Bold";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.9px;
  text-align: left;
  color: #221f20;
}
.container .our-mission .inner-content .description:nth-of-type(2) {
  margin-top: 4.6%;
  position: relative;
}
.container .our-mission .inner-content .description:nth-of-type(2) h4 {
  margin-bottom: 0;
}
.container .our-mission .inner-content .description:nth-of-type(2) p {
  font-family: "NotoSansJP-Regular";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: 0.8px;
  text-align: left;
  color: #777777;
}
.container .our-mission .inner-content .description:nth-of-type(2) .mission-01 {
  position: absolute;
  top: 24%;
  right: 0;
  max-width: 579px;
  width: 100%;
  z-index: -1;
}
.container .our-mission .inner-content .description:nth-of-type(3) {
  margin-top: 4.6%;
  position: relative;
}
.container .our-mission .inner-content .description:nth-of-type(3) h4 {
  margin-bottom: 0;
}
.container .our-mission .inner-content .description:nth-of-type(3) p {
  font-family: "NotoSansJP-Regular";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: 0.8px;
  text-align: left;
  color: #777777;
}
.container .our-mission .inner-content .description:nth-of-type(3) .mission-02 {
  position: absolute;
  top: 4.5%;
  right: 0;
  max-width: 415px;
  width: 100%;
  z-index: -2;
}
.container .our-mission .inner-content .description:nth-of-type(4) {
  margin-top: 4.4%;
  position: relative;
}
.container .our-mission .inner-content .description:nth-of-type(4) h4 {
  margin-bottom: 0;
}
.container .our-mission .inner-content .description:nth-of-type(4) p {
  font-family: "NotoSansJP-Regular";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: 0.8px;
  text-align: left;
  color: #777777;
}
.container .our-mission .inner-content .description:nth-of-type(5) {
  margin-top: 50px;
  position: relative;
}
.container .our-mission .inner-content .description:nth-of-type(5) h4 {
  margin-bottom: 0;
}
.container .our-mission .inner-content .description:nth-of-type(5) p {
  font-family: "NotoSansJP-Regular";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: 0.8px;
  text-align: left;
  color: #777777;
}
.container .our-mission .inner-content .description:nth-of-type(5) p:nth-child(2) {
  margin-bottom: 28px;
}
.container .our-mission .inner-content .description:nth-of-type(5) .mission-03 {
  position: absolute;
  top: -10.8%;
  right: 0;
  max-width: 322px;
  width: 100%;
  z-index: -1;
}
.container .our-mission .inner-content .our-policy {
  margin-top: 30%;
}
.container .our-mission .inner-content .our-policy .title h1 {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 1px;
  color: #221f20;
}
.container .our-mission .inner-content .our-policy .title h1 img {
  width: 21px;
  margin-right: 16px;
}
.container .our-mission .inner-content .our-policy .policy-list {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 33px;
}
.container .our-mission .inner-content .our-policy .policy-list .policy {
  flex-basis: 45%;
  border-left: 3px solid;
  box-sizing: border-box;
  margin: 0 0 41px 0;
}
.container .our-mission .inner-content .our-policy .policy-list .policy .policy-inner {
  padding: 9px 63px 7px 29px;
}
.container .our-mission .inner-content .our-policy .policy-list .policy .policy-inner h1 {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: 1.2px;
  color: #221f20;
  margin-bottom: 7px;
}
.container .our-mission .inner-content .our-policy .policy-list .policy .policy-inner h1 span {
  font-family: 'Roboto-Regular';
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.33;
  letter-spacing: 0.6px;
  color: #221f20;
  margin-left: 19px;
  position: relative;
  top: -4px;
}
.container .our-mission .inner-content .our-policy .policy-list .policy .policy-inner .sub-title {
  font-family: 'SawarabiMincho-Regular';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.9px;
  text-align: left;
  color: #221f20;
  margin: 0 0 19px 0;
}
.container .our-mission .inner-content .our-policy .policy-list .policy .policy-inner p {
  font-family: 'NotoSansJP-Regular';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.7px;
  text-align: left;
  color: #777777;
}
.container .our-mission .inner-content .our-thinking {
  margin-top: 7%;
}
.container .our-mission .inner-content .our-thinking .thinking-title h1 {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 1px;
  color: #221f20;
  margin-bottom: 51px;
}
.container .our-mission .inner-content .our-thinking .thinking-title h1 img {
  width: 21px;
  margin-right: 16px;
}
.container .our-mission .inner-content .our-thinking .row-item {
  margin-bottom: 20px;
}
.container .our-mission .inner-content .our-thinking .row-item .thinking {
  width: 27%;
}
.container .our-mission .inner-content .our-thinking .row-item .thinking .thinking-inner h1 {
  font-family: 'SawarabiMincho-Regular';
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.7;
  letter-spacing: 1px;
  color: #221f20;
}
.container .our-mission .inner-content .our-thinking .row-item .thinking .thinking-inner p {
  font-family: 'NotoSansJP-Regular';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.7px;
  text-align: left;
  color: #777777;
}
.container .our-mission .inner-content .our-thinking .row-item .feature-image {
  padding: 0px 38px;
  margin-top: 30px;
}
.container .our-mission .inner-content .our-thinking .row-item .feature-image img {
  max-width: 994px;
  width: 100%;
  position: relative;
  left: -3.7%;
}
.container .our-mission .inner-content .bottom-description {
  border: solid 4px #f4f4f4;
  background-color: #ffffff;
  width: 77.5%;
  margin-top: 16.8%;
}
.container .our-mission .inner-content .bottom-description .bottom-content {
  margin: 0 auto;
  width: 76%;
}
.container .our-mission .inner-content .bottom-description .bottom-content .title {
  font-family: "SawarabiMincho-Regular";
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 1px;
  text-align: center;
  color: #221f20;
  padding-top: 7.5%;
  margin-bottom: 27px;
}
.container .our-mission .inner-content .bottom-description .bottom-content .description {
  font-family: "NotoSansJP-Regular";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: center;
  color: #777777;
  padding-top: 0;
  margin-top: 0;
}
.container .our-mission .inner-content .bottom-description .bottom-content .btn-details {
  padding: 8.1% 0 8% 0;
  text-align: center;
}
.container .our-mission .inner-content .bottom-description .bottom-content .btn-details a {
  font-family: "Roboto-Regular";
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: 0.8px;
  text-align: center;
  color: #1d2d44;
  border: solid 2px #1d2d44;
  text-decoration: none;
  padding: 3% 4% 2.3% 4%;
  display: block;
  max-width: 341px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.container .our-mission .inner-content .bottom-description .bottom-content .btn-details a img {
  width: 10px;
  position: absolute;
  right: 9.5%;
}
.container .our-mission .inner-content .bottom-description .bottom-content .btn-details a:hover {
  color: #fff;
  background: #1d2d44;
}
.container .our-mission .inner-content .copyright {
  margin-top: 16.3%;
  margin-bottom: 40px;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.6px;
  color: #777777;
}
/* ==========================================================================
   style for mission page smartphone
   Rayhan
============================================================================= */
@media only screen and (max-width: 1024px) {
  .container .pc {
    display: none;
  }
  .container .sp {
    display: block;
  }
  .container .sp-top-menu {
    width: 100%;
    display: block;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .container .sp-top-menu .sp-menu-rap {
    padding: 19px 20px 14px 20px;
  }
  .container .sp-top-menu .sp-menu-rap .logo {
    float: left;
    width: 61.5%;
  }
  .container .sp-top-menu .sp-menu-rap .logo img {
    width: 100%;
    max-width: 206px;
  }
  .container .sp-top-menu .sp-menu-rap .sp-nav {
    float: right;
    max-width: 36px;
    width: 100%;
    padding-top: 10px;
  }
  .container .sp-top-menu .sp-menu-rap .sp-nav .navline {
    width: 100%;
    height: 1.2px;
    background-color: #221f20;
    margin-bottom: 6px;
  }
  .container .our-mission {
    position: relative;
    display: block;
  }
  .container .our-mission .mission-top-image-sp {
    position: relative;
    width: 100%;
  }
  .container .our-mission .mission-top-image-sp img.mission-top-sp {
    width: 100%;
    position: relative;
    top: -60px;
    z-index: -99;
  }
  .container .our-mission .our-mission-txt {
    position: relative;
    top: -48px;
    left: 0;
    z-index: -1;
    display: flex;
  }
  .container .our-mission .our-mission-txt h1 {
    font-family: 'PlayfairDisplay-Regular';
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 3.2px;
    text-align: left;
    color: #f4f4f4;
    margin: 0;
    font-size: 64px;
  }
  .container .our-mission .inner-content {
    width: 95%;
    margin-left: 5%;
    margin-top: -159px;
  }
  .container .our-mission .inner-content h2 {
    width: 100%;
  }
  .container .our-mission .inner-content .title {
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 2px;
    color: #221f20;
    font-family: 'SawarabiMincho-Regular';
    margin-bottom: 1px;
  }
  .container .our-mission .inner-content .description .inner-p {
    width: 93%;
  }
  .container .our-mission .inner-content .description p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    font-family: "NotoSansJP-Regular";
    line-height: 1.78;
    letter-spacing: 0.9px;
    text-align: left;
    color: #777777;
  }
  .container .our-mission .inner-content .description h4 {
    font-family: "NotoSansJP-Regular";
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.75;
    letter-spacing: 0.8px;
    text-align: left;
    color: #221f20;
  }
  .container .our-mission .inner-content .description:nth-of-type(2) {
    position: relative;
    margin-top: 0;
    top: 2px;
  }
  .container .our-mission .inner-content .description:nth-of-type(2) img.mission-middle-sp {
    max-width: 100%;
  }
  .container .our-mission .inner-content .description:nth-of-type(2) h4 {
    margin-bottom: 0;
    width: 96%;
  }
  .container .our-mission .inner-content .description:nth-of-type(2) .inner-p {
    width: 93%;
  }
  .container .our-mission .inner-content .description:nth-of-type(2) p {
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.6px;
    text-align: left;
    color: #777777;
    margin-top: 18px;
  }
  .container .our-mission .inner-content .description:nth-of-type(3) {
    margin-top: 61px;
    position: relative;
    width: 94%;
  }
  .container .our-mission .inner-content .description:nth-of-type(3) img.mission-middle-sp {
    max-width: 100%;
  }
  .container .our-mission .inner-content .description:nth-of-type(3) .inner-p {
    width: 100%;
  }
  .container .our-mission .inner-content .description:nth-of-type(3) p {
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.7px;
    text-align: left;
    color: #777777;
    padding-top: 4px;
  }
  .container .our-mission .inner-content .description:nth-of-type(4) {
    margin-top: 58px;
    position: relative;
  }
  .container .our-mission .inner-content .description:nth-of-type(4) img.mission-middle-sp {
    max-width: 100%;
  }
  .container .our-mission .inner-content .description:nth-of-type(4) .inner-p {
    width: 92%;
  }
  .container .our-mission .inner-content .description:nth-of-type(4) p {
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.7px;
    text-align: left;
    color: #777777;
    padding-top: 6px;
  }
  .container .our-mission .inner-content .description:nth-of-type(5) {
    margin-top: 58px;
    position: relative;
  }
  .container .our-mission .inner-content .description:nth-of-type(5) h4 {
    margin-bottom: 0;
    letter-spacing: 1.2px;
  }
  .container .our-mission .inner-content .description:nth-of-type(5) img.mission-middle-sp {
    max-width: 100%;
  }
  .container .our-mission .inner-content .description:nth-of-type(5) p.inner-p.sp {
    margin-top: -12px !important;
    float: left;
    margin-bottom: 0px !important;
  }
  .container .our-mission .inner-content .description:nth-of-type(5) .inner-p {
    width: 92%;
  }
  .container .our-mission .inner-content .description:nth-of-type(5) p {
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.7px;
    text-align: left;
    color: #777777;
    margin-bottom: 23px;
    margin-top: 21px;
  }
  .container .our-mission .inner-content .above-policy {
    float: left;
    width: 100%;
    margin-top: 8px;
  }
  .container .our-mission .inner-content .above-policy img.above-policy.sp {
    float: right;
    position: relative;
    right: 2px;
  }
  .container .our-mission .inner-content .our-policy {
    margin-top: 19%;
    float: left;
    width: 100%;
  }
  .container .our-mission .inner-content .our-policy .title h1 {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 1px;
    color: #221f20;
  }
  .container .our-mission .inner-content .our-policy .title h1 img {
    width: 21px;
    margin-right: 16px;
    margin-top: 4px;
    float: left;
  }
  .container .our-mission .inner-content .our-policy .policy-list {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px;
  }
  .container .our-mission .inner-content .our-policy .policy-list .policy {
    flex-basis: 100%;
    border-left: 3px solid;
    box-sizing: border-box;
    margin: 0px 0 24.3px 0;
    max-height: 78.6vw;
  }
  .container .our-mission .inner-content .our-policy .policy-list .policy .policy-inner {
    padding: 0px 20px 0px 29px;
  }
  .container .our-mission .inner-content .our-policy .policy-list .policy .policy-inner h1 {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.1;
    letter-spacing: 1.2px;
    color: #221f20;
    margin-bottom: 11px;
    margin-top: 15px;
  }
  .container .our-mission .inner-content .our-policy .policy-list .policy .policy-inner h1 span {
    font-family: 'Roboto-Regular';
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.33;
    letter-spacing: 0.6px;
    color: #221f20;
    margin-left: 19px;
    position: relative;
    top: -4px;
  }
  .container .our-mission .inner-content .our-policy .policy-list .policy .policy-inner .sub-title {
    font-family: 'SawarabiMincho-Regular';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    color: #221f20;
    margin: 0 0 19px 0;
    line-height: 1.44;
    letter-spacing: 0.8px;
  }
  .container .our-mission .inner-content .our-policy .policy-list .policy .policy-inner p {
    font-family: 'NotoSansJP-Regular';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.6px;
    text-align: left;
    color: #777777;
  }
  .container .our-mission .inner-content .our-thinking {
    position: relative;
    margin-top: 41px;
    float: left;
    width: 100%;
  }
  .container .our-mission .inner-content .our-thinking img.think-sp-2.sp {
    max-width: 94%;
    margin-bottom: 12px;
  }
  .container .our-mission .inner-content .our-thinking img.think-sp-3.sp {
    max-width: 94%;
    margin-bottom: 12px;
  }
  .container .our-mission .inner-content .our-thinking .thinking-title h1 {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 1px;
    color: #221f20;
    margin-bottom: 51px;
  }
  .container .our-mission .inner-content .our-thinking .thinking-title h1 img {
    width: 21px;
    margin-right: 16px;
    top: -3px;
    position: relative;
  }
  .container .our-mission .inner-content .our-thinking img.think-sp-1 {
    max-width: 94%;
    margin-top: -26px;
    margin-bottom: 4px;
  }
  .container .our-mission .inner-content .our-thinking .row-item {
    display: block;
    margin-bottom: 44px;
  }
  .container .our-mission .inner-content .our-thinking .row-item .thinking {
    width: 100%;
  }
  .container .our-mission .inner-content .our-thinking .row-item .thinking .thinking-inner h1 {
    font-family: 'SawarabiMincho-Regular';
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.69;
    letter-spacing: 0.8px;
    color: #221f20;
    margin-bottom: 22px;
  }
  .container .our-mission .inner-content .our-thinking .row-item .thinking .thinking-inner p {
    font-family: 'NotoSansJP-Regular';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.6px;
    text-align: left;
    color: #777777;
    margin-top: -4px;
    width: 92%;
  }
  .container .our-mission .inner-content .our-thinking .row-item .thinking .thinking-inner p.for-sp {
    margin-top: 14px !important;
  }
  .container .our-mission .inner-content .our-thinking .row-item .feature-image {
    padding: 0px 38px;
    margin-top: -18px;
  }
  .container .our-mission .inner-content .our-thinking .row-item .feature-image img {
    max-width: 650px;
    width: 100%;
  }
  .container .our-mission .inner-content .bottom-description {
    border: solid 4px #f4f4f4;
    background-color: #ffffff;
    width: 92%;
    margin-top: 12.2%;
    padding-bottom: 10px;
    margin-bottom: 42%;
    float: left;
  }
  .container .our-mission .inner-content .bottom-description .bottom-content {
    margin: 0 auto;
    width: 91%;
  }
  .container .our-mission .inner-content .bottom-description .bottom-content .title {
    font-family: "SawarabiMincho-Regular";
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 1.2px;
    text-align: center;
    color: #221f20;
    padding-top: 7.5%;
    margin-bottom: 18px;
  }
  .container .our-mission .inner-content .bottom-description .bottom-content .description {
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.7px;
    text-align: center;
    color: #777777;
    padding-top: 0;
    margin-top: 0;
  }
  .container .our-mission .inner-content .bottom-description .bottom-content .btn-details {
    padding: 13.4% 0 8% 0;
    text-align: center;
  }
  .container .our-mission .inner-content .bottom-description .bottom-content .btn-details a {
    font-family: "Roboto-Regular";
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: 0.8px;
    text-align: center;
    color: #1d2d44;
    border: solid 2px #1d2d44;
    text-decoration: none;
    padding: 3% 4% 2.26% 4%;
    display: block;
    max-width: 341px;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .container .our-mission .inner-content .bottom-description .bottom-content .btn-details a img {
    width: 10px;
    position: absolute;
    right: 7.5%;
  }
  .container .our-mission .inner-content .bottom-description .bottom-content .btn-details a:hover {
    color: #fff;
    background: #1d2d44;
  }
  .container .our-mission .inner-content .copyright {
    margin-top: 0.3%;
    margin-bottom: 10px;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.6px;
    color: #777777;
    text-align: center;
    position: relative;
    left: -10px;
    float: left;
    width: 100%;
  }
}
