// out: mission.css, sourcemap: true, compress: false

@import 'common.less';

@font-face {
  font-family: "YuMin";
  src: url("../fonts/YuMincho.ttc") format('truetype'),
}

.container {
  .sp {
    display: none;
  }

  width: 100%;
  margin: 0 auto;
  position: relative;

  .mission-top {
    display: flex;
    -webkit-display: flex;

    .right-section {
      width: -webkit-calc(~"100% - 200px");
      width: calc(~"100% - 200px");
      margin-left: 200px;
      visibility: hidden;
      opacity: 0;
      overflow: hidden;
      position: relative;



      .right-baner-animi {

        -webkit-transition: -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
        transition: -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
        transition: transform 1s cubic-bezier(.165, .84, .44, 1);
        transition: transform 1s cubic-bezier(.165, .84, .44, 1), -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);

        img {
          width: 100%;
        }

      }

      &.start {
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity .5s linear, visibility .5s linear;
        transition: opacity .5s linear, visibility .5s linear;

        .right-baner-animi {
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
        }
      }
    }
  }

  /*-----------OUR MISSION------------*/
  .our-mission {
    position: relative;
    display: flex;

    .our-mission-txt {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: flex;

      h1 {
        font-family: 'PlayfairDisplay-Regular';
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: 5px;
        text-align: left;
        color: #f4f4f4;
        margin: 0;
        font-size: 100px;
      }
    }

    .inner-content {
      // width: 85.7%;
      // margin-left: 18%;
      width: -webkit-calc(~"100% - 250px");
      width: calc(~"100% - 250px");
      margin-left: 250px;
      margin-top: 80px;

      h2 {
        text-align: right;
        width: 56%;
        font-family: "NotoSansJP-Regular";
        font-weight: bold;
        font-size: 22px;
      }

      .title {
        font-size: 40px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.47;
        letter-spacing: 3.2px;
        color: #221f20;
        font-family: 'SawarabiMincho-Regular';
        margin-bottom: 33px;
      }

      .description {
        .inner-p {
          width: 56%;
        }

        p {
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.9px;
          text-align: left;
          color: #777777;
          font-family: "NotoSansJP-Regular";
        }

        h4 {
          font-family: "NotoSansJP-Bold";
          font-size: 18px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.9px;
          text-align: left;
          color: #221f20;
        }

        &:nth-of-type(2) {
          margin-top: 4.6%;
          position: relative;

          h4 {
            margin-bottom: 0;
          }

          p {
            font-family: "NotoSansJP-Regular";
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.25;
            letter-spacing: 0.8px;
            text-align: left;
            color: #777777;
          }

          .mission-01 {
            position: absolute;
            top: 24%;
            right: 0;
            max-width: 579px;
            width: 100%;
            z-index: -1;
          }
        }

        &:nth-of-type(3) {
          margin-top: 4.6%;
          position: relative;

          h4 {
            margin-bottom: 0;
          }

          p {
            font-family: "NotoSansJP-Regular";
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.25;
            letter-spacing: 0.8px;
            text-align: left;
            color: #777777;
          }

          .mission-02 {
            position: absolute;
            top: 4.5%;
            right: 0;
            max-width: 415px;
            width: 100%;
            z-index: -2;
          }
        }

        &:nth-of-type(4) {
          margin-top: 4.4%;
          position: relative;

          h4 {
            margin-bottom: 0;
          }

          p {
            font-family: "NotoSansJP-Regular";
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.25;
            letter-spacing: 0.8px;
            text-align: left;
            color: #777777;
          }
        }

        &:nth-of-type(5) {
          margin-top: 50px;
          position: relative;

          h4 {
            margin-bottom: 0;
          }

          p {
            font-family: "NotoSansJP-Regular";
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.25;
            letter-spacing: 0.8px;
            text-align: left;
            color: #777777;

            &:nth-child(2) {
              margin-bottom: 28px;
            }
          }

          .mission-03 {
            position: absolute;
            top: -10.8%;
            right: 0;
            max-width: 322px;
            width: 100%;
            z-index: -1;
          }
        }
      }

      //our policy
      .our-policy {
        margin-top: 30%;

        .title {
          h1 {
            font-family: 'Roboto';
            font-size: 20px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: 1px;
            color: #221f20;

            img {
              width: 21px;
              margin-right: 16px;
            }
          }
        }

        .policy-list {
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
          margin-top: 33px;

          .policy {
            flex-basis: 45%;
            border-left: 3px solid;
            box-sizing: border-box;
            margin: 0 0 41px 0;

            .policy-inner {
              padding: 9px 63px 7px 29px;

              h1 {
                font-family: 'Roboto';
                font-size: 24px;
                font-weight: 900;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.17;
                letter-spacing: 1.2px;
                color: #221f20;
                margin-bottom: 7px;

                span {
                  font-family: 'Roboto-Regular';
                  font-size: 12px;
                  font-weight: 900;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 2.33;
                  letter-spacing: 0.6px;
                  color: #221f20;
                  margin-left: 19px;
                  position: relative;
                  top: -4px;
                }
              }

              .sub-title {
                font-family: 'SawarabiMincho-Regular';
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: 0.9px;
                text-align: left;
                color: #221f20;
                margin: 0 0 19px 0;
              }

              p {
                font-family: 'NotoSansJP-Regular';
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 2;
                letter-spacing: 0.7px;
                text-align: left;
                color: #777777;
              }
            }
          }
        }
      }

      // our thinking
      .our-thinking {
        margin-top: 7%;

        .thinking-title {
          h1 {
            font-family: 'Roboto';
            font-size: 20px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.4;
            letter-spacing: 1px;
            color: #221f20;
            margin-bottom: 51px;

            img {
              width: 21px;
              margin-right: 16px;
            }
          }
        }

        .row-item {
          // display: -moz-box;
          // display: -ms-flexbox;
          // display: -webkit-flex;
          // display: flex;
          margin-bottom: 20px;

          .thinking {
            width: 27%;

            .thinking-inner {
              h1 {
                font-family: 'SawarabiMincho-Regular';
                font-size: 20px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.7;
                letter-spacing: 1px;
                color: #221f20;
              }

              p {
                font-family: 'NotoSansJP-Regular';
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 2;
                letter-spacing: 0.7px;
                text-align: left;
                color: #777777;
              }
            }
          }

          .feature-image {
            padding: 0px 38px;
            margin-top: 30px;

            img {
              max-width: 994px;
              width: 100%;
              position: relative;
              left: -3.7%;
            }
          }
        }
      }

      // buttom box
      .bottom-description {
        border: solid 4px #f4f4f4;
        background-color: #ffffff;
        width: 77.5%;
        margin-top: 16.8%;

        .bottom-content {
          margin: 0 auto;
          width: 76%;

          .title {
            font-family: "SawarabiMincho-Regular";
            font-size: 32px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.47;
            letter-spacing: 1px;
            text-align: center;
            color: #221f20;
            padding-top: 7.5%;
            margin-bottom: 27px;
          }

          .description {
            font-family: "NotoSansJP-Regular";
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: 0.8px;
            text-align: center;
            color: #777777;
            padding-top: 0;
            margin-top: 0;
          }

          .btn-details {
            padding: 8.1% 0 8% 0;
            text-align: center;

            a {
              font-family: "Roboto-Regular";
              font-size: 16px;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.31;
              letter-spacing: 0.8px;
              text-align: center;
              color: #1d2d44;
              border: solid 2px #1d2d44;
              text-decoration: none;
              padding: 3% 4% 2.3% 4%;
              display: block;
              max-width: 341px;
              margin: 0 auto;
              position: relative;
              -webkit-transition: all .3s;
              transition: all .3s;

              img {
                width: 10px;
                position: absolute;
                right: 9.5%;
              }
            }

            a:hover {
              color: #fff;
              background: #1d2d44;
            }
          }
        }
      }

      // copyright
      .copyright {
        margin-top: 16.3%;
        margin-bottom: 40px;
        font-family: 'Roboto';
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: 0.6px;
        color: #777777;
      }
    }
  }

}


/* ==========================================================================
   style for mission page smartphone
   Rayhan
============================================================================= */
@media only screen and (max-width: 1024px) {
  .container {
    .pc {
      display: none;
    }

    .sp {
      display: block;
    }

    .sp-top-menu {
      width: 100%;
      display: block;
      background-color: rgba(255, 255, 255, 0.95);

      .sp-menu-rap {
        padding: 19px 20px 14px 20px;

        .logo {
          float: left;
          width: 61.5%;
          ;

          img {
            width: 100%;
            max-width: 206px;
          }
        }

        .sp-nav {
          float: right;
          max-width: 36px;
          width: 100%;
          padding-top: 10px;

          .navline {
            width: 100%;
            height: 1.2px;
            background-color: #221f20;
            margin-bottom: 6px;

            &:nth-child(2) {}
          }
        }
      }
    }

    .our-mission {
      position: relative;
      display: block;

      .mission-top-image-sp {
        position: relative;
        width: 100%;

        img.mission-top-sp {
          width: 100%;
          position: relative;
          top: -60px;
          z-index: -99;
        }
      }

      .our-mission-txt {
        position: relative;
        top: -48px;
        left: 0;
        z-index: -1;
        display: flex;

        h1 {
          font-family: 'PlayfairDisplay-Regular';
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1;
          letter-spacing: 3.2px;
          text-align: left;
          color: #f4f4f4;
          margin: 0;
          font-size: 64px;
        }
      }

      .inner-content {
        width: 95%;
        margin-left: 5%;
        margin-top: -159px;

        h2 {
          width: 100%;
        }

        .title {
          font-size: 28px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: 2px;
          color: #221f20;
          font-family: 'SawarabiMincho-Regular';
          margin-bottom: 1px;
        }

        .description {
          .inner-p {
            width: 93%;
          }

          p {
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            font-family: "NotoSansJP-Regular";
            line-height: 1.78;
            letter-spacing: 0.9px;
            text-align: left;
            color: #777777;
          }

          h4 {
            font-family: "NotoSansJP-Regular";
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.75;
            letter-spacing: 0.8px;
            text-align: left;
            color: #221f20;
          }
        }

        .description:nth-of-type(2) {
          position: relative;
          margin-top: 0;
          top: 2px;

          img.mission-middle-sp {
            max-width: 100%;
          }

          h4 {
            margin-bottom: 0;
            width: 96%;
          }

          .inner-p {
            width: 93%;
          }

          p {
            font-family: "NotoSansJP-Regular";
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: 0.6px;
            text-align: left;
            color: #777777;
            margin-top: 18px;
          }
        }

        .description:nth-of-type(3) {
          margin-top: 61px;
          position: relative;
          width: 94%;

          img.mission-middle-sp {
            max-width: 100%;
          }

          .inner-p {
            width: 100%;
          }

          p {
            font-family: "NotoSansJP-Regular";
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: 0.7px;
            text-align: left;
            color: #777777;
            padding-top: 4px;
          }
        }

        .description:nth-of-type(4) {
          margin-top: 58px;
          position: relative;

          img.mission-middle-sp {
            max-width: 100%;
          }

          .inner-p {
            width: 92%;
          }

          p {
            font-family: "NotoSansJP-Regular";
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: 0.7px;
            text-align: left;
            color: #777777;
            padding-top: 6px;
          }
        }

        .description:nth-of-type(5) {
          margin-top: 58px;
          position: relative;

          h4 {
            margin-bottom: 0;
            letter-spacing: 1.2px;
          }

          img.mission-middle-sp {
            max-width: 100%;
          }

          p.inner-p.sp {
            margin-top: -12px !important;
            float: left;
            margin-bottom: 0px !important;
          }

          .inner-p {
            width: 92%;
          }

          p {
            font-family: "NotoSansJP-Regular";
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: 0.7px;
            text-align: left;
            color: #777777;
            margin-bottom: 23px;
            margin-top: 21px;
          }
        }

        .above-policy {
          float: left;
          width: 100%;
          margin-top: 8px;

          img.above-policy.sp {
            // max-width: 66%;
            float: right;
            position: relative;
            right: 2px;
          }
        }

        .our-policy {
          margin-top: 19%;
          float: left;
          width: 100%;

          .title {
            h1 {
              font-family: 'Roboto';
              font-size: 20px;
              font-weight: 900;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.4;
              letter-spacing: 1px;
              color: #221f20;

              img {
                width: 21px;
                margin-right: 16px;
                margin-top: 4px;
                float: left;
              }
            }
          }

          .policy-list {
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-top: 15px;

            .policy {
              flex-basis: 100%;
              border-left: 3px solid;
              box-sizing: border-box;
              margin: 0px 0 24.3px 0;
              max-height: 78.6vw;

              .policy-inner {
                padding: 0px 20px 0px 29px;

                h1 {
                  font-family: 'Roboto';
                  font-size: 24px;
                  font-weight: 900;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 0.1;
                  letter-spacing: 1.2px;
                  color: #221f20;
                  margin-bottom: 11px;
                  margin-top: 15px;

                  span {
                    font-family: 'Roboto-Regular';
                    font-size: 12px;
                    font-weight: 900;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 2.33;
                    letter-spacing: 0.6px;
                    color: #221f20;
                    margin-left: 19px;
                    position: relative;
                    top: -4px;
                  }
                }

                .sub-title {
                  font-family: 'SawarabiMincho-Regular';
                  font-size: 16px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  text-align: left;
                  color: #221f20;
                  margin: 0 0 19px 0;
                  line-height: 1.44;
                  letter-spacing: 0.8px;
                }

                p {
                  font-family: 'NotoSansJP-Regular';
                  font-size: 12px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 2;
                  letter-spacing: 0.6px;
                  text-align: left;
                  color: #777777;
                }
              }
            }
          }
        }


        // our thinking
        .our-thinking {
          position: relative;
          margin-top: 41px;
          float: left;
          width: 100%;

          img.think-sp-2.sp {
            max-width: 94%;
            margin-bottom: 12px;
          }

          img.think-sp-3.sp {
            max-width: 94%;
            margin-bottom: 12px;
          }

          .thinking-title {
            h1 {
              font-family: 'Roboto';
              font-size: 20px;
              font-weight: 900;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.4;
              letter-spacing: 1px;
              color: #221f20;
              margin-bottom: 51px;

              img {
                width: 21px;
                margin-right: 16px;
                top: -3px;
                position: relative;
              }
            }
          }

          img.think-sp-1 {
            max-width: 94%;
            margin-top: -26px;
            margin-bottom: 4px;
          }

          .row-item {
            display: block;
            margin-bottom: 44px;

            .thinking {
              width: 100%;

              .thinking-inner {
                h1 {
                  font-family: 'SawarabiMincho-Regular';
                  font-size: 16px;
                  font-weight: 500;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.69;
                  letter-spacing: 0.8px;
                  color: #221f20;
                  margin-bottom: 22px;
                }

                p {
                  font-family: 'NotoSansJP-Regular';
                  font-size: 12px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 2;
                  letter-spacing: 0.6px;
                  text-align: left;
                  color: #777777;
                  margin-top: -4px;
                  width: 92%;
                }

                p.for-sp {
                  margin-top: 14px !important;
                }
              }
            }

            .feature-image {
              padding: 0px 38px;
              margin-top: -18px;

              img {
                max-width: 650px;
                width: 100%;
              }
            }
          }
        }

        // buttom box
        .bottom-description {
          border: solid 4px #f4f4f4;
          background-color: #ffffff;
          width: 92%;
          margin-top: 12.2%;
          float: left;
          padding-bottom: 10px;
          margin-bottom: 42%;
          float: left;

          .bottom-content {
            margin: 0 auto;
            width: 91%;

            .title {
              font-family: "SawarabiMincho-Regular";
              font-size: 24px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.5;
              letter-spacing: 1.2px;
              text-align: center;
              color: #221f20;
              padding-top: 7.5%;
              margin-bottom: 18px;
            }

            .description {
              font-family: "NotoSansJP-Regular";
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 2;
              letter-spacing: 0.7px;
              text-align: center;
              color: #777777;
              padding-top: 0;
              margin-top: 0;
            }

            .btn-details {
              padding: 13.4% 0 8% 0;
              text-align: center;

              a {
                font-family: "Roboto-Regular";
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.31;
                letter-spacing: 0.8px;
                text-align: center;
                color: #1d2d44;
                border: solid 2px #1d2d44;
                text-decoration: none;
                padding: 3% 4% 2.26% 4%;
                display: block;
                max-width: 341px;
                margin: 0 auto;
                position: relative;
                -webkit-transition: all .3s;
                transition: all .3s;

                img {
                  width: 10px;
                  position: absolute;
                  right: 7.5%;
                }
              }

              a:hover {
                color: #fff;
                background: #1d2d44;
              }
            }
          }
        }

        // copyright
        .copyright {
          margin-top: 0.3%;
          margin-bottom: 10px;
          font-family: 'Roboto';
          font-size: 12px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.33;
          letter-spacing: 0.6px;
          color: #777777;
          text-align: center;
          position: relative;
          left: -10px;
          float: left;
          width: 100%;
        }


      }

    }
  }

}
