/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* Fonts install*/
@font-face {
  font-family: "NotoSansJP-Black";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Black.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Bold";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Bold.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Light";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Light.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Medium";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Medium.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Regular";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Regular.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Thin";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Thin.otf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Black";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Black.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-BlackItalic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-BoldItalic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "SawarabiMincho-Regular";
  src: url("../fonts/Sawarabi_Mincho/SawarabiMincho-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "HomemadeApple-Regular";
  src: url("../fonts/Homemade_Apple/HomemadeApple-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "hirakakupro-w3-opentype";
  src: url("../fonts/hirakakupro-w3-opentype.otf") format('truetype');
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/roboto/Roboto-Black.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/roboto/Roboto-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/roboto/Roboto-Medium.ttf") format('truetype');
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
body {
  position: relative;
  margin: 0;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:after,
.clearfix:before {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
/*
*Common Placeholder
*/
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */

  color: #c3c3c3;
  opacity: 1;
  /* Firefox */

}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */

  color: #c3c3c3;
}
::-ms-input-placeholder {
  /* Microsoft Edge */

  color: #c3c3c3;
}
input::-webkit-input-placeholder {
  line-height: normal !important;
}
input[type=text],
input[type=email],
input[type=password],
textarea {
  -webkit-appearance: none;
}
.left-menu-width {
  width: 200px;
}
.left-meuu {
  display: flex;
}
.left-meuu .left-section {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  background: rgba(195, 195, 195, 0.1);
}
.left-meuu .left-section .header-logo {
  margin: 0 auto;
  width: 50%;
  padding: 30% 0px 0px 0;
}
.left-meuu .left-section .header-logo .logo {
  width: 100%;
}
.left-meuu .left-section .menu-section {
  margin: 0 auto;
  padding: 26% 0 0 0;
}
.left-meuu .left-section .menu-section ul {
  padding-left: 0;
}
.left-meuu .left-section .menu-section ul li {
  list-style-type: none;
  line-height: 20px;
  font-size: 14px;
  padding-bottom: 10%;
  letter-spacing: 0.7px;
  font-family: "NotoSansJP-Regular";
  text-align: left;
  padding-left: 20%;
  padding-right: 10%;
}
.left-meuu .left-section .menu-section ul li a {
  text-decoration: none;
  color: #221f20;
  -webkit-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
}
.left-meuu .left-section .menu-section ul li a:hover {
  font-family: "NotoSansJP-Bold";
}
.left-meuu .left-section .menu-section ul li a.active {
  background: url(../images/menu_underline@2x.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 50%;
}
.left-meuu .left-section .menu-section ul li:nth-child(1) a:hover {
  letter-spacing: 0.3px;
}
.left-meuu .left-section .menu-section ul li:nth-child(4) a:hover {
  letter-spacing: 0.3px;
}
.left-meuu .left-section .menu-section .middle {
  list-style: none;
}
.left-meuu .left-section .menu-section .middle li {
  list-style: none;
  padding-bottom: 2.5%;
}
.left-meuu .left-section .menu-section .middle li .social-fb {
  width: 6%;
}
.left-meuu .left-section .menu-section .middle li .social-twitter {
  width: 12%;
  margin: 0px 0px 0px 20%;
}
.left-meuu .left-section .menu-section .middle li:last-child {
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: 0.7px;
  text-align: left;
  color: #221f20;
}
.left-meuu .left-section .menu-section .middle li:last-child:hover a {
  font-family: Roboto-Regular;
}
.left-meuu .left-section .experience-section {
  width: 114.5%;
  background-color: #ffffff;
  border-top-right-radius: 4em;
  border-bottom-right-radius: 4em;
  margin-top: 17%;
  z-index: 1;
  position: relative;
  min-width: 214px;
  box-shadow: 0 3px 7px 0 rgba(119, 119, 119, 0.2);
}
.left-meuu .left-section .experience-section a {
  text-decoration: none;
  color: #221f20;
}
.left-meuu .left-section .experience-section .text-section {
  padding: 6.4% 0px 16.5% 15%;
}
.left-meuu .left-section .experience-section .text-section .top-title {
  font-size: 14px;
  font-family: "NotoSansJP-Regular";
  letter-spacing: 0.7px;
  line-height: 20px;
  color: #221f20;
}
.left-meuu .left-section .experience-section .text-section .middle-title {
  font-size: 20px;
  font-family: "NotoSansJP-Bold";
  line-height: 29px;
  letter-spacing: 1px;
}
.left-meuu .left-section .experience-section .text-section .bottom-title {
  font-size: 14px;
  font-family: "NotoSansJP-Regular";
  letter-spacing: 0.7px;
  line-height: 20px;
  color: #221f20;
  padding-top: 7%;
}
.left-meuu .left-section .experience-section .text-section .bottom-title .text {
  float: left;
}
.left-meuu .left-section .experience-section .text-section .bottom-title .detail-image {
  float: left;
  width: 26px;
}
.left-meuu .left-section .experience-section .text-section .bottom-title .detail-image img {
  width: 100%;
  margin: -9% 0px 0px 19%;
}
.left-meuu .left-section .experience-section:hover {
  opacity: .85;
}
.left-meuu .left-section .bottom {
  margin: 0 auto;
  padding: 49% 0 0 0;
}
.left-meuu .left-section .bottom ul {
  padding-left: 0;
}
.left-meuu .left-section .bottom ul li {
  list-style-type: none;
  line-height: 20px;
  font-size: 12px;
  padding-bottom: 5%;
  letter-spacing: 0.7px;
  font-family: "Roboto-Regular";
  text-align: left;
  padding-left: 20%;
}
.left-meuu .left-section .bottom ul li a {
  text-decoration: none;
  color: #777777;
  -webkit-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.6px;
  text-align: left;
  color: #777777;
}
.left-meuu .left-section .bottom ul li:hover a {
  font-family: Roboto-Black;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.3px;
}
/*VALIDATION MESSAGE*/
.valMsg {
  color: #ef6f87;
  font-family: "NotoSansJP-Regular";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  padding-bottom: 5px;
}
/*Custome checkbox*/
/* Customize the label (the container) */
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check-container span.lbl {
  position: relative;
  top: -10px;
  left: 5px;
}
/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 1px solid #c3c3c3;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: transparent;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 2px;
  height: 6px;
  border: solid #b4d6d3;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*Back Top*/
.back-to-up {
  position: fixed;
  right: 59px;
  bottom: 17px;
  width: 16px;
  cursor: pointer;
}
.back-to-up img {
  width: 100%;
}
/*Video autoplay*/
.video-rap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(270deg, rgba(79, 96, 112, 0.2) 0%, rgba(107, 105, 106, 0.4) 100%);
}
#bg-video {
  position: absolute;
  /* Make video to at least 100% wide and tall */

  min-width: 100%;
  min-height: 100%;
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */

  width: auto;
  height: auto;
  /* Center the video */

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -100;
  background-size: cover;
}
/*Menu SP hide from PC*/
.sp-main-nav {
  display: none;
}
.sp-top-menu {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .sp-nav-open {
    cursor: pointer;
  }
  .sp-nav-close {
    cursor: pointer;
  }
  .no-scroll {
    overflow: hidden;
  }
  /*Sp Nav Menu*/
  .sp-top-menu {
    width: 100%;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .sp-top-menu .sp-menu-rap {
    padding: 19px 20px;
  }
  .sp-top-menu .sp-menu-rap .logo {
    float: left;
    width: 61.5%;
  }
  .sp-top-menu .sp-menu-rap .logo img {
    width: 100%;
    max-width: 206px;
  }
  .sp-top-menu .sp-menu-rap .sp-nav {
    float: right;
    max-width: 36px;
    width: 100%;
    padding-top: 10px;
  }
  .sp-top-menu .sp-menu-rap .sp-nav .navline {
    width: 100%;
    height: 1px;
    background-color: #221f20;
    margin-bottom: 6px;
  }
  .sp-main-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 999;
    overflow-y: scroll;
    display: none;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap {
    padding: 19px 20px;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .logo {
    float: left;
    width: 61.5%;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .logo img {
    width: 100%;
    max-width: 206px;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .sp-nav-close {
    float: right;
    max-width: 36px;
    width: 100%;
    padding-top: 10px;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .sp-nav-close .navline {
    width: 100%;
    height: 1px;
    background-color: #221f20;
    margin-bottom: 6px;
  }
  .sp-main-nav .menu-section {
    width: 100%;
    padding: 12px 0 0 0;
  }
  .sp-main-nav .menu-section ul {
    padding: 0;
    margin: 0;
  }
  .sp-main-nav .menu-section ul li a {
    text-decoration: none;
    -webkit-transition: font-weight 0.3s;
    transition: font-weight 0.3s;
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: center;
    color: #221f20;
    display: block;
    padding: 19px 0;
  }
  .sp-main-nav .menu-section ul li a.active {
    background: url(../images/menu_underline@2x.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 50%;
  }
  .sp-main-nav .menu-section .middle {
    padding-top: 38px;
    list-style: none;
  }
  .sp-main-nav .menu-section .middle li {
    padding-bottom: 0;
    text-align: center;
    list-style: none;
  }
  .sp-main-nav .menu-section .middle li .social-fb {
    display: inline;
  }
  .sp-main-nav .menu-section .middle li .social-fb img {
    width: 2%;
  }
  .sp-main-nav .menu-section .middle li .social-twitter {
    display: inline;
  }
  .sp-main-nav .menu-section .middle li .social-twitter img {
    width: 4.3%;
    margin: 0px 0px 0px 7.5%;
  }
  .sp-main-nav .menu-section .middle li a {
    font-family: "Roboto-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 0.7px;
    text-align: center;
    color: #221f20;
    padding: 16px 0;
  }
  .sp-main-nav .experience-section {
    width: 94.6%;
    background-color: #ffffff;
    border-top-right-radius: 16vw;
    border-bottom-right-radius: 16vw;
    margin-top: 30px;
    margin-bottom: 23px;
    z-index: 1;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    box-shadow: 0 3px 7px 0 rgba(119, 119, 119, 0.2);
  }
  .sp-main-nav .experience-section a {
    text-decoration: none;
    color: #221f20;
  }
  .sp-main-nav .experience-section .text-section {
    padding: 20px 0px 40px 32%;
  }
  .sp-main-nav .experience-section .text-section .top-title {
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: left;
    color: #221f20;
    padding-left: 37px;
  }
  .sp-main-nav .experience-section .text-section .middle-title {
    font-family: "NotoSansJP-Bold";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: 1px;
    text-align: left;
    color: #1d2d44;
  }
  .sp-main-nav .experience-section .text-section .bottom-title {
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: left;
    color: #221f20;
    padding-top: 5.2%;
  }
  .sp-main-nav .experience-section .text-section .bottom-title .text {
    float: left;
  }
  .sp-main-nav .experience-section .text-section .bottom-title .detail-image {
    float: left;
    width: 24px;
  }
  .sp-main-nav .experience-section .text-section .bottom-title .detail-image img {
    width: 100%;
    position: relative;
    left: 7px;
    top: -2px;
  }
  .sp-main-nav .menu-section-bottom {
    text-align: center;
    margin: 32px 0;
  }
  .sp-main-nav .menu-section-bottom a {
    font-family: "NotoSansJP-Regular";
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.6px;
    text-align: left;
    color: #777777;
    padding: 3%;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .sp-main-nav .experience-section .text-section {
    padding: 20px 0px 40px 42%;
  }
}
.pc {
  display: block;
}
.sp {
  display: none;
}
body {
  position: relative;
  margin: 0;
  /*common*/

}
body .container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-width: 1024px;
  /* Popup box BEGIN */

}
body .container #banner-section {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  position: relative;
}
body .container #banner-section .top-section {
  display: flex;
}
body .container #banner-section .top-section .left-section {
  width: 200px;
  position: fixed;
  z-index: 1;
  height: 100%;
  background: rgba(250, 250, 250, 0.6);
}
body .container #banner-section .top-section .left-section .header-logo {
  margin: 0 auto;
  width: 50%;
  padding: 30% 0px 0px 0;
}
body .container #banner-section .top-section .left-section .header-logo .logo {
  width: 100%;
}
body .container #banner-section .top-section .left-section .menu-section {
  margin: 0 auto;
  padding: 26% 0 0 0;
}
body .container #banner-section .top-section .left-section .menu-section ul {
  padding-left: 0;
}
body .container #banner-section .top-section .left-section .menu-section ul li {
  list-style-type: none;
  line-height: 20px;
  font-size: 14px;
  padding-bottom: 10%;
  letter-spacing: 0.7px;
  font-family: "NotoSansJP-Regular";
  text-align: left;
  padding-left: 20%;
  padding-right: 10%;
}
body .container #banner-section .top-section .left-section .menu-section ul li a {
  text-decoration: none;
  color: #221f20;
  -webkit-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
}
body .container #banner-section .top-section .left-section .menu-section ul li a:hover {
  font-family: "NotoSansJP-Bold";
}
body .container #banner-section .top-section .left-section .menu-section ul li a.active {
  background: url(../images/menu_underline@2x.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 50%;
}
body .container #banner-section .top-section .left-section .menu-section .middle li {
  padding-bottom: 2.5%;
}
body .container #banner-section .top-section .left-section .menu-section .middle li .social-fb {
  width: 6%;
}
body .container #banner-section .top-section .left-section .menu-section .middle li .social-twitter {
  width: 12%;
  margin: 0px 0px 0px 20%;
}
body .container #banner-section .top-section .menu-section {
  margin: 0 auto;
  padding: 26% 0 0 0;
}
body .container #banner-section .top-section .menu-section ul {
  padding-left: 0;
}
body .container #banner-section .top-section .menu-section ul li {
  list-style-type: none;
  line-height: 20px;
  font-size: 14px;
  padding-bottom: 10%;
  letter-spacing: 0.7px;
  font-family: "NotoSansJP-Regular";
  text-align: left;
  padding-left: 30%;
}
body .container #banner-section .top-section .menu-section ul li a {
  text-decoration: none;
  color: #221f20;
  -webkit-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
}
body .container #banner-section .top-section .menu-section ul li a:hover {
  font-family: "NotoSansJP-Bold";
}
body .container #banner-section .top-section .menu-section ul li a.active {
  border-bottom: 8px solid #b4d6d3;
}
body .container #banner-section .top-section .menu-section ul li:nth-child(1) a:hover {
  letter-spacing: 0.3px;
}
body .container #banner-section .top-section .menu-section ul li:nth-child(4) a:hover {
  letter-spacing: 0.3px;
}
body .container #banner-section .top-section .menu-section .middle li {
  padding-bottom: 2.5%;
}
body .container #banner-section .top-section .menu-section .middle li .social-fb {
  width: 6%;
}
body .container #banner-section .top-section .menu-section .middle li .social-twitter {
  width: 12%;
  margin: 0px 0px 0px 20%;
}
body .container #banner-section .top-section .menu-section .middle li:last-child {
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: 0.7px;
  text-align: left;
  color: #221f20;
}
body .container #banner-section .top-section .menu-section .middle li:last-child:hover a {
  font-family: Roboto-Regular;
}
body .container #banner-section .top-section .experience-section {
  width: 114.5%;
  background-color: #ffffff;
  border-top-right-radius: 4em;
  border-bottom-right-radius: 4em;
  margin-top: 17%;
  z-index: 1;
  position: relative;
  min-width: 214px;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  box-shadow: 0 3px 7px 0 rgba(119, 119, 119, 0.2);
}
body .container #banner-section .top-section .experience-section a {
  text-decoration: none;
  color: #221f20;
}
body .container #banner-section .top-section .experience-section .text-section {
  padding: 6.4% 0px 16.5% 15%;
}
body .container #banner-section .top-section .experience-section .text-section .top-title {
  font-size: 14px;
  font-family: "NotoSansJP-Regular";
  letter-spacing: 0.7px;
  line-height: 20px;
  color: #221f20;
}
body .container #banner-section .top-section .experience-section .text-section .middle-title {
  font-size: 20px;
  font-family: "NotoSansJP-Bold";
  line-height: 29px;
  letter-spacing: 1px;
}
body .container #banner-section .top-section .experience-section .text-section .bottom-title {
  font-size: 14px;
  font-family: "NotoSansJP-Regular";
  letter-spacing: 0.7px;
  line-height: 20px;
  color: #221f20;
  padding-top: 7%;
}
body .container #banner-section .top-section .experience-section .text-section .bottom-title .text {
  float: left;
}
body .container #banner-section .top-section .experience-section .text-section .bottom-title .detail-image {
  float: left;
  width: 26px;
}
body .container #banner-section .top-section .experience-section .text-section .bottom-title .detail-image img {
  width: 100%;
  margin: -9% 0px 0px 19%;
}
body .container #banner-section .top-section .experience-section:hover {
  opacity: .85;
}
body .container #banner-section .top-section .bottom {
  margin: 0 auto;
  padding: 49% 0 0 0;
}
body .container #banner-section .top-section .bottom ul {
  padding-left: 0;
}
body .container #banner-section .top-section .bottom ul li {
  list-style-type: none;
  line-height: 20px;
  font-size: 12px;
  padding-bottom: 5%;
  letter-spacing: 0.7px;
  font-family: "Roboto-Regular";
  text-align: left;
  padding-left: 20%;
}
body .container #banner-section .top-section .bottom ul li a {
  text-decoration: none;
  color: #777777;
  -webkit-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.6px;
  text-align: left;
  color: #777777;
}
body .container #banner-section .top-section .bottom ul li:hover a {
  font-family: Roboto-Black;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.3px;
}
body .container #banner-section .right-section {
  width: -webkit-calc(100% - 200px);
  width: calc(100% - 200px);
  margin-left: 200px;
  padding-bottom: 39px;
  /* ie6-9 */

}
body .container #banner-section .right-section .middle-part {
  width: 100%;
  padding-top: 20.7%;
}
body .container #banner-section .right-section .middle-part .title {
  font-family: "PlayfairDisplay-Regular";
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.34;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  position: relative;
}
body .container #banner-section .right-section .middle-part .box-title {
  height: 62px;
  border: solid 4px #ffffff;
  margin-top: 3.1%;
  position: relative;
  margin: 3.3% 0 0 -0.2%;
}
body .container #banner-section .right-section .middle-part .box-title p {
  font-family: "HomemadeApple-Regular";
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  position: absolute;
  left: 1.3%;
  letter-spacing: 0px;
  margin: 0px;
  padding: 14px;
}
body .container #banner-section .right-section .middle-part h2 {
  margin: 0 0 0 16.6%;
  font-size: 80px;
  font-family: "SawarabiMincho-Regular";
  color: #fff;
  line-height: 116px;
  font-weight: 100;
  z-index: 10000;
  position: relative;
}
body .container #banner-section .right-section .bottom-part {
  width: 66.5%;
  margin: 0 auto;
  padding-top: 22%;
}
body .container #banner-section .right-section .bottom-part .title {
  position: relative;
}
body .container #banner-section .right-section .bottom-part .title .image-notification {
  float: left;
  width: 24px;
}
body .container #banner-section .right-section .bottom-part .title .image-notification img {
  width: 100%;
}
body .container #banner-section .right-section .bottom-part .title .news-title {
  float: left;
  width: 93%;
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto-Regular";
  margin: 1px 0 10px 8px;
  line-height: 0;
}
body .container #banner-section .right-section .bottom-part .news-scroll {
  border-bottom: 1px #fff solid;
  float: left;
  width: 100%;
  position: relative;
}
body .container #banner-section .right-section .bottom-part .news-scroll .scroll-title {
  float: left;
  color: #ffffff;
  font-size: 14px;
  margin-top: -12px;
  width: 89%;
}
body .container #banner-section .right-section .bottom-part .news-scroll .scroll-title p {
  margin-bottom: 10px;
  font-family: "hirakakupro-w3-opentype";
  letter-spacing: 0.7px;
}
body .container #banner-section .right-section .bottom-part .news-scroll .detial-button {
  float: right;
  width: 7%;
  min-width: 56px;
}
body .container #banner-section .right-section .bottom-part .news-scroll .detial-button .detail-title {
  color: #ffffff;
  font-size: 12px;
  font-family: "Roboto-Regular";
  margin-top: 3px;
  letter-spacing: 0.3px;
  float: left;
}
body .container #banner-section .right-section .bottom-part .news-scroll .detial-button .arrow {
  width: 18%;
  float: right;
  margin-top: 2px;
}
body .container #banner-section .right-section .bottom-part .news-scroll .detial-button .arrow img {
  width: 100%;
}
body .container #banner-section .right-menu {
  position: fixed;
  right: 4.2%;
  top: 5.5%;
  z-index: 1;
}
body .container #banner-section .right-menu ul {
  padding: 0;
  margin: 0;
}
body .container #banner-section .right-menu ul li {
  list-style: none;
}
body .container #banner-section .right-menu ul li a {
  writing-mode: tb-rl;
  text-decoration: none;
  color: #c3c3c3;
  text-transform: uppercase;
  padding: 12px 0 13px 0;
  font-size: 12px;
  -webkit-transition: color .3s;
  transition: color .3s;
  font-family: Roboto;
}
body .container #banner-section .right-menu ul li a:hover {
  color: #b4d6d3;
}
body .container #banner-section .right-menu ul li a.active {
  color: #c83015;
}
body .container #banner-section .right-menu ul li:first-child a {
  padding: 22px 0 5px 0;
}
body .container #banner-section .right-menu ul li:nth-child(2) a {
  padding: 22px 0 6px 0;
}
body .container #ily-popup {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: none;
  height: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10000;
  display: none;
  overflow: scroll;
}
body .container #ily-popup .container {
  background-color: #fff;
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  max-width: 1280px;
  min-height: 100px;
  vertical-align: middle;
  width: 78%;
  position: relative;
  top: 8.5%;
  position: relative;
}
body .container #ily-popup .container .left-section {
  float: left;
  width: 50%;
}
body .container #ily-popup .container .left-section img {
  width: 99%;
  float: left;
  min-height: 580px;
}
body .container #ily-popup .container .right-section {
  float: left;
  width: 50%;
}
body .container #ily-popup .container .right-section .content-right {
  padding-left: 37px;
  padding-top: 39px;
  width: 87%;
}
body .container #ily-popup .container .right-section .content-right .top-title {
  text-align: left;
  color: #221f20;
  font-family: Roboto-Bold;
  font-size: 15px;
}
body .container #ily-popup .container .right-section .content-right .logo-section {
  width: 278px;
  margin-top: 21px;
}
body .container #ily-popup .container .right-section .content-right .logo-section img {
  width: 100%;
}
body .container #ily-popup .container .right-section .content-right .text-section {
  border-top: 1px solid #000000;
  margin-top: 38px;
}
body .container #ily-popup .container .right-section .content-right .text-section .firt-content {
  margin-top: 22px;
}
body .container #ily-popup .container .right-section .content-right .text-section .firt-content .title {
  font-family: Roboto-Bold;
  text-align: left;
  font-size: 15px;
  letter-spacing: 0.2px;
}
body .container #ily-popup .container .right-section .content-right .text-section .firt-content .description {
  text-align: left;
  font-family: NotoSansJP-Regular;
  font-size: 14px;
  padding-top: 11px;
  line-height: 28px;
  letter-spacing: 0.6px;
}
body .container #ily-popup .container .right-section .content-right .text-section .second-content {
  margin-top: 46px;
}
body .container #ily-popup .container .right-section .content-right .text-section .second-content .title {
  font-family: Roboto-Bold;
  text-align: left;
  font-size: 15px;
  letter-spacing: 0.2px;
}
body .container #ily-popup .container .right-section .content-right .text-section .second-content .title .bar {
  font-family: Roboto-Medium;
  padding-left: 19px;
}
body .container #ily-popup .container .right-section .content-right .text-section .second-content .title .bar .bar-text {
  padding-left: 13px;
  letter-spacing: .6px;
}
body .container #ily-popup .container .right-section .content-right .text-section .second-content .title .icon img {
  width: 10px;
}
body .container #ily-popup .container .right-section .content-right .text-section .second-content .description {
  text-align: left;
  font-family: NotoSansJP-Regular;
  font-size: 11px;
  padding-top: 11px;
  line-height: 22px;
  letter-spacing: 1.5px;
}
body .container #ily-popup .container .close-popup {
  position: absolute;
  bottom: -55px;
  left: 45.5%;
}
body .container #ily-popup .container .close-popup img {
  width: 28px;
}
body .container #ily-popup .container .close-popup span {
  font-family: NotoSansJP-Medium;
  margin-left: 15px;
  font-size: 15px;
  top: -7px;
  position: relative;
  color: #ffffff;
}
body #trial-class {
  position: relative;
  margin-top: 1px;
}
body #trial-class h1 {
  font-family: "PlayfairDisplay-Regular";
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 5px;
  text-align: left;
  color: #f4f4f4;
  margin: 0;
}
body #trial-class .right-section {
  margin-left: 202px;
  background-color: #fafafa;
  opacity: 1;
  display: flex;
  margin-top: -171px;
  padding-bottom: 20px;
}
body #trial-class .right-section .content {
  margin-left: 20.6%;
  margin-top: -113px;
  width: 67%;
}
body #trial-class .right-section .content .next-class {
  width: 40%;
}
body #trial-class .right-section .content .next-class .image {
  float: left;
  width: 19px;
  margin-left: 2px;
  margin-top: 3px;
}
body #trial-class .right-section .content .next-class .image img {
  width: 100%;
}
body #trial-class .right-section .content .next-class .title {
  font-size: 19px;
  font-family: "Roboto-Black";
  color: #221f20;
  margin-left: 39px;
  letter-spacing: 1.5px;
}
body #trial-class .right-section .content .next-class .title p {
  padding-top: 0px;
}
body #trial-class .right-section .content .class-list {
  margin: 26px 0 0 0;
}
body #trial-class .right-section .content .class-list .class-detail {
  background: #fff;
  border-left: 4px solid #221f20;
  float: left;
  margin: 0px 0px 24px 0px;
}
body #trial-class .right-section .content .class-list .class-detail .inner-content {
  margin-left: 28px;
  padding-top: 27px;
}
body #trial-class .right-section .content .class-list .class-detail .inner-content .left-part {
  width: 78%;
  float: left;
}
body #trial-class .right-section .content .class-list .class-detail .inner-content .left-part .title {
  font-size: 20px;
  color: #221f20;
  font-family: "NotoSansJP-Medium";
  letter-spacing: 1.1px;
}
body #trial-class .right-section .content .class-list .class-detail .inner-content .left-part .description {
  font-size: 14px;
  color: #777777;
  font-family: "NotoSansJP-Regular";
  letter-spacing: 0.7px;
  line-height: 27px;
  padding-bottom: 20px;
}
body #trial-class .right-section .content .class-list .class-detail .inner-content .left-part .description p {
  margin: 0;
  padding: 11px 0px 0px 0px;
}
body #trial-class .right-section .content .class-list .class-detail .inner-content .arrow-part {
  width: 22%;
  float: left;
}
body #trial-class .right-section .content .class-list .class-detail .inner-content .arrow-part .btn-detail {
  margin-left: 40%;
  width: 60px;
}
body #trial-class .right-section .content .class-list .class-detail .inner-content .arrow-part .btn-detail a {
  color: #1d2d44;
  border: solid 2px #1d2d44;
  text-decoration: none;
  padding: 31% 3% 31% 39%;
  display: block;
  max-width: 83px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}
body #trial-class .right-section .content .class-list .class-detail .inner-content .arrow-part .btn-detail a img {
  width: 10px;
}
body #trial-class .right-section .content .class-list .class-detail .inner-content .arrow-part .btn-detail a:hover {
  color: #fff;
  background: #1d2d44;
}
body #our-part {
  position: relative;
  margin-top: 1px;
}
body #our-part h1 {
  font-family: "PlayfairDisplay-Regular";
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 5px;
  text-align: left;
  color: #f4f4f4;
  margin: 0;
}
body #our-part .content {
  margin-left: 18%;
  padding-top: 0.22%;
  margin-bottom: 1.12%;
  margin-top: -170px;
  width: 64.5%;
}
body #our-part .content .top-section {
  padding-bottom: 14px;
}
body #our-part .content .top-section .title {
  color: #221f20;
  font-size: 32px;
  font-family: "SawarabiMincho-Regular";
  letter-spacing: 1.7px;
}
body #our-part .content .top-section .description {
  font-size: 14px;
  color: #777777;
  font-family: "NotoSansJP-Regular";
  letter-spacing: 2.8px;
  line-height: 29px;
  padding-bottom: 20px;
  padding-top: 32px;
}
body #our-part .content .logo-block {
  margin-left: 1px;
}
body #our-part .content .logo-block .common {
  width: 22.1%;
  background: #fff;
  float: left;
  margin-right: 3.8%;
}
body #our-part .content .logo-block .ily-logo {
  position: relative;
}
body #our-part .content .logo-block .ily-logo img {
  width: 100%;
}
body #our-part .content .logo-block .ily-logo .ily-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
}
body #our-part .content .logo-block .ily-logo .ily-overlay .text {
  padding-top: 33%;
}
body #our-part .content .logo-block .ily-logo .ily-overlay .text p {
  font-size: 20px;
  font-family: 'Roboto-Black';
  color: #ffffff;
  letter-spacing: 1px;
  margin: 0;
  padding-left: 10%;
  margin-bottom: 23%;
}
body #our-part .content .logo-block .ily-logo .ily-overlay .text .btn-detail {
  text-align: center;
  width: 80.1%;
  margin-left: 10%;
}
body #our-part .content .logo-block .ily-logo .ily-overlay .text .btn-detail a {
  font-family: 'Roboto-Regular';
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: 0.8px;
  text-align: center;
  color: #fff;
  border: solid 1px #fff;
  text-decoration: none;
  padding: 5.3% 2% 4.27% 4%;
  display: block;
  max-width: 223px;
  margin: 0 auto;
  position: relative;
}
body #our-part .content .logo-block .ily-logo .ily-overlay .text .btn-detail a img {
  width: 4%;
  position: absolute;
  right: 8.5%;
  top: 36%;
}
body #our-part .content .logo-block .rakuten-logo img {
  width: 100%;
}
body #our-part .content .logo-block .google-logo img {
  width: 100%;
}
body #our-part .content .logo-block .yahoo-logo {
  margin-right: 0px;
}
body #our-part .content .logo-block .yahoo-logo img {
  width: 100%;
}
body #our-part .content .bottom-description {
  border: solid 4px #f4f4f4;
  background-color: #ffffff;
  margin-top: 13%;
  width: 98.9%;
  margin-left: -0.2%;
}
body #our-part .content .bottom-description .bottom-content {
  margin: 0 auto;
  width: 76%;
}
body #our-part .content .bottom-description .bottom-content .title {
  font-family: "SawarabiMincho-Regular";
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 1px;
  text-align: center;
  color: #221f20;
  padding-top: 7.5%;
  position: relative;
  left: 3px;
}
body #our-part .content .bottom-description .bottom-content .description {
  font-family: "NotoSansJP-Regular";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: center;
  color: #777777;
  padding-top: 4%;
}
body #our-part .content .bottom-description .bottom-content .btn-details {
  padding: 7.9% 0 8% 0;
  text-align: center;
}
body #our-part .content .bottom-description .bottom-content .btn-details a {
  font-family: "Roboto-Regular";
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: 0.8px;
  text-align: center;
  color: #1d2d44;
  border: solid 2px #1d2d44;
  text-decoration: none;
  padding: 3% 4% 2.3% 4%;
  display: block;
  max-width: 341px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}
body #our-part .content .bottom-description .bottom-content .btn-details a img {
  width: 10px;
  position: absolute;
  right: 9.5%;
}
body #our-part .content .bottom-description .bottom-content .btn-details a:hover {
  color: #fff;
  background: #1d2d44;
}
body #our-part .content .copyright {
  font-family: "Roboto-Regular";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.6px;
  text-align: left;
  color: #777777;
  padding-top: 19.6%;
}
body .btn-center {
  padding: 3.4% 0 11.6% 0;
  text-align: center;
}
body .btn-center a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: 0.8px;
  text-align: center;
  color: #1d2d44;
  border: solid 2px #1d2d44;
  text-decoration: none;
  padding: 1.3% 4% 1.27% 4%;
  display: block;
  max-width: 284px;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}
body .btn-center a img {
  width: 10px;
  position: absolute;
  right: 9.5%;
}
body .btn-center a:hover {
  background: #1d2d44;
  color: #fff;
}
body #our-mission .img-box {
  background: url('../images/title1_img@2x.jpg');
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  position: absolute;
  z-index: -1;
  padding: 410px;
}
body #our-mission .content {
  display: flex;
}
body #our-mission .left-miss h1 {
  font-family: PlayfairDisplay-Regular;
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 5px;
  text-align: left;
  color: #ffffff;
  margin: 0;
  padding: 56.9% 0 0 0%;
  position: relative;
  left: -1px;
}
body #our-mission .right-miss {
  margin-left: 19.64%;
}
body #our-mission .right-miss h2 {
  font-family: SawarabiMincho-Regular;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 3.2px;
  text-align: left;
  color: #221f20;
  margin: 29.6% 0 0% 0;
}
body #our-mission .right-miss h4 {
  font-family: PlayfairDisplay-Regular;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 1.13px;
  text-align: left;
  color: #221f20;
  margin: .3% 0 0 0;
}
body #our-mission .right-miss p {
  font-family: NotoSansJP-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.75px;
  text-align: left;
  color: #777777;
  margin: 11.2% 0 0 0;
  max-width: 501px;
  width: 100%;
}
body #our-vision {
  position: relative;
  margin-top: 1px;
}
body #our-vision .img4 {
  width: 59.3%;
  position: absolute;
  right: 0;
  top: -24.1%;
  max-width: 960px;
}
body #our-vision h1 {
  font-family: PlayfairDisplay-Regular;
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 5px;
  text-align: left;
  color: #f4f4f4;
  margin: 0;
}
body #our-vision h2 {
  font-family: SawarabiMincho-Regular;
  font-size: 40px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 2px;
  text-align: left;
  color: #221f20;
  position: absolute;
  top: 16.5%;
  left: 18.1%;
}
body #our-vision p {
  font-family: NotoSansJP;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.7px;
  text-align: left;
  color: #777777;
  position: absolute;
  margin: 0;
  top: 90%;
  left: 18%;
  max-width: 504px;
}
body #our-program {
  position: relative;
  margin-top: 37.3%;
}
body #our-program h1 {
  font-family: PlayfairDisplay-Regular;
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 5px;
  text-align: left;
  color: #f4f4f4;
}
body #our-program h2 {
  font-family: SawarabiMincho-Regular;
  font-size: 40px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 2px;
  text-align: left;
  color: #221f20;
  position: absolute;
  top: 13.8%;
  left: 18.3%;
}
body #our-program .program-block {
  display: flex;
  margin-left: 18.6%;
  padding-top: 0.22%;
  margin-bottom: 1.2%;
}
body #our-program .program-block h5 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: left;
  color: #221f20;
}
body #our-program .program-block p {
  font-family: NotoSansJP-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.65px;
  text-align: left;
  color: #777777;
}
body #our-program .program-block .student {
  flex-basis: 48.2%;
  padding-bottom: 1.6%;
  position: relative;
  top: -162px;
}
body #our-program .program-block .student h5 {
  margin: 4.8% 0 0 6.4%;
  padding-top: 4.5%;
}
body #our-program .program-block .student h6 {
  font-family: "SawarabiMincho-Regular";
  font-size: 20px;
  margin: 4.5% 0 0 6.4%;
  line-height: 35px;
  color: #221F20;
}
body #our-program .program-block .student p {
  margin: 4.6% 0 0 6.4%;
  max-width: 368px;
  padding-bottom: 19px;
}
body #our-program .program-block .student .student-inner {
  border-left: 4px solid #221f20;
}
body #our-program .program-block .business {
  border-left: 4px solid #221f20;
  flex-basis: 66%;
  padding-bottom: 1.6%;
}
body #our-program .program-block .business h5 {
  margin: 3.5% 0 0 4.5%;
}
body #our-program .program-block .business h6 {
  font-family: "SawarabiMincho-Regular";
  font-size: 20px;
  margin: 3.5% 0 0 5%;
  line-height: 35px;
  color: #221F20;
}
body #our-program .program-block .business p {
  margin: 8.3% 0 0 4.5%;
  max-width: 368px;
}
body #our-program .btn-center {
  padding-bottom: 123px !important;
}
.back-to-up {
  bottom: 28px;
  cursor: pointer;
}
#our-part .content .logo-block .partner-logo {
  position: relative;
  line-height: 0;
}
#our-part .content .logo-block .partner-logo .partner-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #1d2d44;
  visibility: hidden;
  z-index: 9;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
#our-part .content .logo-block .partner-logo .partner-overlay .text {
  padding-top: 33%;
  margin-bottom: 23%;
}
#our-part .content .logo-block .partner-logo .partner-overlay .text p {
  margin: 0;
  padding-left: 10%;
  font-size: 20px;
  font-family: 'Roboto-Black';
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 1.4;
}
#our-part .content .logo-block .partner-logo .partner-overlay .btn-detail {
  text-align: center;
  width: 80.1%;
  margin-left: 10%;
}
#our-part .content .logo-block .partner-logo .partner-overlay .btn-detail a {
  font-family: 'Roboto-Regular';
  font-size: 12px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: 0.8px;
  text-align: center;
  color: #fff;
  border: solid 1px #fff;
  text-decoration: none;
  padding: 5.3% 2% 4.27% 4%;
  display: block;
  max-width: 223px;
  margin: 0 auto;
  position: relative;
}
#our-part .content .logo-block .partner-logo .partner-overlay .btn-detail a img {
  width: 4%;
  position: absolute;
  right: 8.5%;
  top: 36%;
}
#our-part .content .logo-block .partner-logo:hover .partner-overlay {
  opacity: 1;
  visibility: visible;
}
/* ==========================================================================
   style for smartphone max-width:767px
============================================================================= */
@media only screen and (max-width: 1024px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  body .btn-center {
    padding: 9.4% 0 11.6% 0;
  }
  body .btn-center a {
    padding: 2.3% 4% 2% 4%;
    max-width: 267px;
  }
  body .btn-center a img {
    right: 7.5%;
  }
  body .container {
    max-width: 1024;
    min-width: 0 !important;
  }
  body .container .left {
    float: left;
  }
  body .container .right {
    float: right;
  }
  body .container #banner-section {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
  }
  body .container #banner-section div {
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  body .container #banner-section .feed-banners-cover {
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, rgba(79, 96, 112, 0.2) 0%, rgba(107, 105, 106, 0.4) 100%);
    position: absolute;
    z-index: 0;
  }
  body .container #banner-section .feed-banners {
    width: 100%;
    height: 100%;
    background: url(../images/sp/fv-slide-1@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    z-index: -1;
  }
  body .container #banner-section .mobile-nav {
    width: 90%;
    margin: 0 auto;
    padding-top: 4%;
    position: relative;
    z-index: 1;
  }
  body .container #banner-section .mobile-nav .logo img {
    max-width: 206px;
    width: 100%;
    padding-top: 4px;
  }
  body .container #banner-section .mobile-nav .nav-btn img {
    max-width: 36px;
    width: 100%;
    padding-top: 10px;
  }
  body .container #banner-section .middle-part {
    width: 86%;
    margin: 0 auto;
    padding-top: 53.5%;
    position: relative;
    z-index: 1;
  }
  body .container #banner-section .middle-part h2 {
    font-family: SawarabiMincho-Regular;
    font-size: 10.677vw;
    color: #fff;
    text-align: left;
    font-weight: 100;
  }
  body .container #banner-section .middle-part .title {
    font-family: "PlayfairDisplay-Regular";
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  body .container #banner-section .middle-part .box-title {
    height: 52px;
    border: solid 4px #ffffff;
    margin-top: 3.1%;
    position: relative;
    margin: 5.3% 0 0 -0.2%;
  }
  body .container #banner-section .middle-part .box-title p {
    font-family: "HomemadeApple-Regular";
    font-size: 1.3em;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    position: absolute;
    left: -11.7%;
    letter-spacing: 0px;
    margin: 0px;
    padding: 14px;
    right: -13%;
  }
  body .container #banner-section .bottom-part {
    width: 89.5%;
    margin: 0 auto;
    padding-top: 56.5%;
    height: 100px;
    position: relative;
    z-index: 1;
  }
  body .container #banner-section .bottom-part .title {
    float: left;
    width: 100%;
  }
  body .container #banner-section .bottom-part .title .image-notification {
    float: left;
    width: 17px;
  }
  body .container #banner-section .bottom-part .title .image-notification img {
    width: 100%;
  }
  body .container #banner-section .bottom-part .title .news-title {
    float: left;
    width: 68%;
    color: #ffffff;
    font-size: 11px;
    font-family: "Roboto-Regular";
    margin: 1px 0 8px 8px;
    line-height: 0;
    letter-spacing: 1.3px;
  }
  body .container #banner-section .bottom-part .news-scroll {
    border-bottom: 1px #fff solid;
    float: left;
    width: 100%;
  }
  body .container #banner-section .bottom-part .news-scroll .scroll-title {
    float: left;
    color: #ffffff;
    font-size: 11px;
    margin-top: -14px;
    width: 77%;
  }
  body .container #banner-section .bottom-part .news-scroll .scroll-title p {
    margin-bottom: 12px;
    font-family: "hirakakupro-w3-opentype";
    letter-spacing: 1.2px;
  }
  body .container #banner-section .bottom-part .news-scroll .scroll-title .data-title {
    margin-top: -6px;
  }
  body .container #banner-section .bottom-part .news-scroll .detial-button {
    float: right;
    width: 10%;
    min-width: 58px;
    margin-top: 12px;
  }
  body .container #banner-section .bottom-part .news-scroll .detial-button .detail-title {
    color: #ffffff;
    font-size: 12px;
    font-family: "Roboto-Regular";
    margin-top: 1px;
    letter-spacing: 0.3px;
    float: left;
  }
  body .container #banner-section .bottom-part .news-scroll .detial-button .arrow {
    width: 10px;
    float: right;
  }
  body .container #banner-section .bottom-part .news-scroll .detial-button .arrow img {
    width: 100%;
  }
  body .container #our-mission {
    margin-top: -1px;
  }
  body .container #our-mission .img-box-sp {
    background: url(../images/sp/header_img@2x.jpg);
    width: 100%;
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
  }
  body .container #our-mission .img-box-sp .left-text-sp h1 {
    font-family: PlayfairDisplay-Regular;
    padding: 69.9% 0 7px 0%;
    line-height: 65px;
    letter-spacing: 3.3px;
    font-size: 64px;
    margin-top: 0;
    color: #ffffff;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    position: relative;
    bottom: 0px;
    margin-bottom: 0px;
    top: 14px;
  }
  body .container #our-mission .content {
    display: block;
    width: 91%;
    margin: 0 auto;
    padding: 33px 0 0 7px;
  }
  body .container #our-mission .content .right-miss {
    margin: 0 auto;
  }
  body .container #our-mission .content .right-miss h2 {
    font-size: 37px;
    margin: 0% 0 0% 0;
    letter-spacing: 5px;
  }
  body .container #our-mission .content .right-miss h4 {
    font-size: 14px;
    margin: 3.3% 0 0 0;
  }
  body .container #our-mission .content .right-miss p {
    width: 95%;
    margin: 6.2% 0 0 0;
    line-height: 28px;
    letter-spacing: -1.5px;
    max-width: 1024px;
  }
  body .container #our-vision {
    margin-top: -2px;
  }
  body .container #our-vision .img-block-sp {
    float: left;
    position: relative;
    width: 100%;
    margin: 17px 0px 21px 0px;
  }
  body .container #our-vision .img-block-sp img {
    width: 94.6%;
    float: right;
    margin-top: 6px;
    position: relative;
    left: 0;
  }
  body .container #our-vision .img-block-sp h1 {
    font-family: PlayfairDisplay-Regular;
    font-size: 64px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    text-align: left;
    color: #f4f4f4;
    margin: 0;
    position: absolute;
    left: 0%;
    line-height: 0px;
    bottom: -71px;
    line-height: 65px;
    width: 100%;
  }
  body .container #our-vision .vision-title {
    font-family: SawarabiMincho-Regular;
    font-size: 27px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 44px;
    letter-spacing: 2px;
    text-align: left;
    color: #221f20;
    width: 88%;
    margin: 0 auto;
    padding-top: 0px;
    position: relative;
    left: 0;
  }
  body .container #our-vision .vision-description {
    font-family: NotoSansJP-Regular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 28px;
    letter-spacing: -1.4px;
    text-align: left;
    color: #777777;
    margin: 0;
    max-width: 1024px;
    margin: 18px auto;
    width: 88%;
    padding: 0px 4px 0px 0px;
    top: 0;
    left: 0;
    position: relative;
  }
  body .container #our-program {
    margin-top: 0px;
  }
  body .container #our-program .img-block-sp {
    float: left;
    position: relative;
    width: 100%;
    margin: 36px 0px 21px 0px;
  }
  body .container #our-program .img-block-sp img {
    width: 100%;
    float: left;
    margin-top: 6px;
    position: relative;
  }
  body .container #our-program .img-block-sp h1 {
    font-family: PlayfairDisplay-Regular;
    font-size: 64px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 3px;
    text-align: left;
    color: #f4f4f4;
    margin: 0;
    position: absolute;
    left: 0%;
    line-height: 0px;
    bottom: -71px;
    line-height: 65px;
    width: 100%;
  }
  body .container #our-program .program-title {
    width: 100%;
  }
  body .container #our-program .program-title h2 {
    font-family: SawarabiMincho-Regular;
    font-size: 27px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: 44px;
    letter-spacing: 2.5px;
    text-align: left;
    color: #221f20;
    width: 88%;
    float: left;
    padding-top: 0px;
    position: relative;
    left: 0;
    left: 0;
    margin: 0px 0px 0px 5%;
    min-width: 233px;
  }
  body .container #our-program .program-title .title-second {
    width: 62%;
  }
  body .container #our-program .sp-program-block {
    float: left;
    width: 91%;
    margin-left: 5%;
    padding-top: 1.7%;
    display: block;
  }
  body .container #our-program .sp-program-block .student {
    padding-bottom: 0px;
    top: 0;
  }
  body .container #our-program .sp-program-block .student h5 {
    margin: 7.5% 0 0 9%;
    padding-top: 2%;
    font-size: 16px;
    letter-spacing: .8px;
  }
  body .container #our-program .sp-program-block .student p {
    width: 90%;
    margin: 3% 0 0 8.4%;
    max-width: 1024px;
  }
  body .container #our-program .sp-program-block .business {
    margin-top: 7%;
    padding-bottom: 0px;
  }
  body .container #our-program .sp-program-block .business h5 {
    margin: 7.6% 0 0 9%;
    padding-top: 2%;
    font-size: 16px;
    letter-spacing: .8px;
  }
  body .container #our-program .sp-program-block .business p {
    width: 90%;
    margin: 3% 0 0 8.4%;
    max-width: 1024px;
  }
  body .container #our-program .btn-center-sp {
    float: left;
    width: 100%;
    padding: 10.2% 0 11.6% 0;
  }
  body .container #our-program .btn-center-sp a {
    padding: 2.3% 4% 2% 4%;
    font-size: 15px;
    letter-spacing: 1.5px;
  }
  body .container #trial-class {
    float: left;
    width: 100%;
  }
  body .container #trial-class h1 {
    margin-top: -51px;
    line-height: 66px;
    letter-spacing: 3.5px;
    font-size: 64px;
  }
  body .container #trial-class .right-section {
    margin-left: 25%;
    opacity: 1;
    display: flex;
    margin-top: 68px;
    padding-bottom: 36px;
    background: #fafafa;
  }
  body .container #trial-class .right-section .content {
    margin-left: -26.5%;
    margin-top: -125px;
    width: 121%;
  }
  body .container #trial-class .right-section .content .next-class {
    width: 60%;
  }
  body .container #trial-class .right-section .content .next-class .image {
    width: 21px;
    margin-left: 1px;
    margin-top: 2px;
  }
  body .container #trial-class .right-section .content .class-list {
    margin: 26px 0 0 0;
  }
  body .container #trial-class .right-section .content .class-list .class-detail {
    margin: 18px 0px 7px 0px;
  }
  body .container #trial-class .right-section .content .class-list .class-detail .inner-content {
    margin-left: 29px;
    padding-top: 8px;
  }
  body .container #trial-class .right-section .content .class-list .class-detail .inner-content .left-part {
    width: 81.5%;
    float: left;
  }
  body .container #trial-class .right-section .content .class-list .class-detail .inner-content .left-part .sp-title {
    letter-spacing: 1px;
    line-height: 25px;
    font-size: 16px;
    color: #221f20;
    font-family: "NotoSansJP-Medium";
  }
  body .container #trial-class .right-section .content .class-list .class-detail .inner-content .left-part .description {
    letter-spacing: -1.4px;
    line-height: 24px;
    font-size: 14px;
    padding-bottom: 7px;
  }
  body .container #trial-class .right-section .content .class-list .class-detail .inner-content .left-part .description p {
    padding: 12px 0px 0px 0px;
  }
  body .container #trial-class .right-section .content .class-list .class-detail .inner-content .arrow-part {
    width: 17%;
    float: left;
  }
  body .container #trial-class .right-section .content .class-list .class-detail .inner-content .btn-detail {
    margin-left: 40%;
    width: 30px;
  }
  body .container #trial-class .right-section .content .class-list .class-detail .inner-content .btn-detail a {
    padding: 27.3% 33% 23.27% 33%;
    max-width: 83px;
  }
  body .container #trial-class .right-section .content .class-list .class-detail .inner-content .btn-detail a img {
    width: 7px;
  }
  body .container #our-part {
    margin-top: 94px;
    float: left;
    width: 100%;
  }
  body .container #our-part h1 {
    line-height: 64px;
    letter-spacing: 3.2px;
    font-size: 64px;
  }
  body .container #our-part .content {
    margin-left: 6%;
    padding-top: 0;
    margin-bottom: 1.12%;
    margin-top: -45px;
    width: 88%;
  }
  body .container #our-part .content .top-section {
    padding-bottom: 46px;
  }
  body .container #our-part .content .top-section .title {
    font-size: 23px;
  }
  body .container #our-part .content .logo-block .common {
    width: 48.1%;
    margin: 0 0 5% 0;
  }
  body .container #our-part .content .logo-block .ily-logo,
  body .container #our-part .content .logo-block .google-logo {
    margin-right: 3.8%;
  }
  body .container #our-part .content .bottom-description {
    width: 99%;
    margin-left: -1%;
  }
  body .container #our-part .content .bottom-description .bottom-content {
    width: 93%;
  }
  body .container #our-part .content .bottom-description .bottom-content .title {
    font-size: 24px;
    padding-top: 9.5%;
  }
  body .container #our-part .content .bottom-description .bottom-content .description {
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    padding-top: 6%;
    padding-left: 6px;
    line-height: 28px;
    letter-spacing: 0.7px;
  }
  body .container #our-part .content .bottom-description .bottom-content .btn-details {
    margin-top: 13px;
    padding: 7.9% 0 11% 0;
  }
  body .container #our-part .content .bottom-description .bottom-content .btn-details a img {
    right: 7.5%;
  }
  body .container #our-part .content .copyright {
    padding: 45.6% 0 0 4%;
  }
  body .container #ily-popup .container {
    width: 90%;
    top: 3.7%;
  }
  body .container #ily-popup .container .left-section {
    width: 100%;
  }
  body .container #ily-popup .container .left-section img {
    width: 100%;
    float: none;
    min-height: auto;
  }
  body .container #ily-popup .container .right-section {
    width: 100%;
  }
  body .container #ily-popup .container .right-section .content-right {
    width: 90%;
    padding: 15px 0px 17px 18px;
  }
  body .container #ily-popup .container .right-section .content-right .top-title {
    font-size: 13px;
  }
  body .container #ily-popup .container .right-section .content-right .logo-section {
    width: 170px;
    margin-top: 15px;
  }
  body .container #ily-popup .container .right-section .content-right .text-section {
    margin-top: 15px;
  }
  body .container #ily-popup .container .right-section .content-right .text-section .firt-content {
    margin-top: 16px;
  }
  body .container #ily-popup .container .right-section .content-right .text-section .firt-content .title {
    letter-spacing: 0.1px;
    font-size: 13px;
  }
  body .container #ily-popup .container .right-section .content-right .text-section .firt-content .description {
    line-height: 24px;
    letter-spacing: -0.5px;
    font-size: 13px;
    padding-top: 10px;
  }
  body .container #ily-popup .container .right-section .content-right .text-section .second-content {
    margin-top: 36px;
  }
  body .container #ily-popup .container .right-section .content-right .text-section .second-content .description {
    line-height: 24px;
  }
  body .container #ily-popup .container .close-popup {
    left: 37%;
  }
}
/* different techniques for iPad screening */
