/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import 'common.less';

.pc {
  display: block;
}

.sp {
  display: none;
}

body {
  position: relative;
  margin: 0;

  .container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    min-width: 1024px;

    #banner-section {
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left top;
      position: relative;

      .top-section {
        display: flex;

        .left-section {
          width: 200px;
          position: fixed;
          z-index: 1;
          height: 100%;
          background: rgba(250, 250, 250, 0.6);

          .header-logo {
            margin: 0 auto;
            width: 50%;
            padding: 30% 0px 0px 0;

            .logo {
              width: 100%;
            }
          }

          .menu-section {
            margin: 0 auto;
            padding: 26% 0 0 0;

            ul {
              padding-left: 0;

              li {
                list-style-type: none;
                line-height: 20px;
                font-size: 14px;
                padding-bottom: 10%;
                letter-spacing: 0.7px;
                font-family: "NotoSansJP-Regular";
                text-align: left;
                padding-left: 20%;
                padding-right: 10%;

                a {
                  text-decoration: none;
                  color: #221f20;
                  -webkit-transition: font-weight .3s;
                  transition: font-weight .3s;
                }

                a:hover {
                  font-family: "NotoSansJP-Bold";
                }

                a.active {
                  background: url(../images/menu_underline@2x.png);
                  background-repeat: no-repeat;
                  background-position: bottom;
                  background-size: 100% 50%;
                }
              }
            }

            .middle {
              li {
                padding-bottom: 2.5%;

                .social-fb {
                  width: 6%;
                }

                .social-twitter {
                  width: 12%;
                  margin: 0px 0px 0px 20%;
                }
              }
            }
          }
        }

        .menu-section {
          margin: 0 auto;
          padding: 26% 0 0 0;

          ul {
            padding-left: 0;

            li {
              list-style-type: none;
              line-height: 20px;
              font-size: 14px;
              padding-bottom: 10%;
              letter-spacing: 0.7px;
              font-family: "NotoSansJP-Regular";
              text-align: left;
              padding-left: 30%;

              a {
                text-decoration: none;
                color: #221f20;
                -webkit-transition: font-weight .3s;
                transition: font-weight .3s;
              }

              a:hover {
                font-family: "NotoSansJP-Bold";
              }

              a.active {
                border-bottom: 8px solid #b4d6d3;
              }

              &:nth-child(1) {
                a:hover {
                  letter-spacing: 0.3px;
                }
              }

              &:nth-child(4) {
                a:hover {
                  letter-spacing: 0.3px;
                }
              }
            }
          }

          .middle {
            li {
              padding-bottom: 2.5%;

              .social-fb {
                width: 6%;
              }

              .social-twitter {
                width: 12%;
                margin: 0px 0px 0px 20%;
              }

              &:last-child {
                font-family: Roboto-Regular;
                font-size: 14px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.36;
                letter-spacing: 0.7px;
                text-align: left;
                color: #221f20;

                &:hover {
                  a {
                    font-family: Roboto-Regular;
                  }
                }

              }
            }
          }
        }

        .experience-section {
          width: 114.5%;
          background-color: #ffffff;
          border-top-right-radius: 4em;
          border-bottom-right-radius: 4em;
          margin-top: 17%;
          z-index: 1;
          position: relative;
          min-width: 214px;
          -webkit-transition: all .3s;
          transition: all .3s;
          cursor: pointer;
          box-shadow: 0 3px 7px 0 rgba(119, 119, 119, 0.2);

          a {
            text-decoration: none;
            color: #221f20;
          }


          .text-section {
            padding: 6.4% 0px 16.5% 15%;

            .top-title {
              font-size: 14px;
              font-family: "NotoSansJP-Regular";
              letter-spacing: 0.7px;
              line-height: 20px;
              color: #221f20;
            }

            .middle-title {
              font-size: 20px;
              font-family: "NotoSansJP-Bold";
              line-height: 29px;
              letter-spacing: 1px;
            }

            .bottom-title {
              font-size: 14px;
              font-family: "NotoSansJP-Regular";
              letter-spacing: 0.7px;
              line-height: 20px;
              color: #221f20;
              padding-top: 7%;

              .text {
                float: left;
              }

              .detail-image {
                float: left;
                width: 26px;

                img {
                  width: 100%;
                  margin: -9% 0px 0px 19%;
                }
              }
            }
          }
        }

        .experience-section:hover {
          opacity: .85;
        }

        .bottom {
          margin: 0 auto;
          padding: 49% 0 0 0;

          ul {
            padding-left: 0;

            li {
              list-style-type: none;
              line-height: 20px;
              font-size: 12px;
              padding-bottom: 5%;
              letter-spacing: 0.7px;
              font-family: "Roboto-Regular";
              text-align: left;
              padding-left: 20%;

              a {
                text-decoration: none;
                color: #777777;
                -webkit-transition: font-weight 0.3s;
                transition: font-weight 0.3s;
                font-size: 12px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.33;
                letter-spacing: 0.6px;
                text-align: left;
                color: #777777;
              }

              &:hover {
                a {
                  font-family: Roboto-Black;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.33;
                  letter-spacing: 0.3px;
                }
              }
            }
          }
        }
      }

      .right-section {
        // width: 85.7%;
        width: -webkit-calc(~"100% - 200px");
        width: calc(~"100% - 200px");
        margin-left: 200px;
        padding-bottom: 39px;

        /* ie6-9 */
        .middle-part {
          // width: 66.5%;
          // margin: 0 auto;
          width: 100%;
          padding-top: 20.7%;

          .title {
            font-family: "PlayfairDisplay-Regular";
            font-size: 32px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.34;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            position: relative;
          }

          .box-title {
            height: 62px;
            border: solid 4px #ffffff;
            margin-top: 3.1%;
            position: relative;
            margin: 3.3% 0 0 -.2%;

            p {
              font-family: "HomemadeApple-Regular";
              font-size: 40px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: left;
              color: #ffffff;
              position: absolute;
              left: 1.3%;
              letter-spacing: 0px;
              margin: 0px;
              padding: 14px;
            }
          }

          h2 {
            margin: 0 0 0 16.6%;
            font-size: 80px;
            font-family: "SawarabiMincho-Regular";
            color: #fff;
            line-height: 116px;
            font-weight: 100;
            z-index: 10000;
            position: relative;
          }
        }

        .bottom-part {
          width: 66.5%;
          margin: 0 auto;
          padding-top: 22%;

          .title {
            position: relative;

            .image-notification {
              float: left;
              width: 24px;

              img {
                width: 100%;
              }
            }

            .news-title {
              float: left;
              width: 93%;
              color: #ffffff;
              font-size: 14px;
              font-family: "Roboto-Regular";
              margin: 1px 0 10px 8px;
              line-height: 0;
            }
          }

          .news-scroll {
            border-bottom: 1px #fff solid;
            float: left;
            width: 100%;
            position: relative;

            .scroll-title {
              float: left;
              color: #ffffff;
              font-size: 14px;
              margin-top: -12px;
              width: 89%;

              p {
                margin-bottom: 10px;
                font-family: "hirakakupro-w3-opentype";
                letter-spacing: 0.7px;
              }
            }

            .detial-button {
              float: right;
              width: 7%;
              min-width: 56px;

              .detail-title {
                color: #ffffff;
                font-size: 12px;
                font-family: "Roboto-Regular";
                margin-top: 3px;
                letter-spacing: 0.3px;
                float: left;
              }

              .arrow {
                width: 18%;
                float: right;
                margin-top: 2px;

                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .right-menu {
        position: fixed;
        right: 4.2%;
        top: 5.5%;
        z-index: 1;

        ul {
          padding: 0;
          margin: 0;

          li {
            list-style: none;

            a {
              writing-mode: tb-rl;
              text-decoration: none;
              color: #c3c3c3;
              text-transform: uppercase;
              padding: 12px 0 13px 0;
              font-size: 12px;
              -webkit-transition: color .3s;
              transition: color .3s;
              font-family: Roboto;
            }

            a:hover {
              color: #b4d6d3;
            }

            a.active {
              color: #c83015;
            }
          }

          li:first-child {
            a {
              padding: 22px 0 5px 0;
            }
          }

          li:nth-child(2) {
            a {
              padding: 22px 0 6px 0;
            }
          }
        }
      }
    }


    /* Popup box BEGIN */
    #ily-popup {
      background: rgba(0, 0, 0, .4);
      cursor: pointer;
      display: none;
      height: 100%;
      position: fixed;
      text-align: center;
      top: 0;
      width: 100%;
      z-index: 10000;
      display: none;
      overflow: scroll;

      .container {
        background-color: #fff;
        box-shadow: 10px 10px 60px #555;
        display: inline-block;
        height: auto;
        max-width: 1280px;
        min-height: 100px;
        vertical-align: middle;
        width: 78%;
        position: relative;
        top: 8.5%;
        position: relative;

        .left-section {
          float: left;
          width: 50%;

          img {
            width: 99%;
            float: left;
            min-height: 580px;
          }
        }

        .right-section {
          float: left;
          width: 50%;

          .content-right {
            padding-left: 37px;
            padding-top: 39px;
            width: 87%;

            .top-title {
              text-align: left;
              color: #221f20;
              font-family: Roboto-Bold;
              font-size: 15px;
            }

            .logo-section {
              width: 278px;
              margin-top: 21px;

              img {
                width: 100%;
              }
            }

            .text-section {
              border-top: 1px solid #000000;
              margin-top: 38px;

              .firt-content {
                margin-top: 22px;

                .title {
                  font-family: Roboto-Bold;
                  text-align: left;
                  font-size: 15px;
                  letter-spacing: 0.2px;
                }

                .description {
                  text-align: left;
                  font-family: NotoSansJP-Regular;
                  font-size: 14px;
                  padding-top: 11px;
                  line-height: 28px;
                  letter-spacing: 0.6px;
                }
              }

              .second-content {
                margin-top: 46px;

                .title {
                  font-family: Roboto-Bold;
                  text-align: left;
                  font-size: 15px;
                  letter-spacing: 0.2px;

                  .bar {
                    font-family: Roboto-Medium;
                    padding-left: 19px;

                    .bar-text {
                      padding-left: 13px;
                      letter-spacing: .6px;
                    }
                  }

                  .icon {
                    img {
                      width: 10px;
                    }
                  }
                }

                .description {
                  text-align: left;
                  font-family: NotoSansJP-Regular;
                  font-size: 11px;
                  padding-top: 11px;
                  line-height: 22px;
                  letter-spacing: 1.5px;
                }
              }
            }
          }
        }

        .close-popup {
          position: absolute;
          bottom: -55px;
          left: 45.5%;

          img {
            width: 28px;
          }

          span {
            font-family: NotoSansJP-Medium;
            margin-left: 15px;
            font-size: 15px;
            top: -7px;
            position: relative;
            color: #ffffff;
          }
        }
      }
    }
  }

  #trial-class {
    position: relative;
    margin-top: 1px;

    h1 {
      font-family: "PlayfairDisplay-Regular";
      font-size: 100px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 5px;
      text-align: left;
      color: #f4f4f4;
      margin: 0;
    }

    .right-section {
      margin-left: 202px;
      background-color: #fafafa;
      opacity: 1;
      display: flex;
      margin-top: -171px;
      padding-bottom: 20px;

      .content {
        margin-left: 20.6%;
        margin-top: -113px;
        width: 67%;

        .next-class {
          width: 40%;

          .image {
            float: left;
            width: 19px;
            margin-left: 2px;
            margin-top: 3px;

            img {
              width: 100%;
            }
          }

          .title {
            font-size: 19px;
            font-family: "Roboto-Black";
            color: #221f20;
            margin-left: 39px;
            letter-spacing: 1.5px;

            p {
              padding-top: 0px;
            }
          }
        }

        .class-list {
          margin: 26px 0 0 0;

          .class-detail {
            background: #fff;
            border-left: 4px solid #221f20;
            float: left;
            margin: 0px 0px 24px 0px;

            .inner-content {
              margin-left: 28px;
              padding-top: 27px;

              .left-part {
                width: 78%;
                float: left;

                .title {
                  font-size: 20px;
                  color: #221f20;
                  font-family: "NotoSansJP-Medium";
                  letter-spacing: 1.1px;
                }

                .description {
                  font-size: 14px;
                  color: #777777;
                  font-family: "NotoSansJP-Regular";
                  letter-spacing: 0.7px;
                  line-height: 27px;
                  padding-bottom: 20px;

                  p {
                    margin: 0;
                    padding: 11px 0px 0px 0px;
                  }
                }
              }

              .arrow-part {
                width: 22%;
                float: left;

                .btn-detail {
                  margin-left: 40%;
                  width: 60px;

                  a {
                    color: #1d2d44;
                    border: solid 2px #1d2d44;
                    text-decoration: none;
                    padding: 31% 3% 31% 39%;
                    display: block;
                    max-width: 83px;
                    margin: 0 auto;
                    position: relative;
                    -webkit-transition: all .3s;
                    transition: all .3s;

                    img {
                      width: 10px;
                    }
                  }

                  a:hover {
                    color: #fff;
                    background: #1d2d44;
                  }
                }
              }
            }

          }
        }
      }
    }
  }

  #our-part {
    position: relative;
    margin-top: 1px;

    h1 {
      font-family: "PlayfairDisplay-Regular";
      font-size: 100px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 5px;
      text-align: left;
      color: #f4f4f4;
      margin: 0;
    }

    .content {
      margin-left: 18%;
      padding-top: 0.22%;
      margin-bottom: 1.12%;
      margin-top: -170px;
      width: 64.5%;

      .top-section {
        padding-bottom: 14px;

        .title {
          color: #221f20;
          font-size: 32px;
          font-family: "SawarabiMincho-Regular";
          letter-spacing: 1.7px;
        }

        .description {
          font-size: 14px;
          color: #777777;
          font-family: "NotoSansJP-Regular";
          letter-spacing: 2.8px;
          line-height: 29px;
          padding-bottom: 20px;
          padding-top: 32px;
        }
      }

      .logo-block {
        margin-left: 1px;

        .common {
          width: 22.1%;
          background: #fff;
          float: left;
          margin-right: 3.8%;
        }

        .ily-logo {
          position: relative;

          img {
            width: 100%;
          }

          .ily-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            top: 0;

            .text {
              padding-top: 33%;

              p {
                font-size: 20px;
                font-family: 'Roboto-Black';
                color: #ffffff;
                letter-spacing: 1px;
                margin: 0;
                padding-left: 10%;
                margin-bottom: 23%;
              }

              .btn-detail {
                text-align: center;
                width: 80.1%;
                margin-left: 10%;

                a {
                  font-family: 'Roboto-Regular';
                  font-size: 12px;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.31;
                  letter-spacing: 0.8px;
                  text-align: center;
                  color: #fff;
                  border: solid 1px #fff;
                  text-decoration: none;
                  padding: 5.3% 2% 4.27% 4%;
                  display: block;
                  max-width: 223px;
                  margin: 0 auto;
                  position: relative;

                  img {
                    width: 4%;
                    position: absolute;
                    right: 8.5%;
                    top: 36%;
                  }
                }

              }
            }
          }
        }

        .rakuten-logo {
          img {
            width: 100%;
          }
        }

        .google-logo {
          img {
            width: 100%;
          }
        }

        .yahoo-logo {
          margin-right: 0px;

          img {
            width: 100%;
          }
        }
      }

      .bottom-description {
        border: solid 4px #f4f4f4;
        background-color: #ffffff;
        margin-top: 13%;
        width: 98.9%;
        margin-left: -0.2%;

        .bottom-content {
          margin: 0 auto;
          width: 76%;

          .title {
            font-family: "SawarabiMincho-Regular";
            font-size: 32px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.47;
            letter-spacing: 1px;
            text-align: center;
            color: #221f20;
            padding-top: 7.5%;
            position: relative;
            left: 3px;
          }

          .description {
            font-family: "NotoSansJP-Regular";
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: 0.8px;
            text-align: center;
            color: #777777;
            padding-top: 4%;
          }

          .btn-details {
            padding: 7.9% 0 8% 0;
            text-align: center;

            a {
              font-family: "Roboto-Regular";
              font-size: 16px;
              font-weight: bold;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.31;
              letter-spacing: 0.8px;
              text-align: center;
              color: #1d2d44;
              border: solid 2px #1d2d44;
              text-decoration: none;
              padding: 3% 4% 2.3% 4%;
              display: block;
              max-width: 341px;
              margin: 0 auto;
              position: relative;
              -webkit-transition: all .3s;
              transition: all .3s;

              img {
                width: 10px;
                position: absolute;
                right: 9.5%;
              }
            }

            a:hover {
              color: #fff;
              background: #1d2d44;
            }
          }
        }
      }

      .copyright {
        font-family: "Roboto-Regular";
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: 0.6px;
        text-align: left;
        color: #777777;
        padding-top: 19.6%;
      }
    }
  }

  @import "mis-vis-prog.less";
}


.back-to-up {
  bottom: 28px;
  cursor: pointer;
}

#our-part {
  .content {
    .logo-block {
      .partner-logo {
        position: relative;
        line-height: 0;

        .partner-overlay {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: #1d2d44;
          visibility: hidden;
          z-index: 9;
          opacity: 0;
          -webkit-transition: all .3s;
          transition: all .3s;

          .text {
            padding-top: 33%;
            margin-bottom: 23%;

            p {
              margin: 0;
              padding-left: 10%;
              font-size: 20px;
              font-family: 'Roboto-Black';
              color: #ffffff;
              letter-spacing: 1px;
              line-height: 1.4;
            }
          }

          .btn-detail {
            text-align: center;
            width: 80.1%;
            margin-left: 10%;

            a {
              font-family: 'Roboto-Regular';
              font-size: 12px;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.31;
              letter-spacing: 0.8px;
              text-align: center;
              color: #fff;
              border: solid 1px #fff;
              text-decoration: none;
              padding: 5.3% 2% 4.27% 4%;
              display: block;
              max-width: 223px;
              margin: 0 auto;
              position: relative;

              img {
                width: 4%;
                position: absolute;
                right: 8.5%;
                top: 36%;
              }
            }
          }
        }

        &:hover {
          .partner-overlay {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}



/* ==========================================================================
   style for smartphone max-width:767px
============================================================================= */
@media only screen and (max-width: 1024px) {
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  body {
    .btn-center {
      padding: 9.4% 0 11.6% 0;

      a {
        padding: 2.3% 4% 2% 4%;
        max-width: 267px;

        img {
          right: 7.5%;
        }
      }
    }

    .container {
      max-width: 1024;
      min-width: 0 !important;

      .left {
        float: left;
      }

      .right {
        float: right;
      }

      #banner-section {
        width: 100%;
        // background: url(../images/sp/fv-slide-1@2x.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left top;

        div {
          background-repeat: no-repeat !important;
          background-size: cover !important;
        }

        .feed-banners-cover {
          width: 100%;
          height: 100%;
          background: linear-gradient(270deg, rgba(79, 96, 112, 0.2) 0%, rgba(107, 105, 106, 0.4) 100%);
          position: absolute;
          z-index: 0;
        }

        .feed-banners {
          width: 100%;
          height: 100%;
          background: url(../images/sp/fv-slide-1@2x.png);
          background-size: cover;
          background-repeat: no-repeat;
          background-position: left top;
          position: absolute;
          z-index: -1;
        }

        .mobile-nav {
          width: 90%;
          margin: 0 auto;
          padding-top: 4%;
          position: relative;
          z-index: 1;

          .logo {
            img {
              max-width: 206px;
              width: 100%;
              padding-top: 4px;
            }
          }

          .nav-btn {
            img {
              max-width: 36px;
              width: 100%;
              padding-top: 10px;
            }
          }
        }

        .middle-part {
          width: 86%;
          margin: 0 auto;
          padding-top: 53.5%;
          position: relative;
          z-index: 1;

          h2 {
            font-family: SawarabiMincho-Regular;
            font-size: 10.677vw;
            color: #fff;
            text-align: left;
            font-weight: 100;
          }

          .title {
            font-family: "PlayfairDisplay-Regular";
            font-size: 25px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.34;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
          }

          .box-title {
            height: 52px;
            border: solid 4px #ffffff;
            margin-top: 3.1%;
            position: relative;
            margin: 5.3% 0 0 -0.2%;

            p {
              font-family: "HomemadeApple-Regular";
              font-size: 1.3em;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              letter-spacing: normal;
              text-align: left;
              color: #ffffff;
              position: absolute;
              left: -11.7%;
              letter-spacing: 0px;
              margin: 0px;
              padding: 14px;
              right: -13%;
            }
          }
        }

        .bottom-part {
          width: 89.5%;
          margin: 0 auto;
          padding-top: 56.5%;
          height: 100px;
          position: relative;
          z-index: 1;

          .title {
            float: left;
            width: 100%;

            .image-notification {
              float: left;
              width: 17px;

              img {
                width: 100%;
              }
            }

            .news-title {
              float: left;
              width: 68%;
              color: #ffffff;
              font-size: 11px;
              font-family: "Roboto-Regular";
              margin: 1px 0 8px 8px;
              line-height: 0;
              letter-spacing: 1.3px;
            }
          }

          .news-scroll {
            border-bottom: 1px #fff solid;
            float: left;
            width: 100%;

            .scroll-title {
              float: left;
              color: #ffffff;
              font-size: 11px;
              margin-top: -14px;
              width: 77%;

              p {
                margin-bottom: 12px;
                font-family: "hirakakupro-w3-opentype";
                letter-spacing: 1.2px;
              }

              .data-title {
                margin-top: -6px;
              }
            }

            .detial-button {
              float: right;
              width: 10%;
              min-width: 58px;
              margin-top: 12px;

              .detail-title {
                color: #ffffff;
                font-size: 12px;
                font-family: "Roboto-Regular";
                margin-top: 1px;
                letter-spacing: 0.3px;
                float: left;
              }

              .arrow {
                width: 10px;
                float: right;

                img {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      #our-mission {
        margin-top: -1px;

        .img-box-sp {
          background: url(../images/sp/header_img@2x.jpg);
          width: 100%;
          background-position: top left;
          background-size: contain;
          background-repeat: no-repeat;
          position: relative;

          .left-text-sp {
            h1 {
              font-family: PlayfairDisplay-Regular;
              padding: 69.9% 0 7px 0%;
              line-height: 65px;
              letter-spacing: 3.3px;
              font-size: 64px;
              margin-top: 0;
              color: #ffffff;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              text-align: left;
              position: relative;
              bottom: 0px;
              margin-bottom: 0px;
              top: 14px;
            }
          }
        }

        .content {
          display: block;
          width: 91%;
          margin: 0 auto;
          padding: 33px 0 0 7px;

          .right-miss {
            margin: 0 auto;

            h2 {
              font-size: 37px;
              margin: 0% 0 0% 0;
              letter-spacing: 5px;
            }

            h4 {
              font-size: 14px;
              margin: 3.3% 0 0 0;
            }

            p {
              width: 95%;
              margin: 6.2% 0 0 0;
              line-height: 28px;
              letter-spacing: -1.5px;
              max-width: 1024px;
            }
          }
        }
      }

      #our-vision {
        margin-top: -2px;

        .img-block-sp {
          float: left;
          position: relative;
          width: 100%;
          margin: 17px 0px 21px 0px;

          img {
            width: 94.6%;
            float: right;
            margin-top: 6px;
            position: relative;
            left: 0;
          }

          h1 {
            font-family: PlayfairDisplay-Regular;
            font-size: 64px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 3px;
            text-align: left;
            color: #f4f4f4;
            margin: 0;
            position: absolute;
            left: 0%;
            line-height: 0px;
            bottom: -71px;
            line-height: 65px;
            width: 100%;
          }

        }

        .vision-title {
          font-family: SawarabiMincho-Regular;
          font-size: 27px;
          font-weight: 100;
          font-style: normal;
          font-stretch: normal;
          line-height: 44px;
          letter-spacing: 2px;
          text-align: left;
          color: #221f20;
          width: 88%;
          margin: 0 auto;
          padding-top: 0px;
          position: relative;
          left: 0;
        }

        .vision-description {
          font-family: NotoSansJP-Regular;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 28px;
          letter-spacing: -1.4px;
          text-align: left;
          color: #777777;
          margin: 0;
          max-width: 1024px;
          margin: 18px auto;
          width: 88%;
          padding: 0px 4px 0px 0px;
          top: 0;
          left: 0;
          position: relative;
        }
      }

      #our-program {
        margin-top: 0px;

        .img-block-sp {
          float: left;
          position: relative;
          width: 100%;
          margin: 36px 0px 21px 0px;

          img {
            width: 100%;
            float: left;
            margin-top: 6px;
            position: relative;
          }

          h1 {
            font-family: PlayfairDisplay-Regular;
            font-size: 64px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: 3px;
            text-align: left;
            color: #f4f4f4;
            margin: 0;
            position: absolute;
            left: 0%;
            line-height: 0px;
            bottom: -71px;
            line-height: 65px;
            width: 100%;
          }
        }

        .program-title {
          width: 100%;

          h2 {
            font-family: SawarabiMincho-Regular;
            font-size: 27px;
            font-weight: 100;
            font-style: normal;
            font-stretch: normal;
            line-height: 44px;
            letter-spacing: 2.5px;
            text-align: left;
            color: #221f20;
            width: 88%;
            float: left;
            padding-top: 0px;
            position: relative;
            left: 0;
            left: 0;
            margin: 0px 0px 0px 5%;
            min-width: 233px;
          }

          .title-second {
            width: 62%;
          }
        }

        .sp-program-block {
          float: left;
          width: 91%;
          margin-left: 5%;
          padding-top: 1.7%;
          display: block;

          .student {
            padding-bottom: 0px;
            top: 0;

            h5 {
              margin: 7.5% 0 0 9%;
              padding-top: 2%;
              font-size: 16px;
              letter-spacing: .8px;
            }

            p {
              width: 90%;
              margin: 3% 0 0 8.4%;
              max-width: 1024px;
            }
          }

          .business {
            margin-top: 7%;
            padding-bottom: 0px;

            h5 {
              margin: 7.6% 0 0 9%;
              padding-top: 2%;
              font-size: 16px;
              letter-spacing: .8px;
            }

            p {
              width: 90%;
              margin: 3% 0 0 8.4%;
              max-width: 1024px;
            }
          }
        }

        .btn-center-sp {
          float: left;
          width: 100%;
          padding: 10.2% 0 11.6% 0;

          a {
            padding: 2.3% 4% 2% 4%;
            font-size: 15px;
            letter-spacing: 1.5px;
          }
        }
      }

      #trial-class {
        float: left;
        width: 100%;

        h1 {
          margin-top: -51px;
          line-height: 66px;
          letter-spacing: 3.5px;
          font-size: 64px;
        }

        .right-section {
          margin-left: 25%;
          opacity: 1;
          display: flex;
          margin-top: 68px;
          padding-bottom: 36px;
          background: #fafafa;

          .content {
            margin-left: -26.5%;
            margin-top: -125px;
            width: 121%;

            .next-class {
              width: 60%;

              .image {
                width: 21px;
                margin-left: 1px;
                margin-top: 2px;
              }
            }

            .class-list {
              margin: 26px 0 0 0;

              .class-detail {
                margin: 18px 0px 7px 0px;

                .inner-content {
                  margin-left: 29px;
                  padding-top: 8px;

                  .left-part {
                    width: 81.5%;
                    float: left;

                    .sp-title {
                      letter-spacing: 1px;
                      line-height: 25px;
                      font-size: 16px;
                      color: #221f20;
                      font-family: "NotoSansJP-Medium";
                    }

                    .description {
                      letter-spacing: -1.4px;
                      line-height: 24px;
                      font-size: 14px;
                      padding-bottom: 7px;

                      p {
                        padding: 12px 0px 0px 0px;
                      }
                    }
                  }

                  .arrow-part {
                    width: 17%;
                    float: left;
                  }

                  .btn-detail {
                    margin-left: 40%;
                    width: 30px;

                    a {
                      padding: 27.3% 33% 23.27% 33%;
                      max-width: 83px;

                      img {
                        width: 7px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      #our-part {
        margin-top: 94px;
        float: left;
        width: 100%;

        h1 {
          line-height: 64px;
          letter-spacing: 3.2px;
          font-size: 64px;
        }

        .content {
          margin-left: 6%;
          padding-top: 0;
          margin-bottom: 1.12%;
          margin-top: -45px;
          width: 88%;

          .top-section {
            padding-bottom: 46px;

            .title {
              font-size: 23px;
            }
          }

          .logo-block {
            .common {
              width: 48.1%;
              margin: 0 0 5% 0;
            }

            .ily-logo,
            .google-logo {
              margin-right: 3.8%;
            }
          }

          .bottom-description {
            width: 99%;
            margin-left: -1%;

            .bottom-content {
              width: 93%;

              .title {
                font-size: 24px;
                padding-top: 9.5%;
              }

              .description {
                font-family: "NotoSansJP-Regular";
                font-size: 14px;
                padding-top: 6%;
                padding-left: 6px;
                line-height: 28px;
                letter-spacing: 0.7px;
              }

              .btn-details {
                margin-top: 13px;
                padding: 7.9% 0 11% 0;

                a {
                  img {
                    right: 7.5%;
                  }
                }
              }
            }
          }

          .copyright {
            padding: 45.6% 0 0 4%;
          }
        }
      }

      #ily-popup {
        .container {
          width: 90%;
          top: 3.7%;

          .left-section {
            width: 100%;

            img {
              width: 100%;
              float: none;
              min-height: auto;
            }
          }

          .right-section {
            width: 100%;

            .content-right {
              width: 90%;
              padding: 15px 0px 17px 18px;

              .top-title {
                font-size: 13px;
              }

              .logo-section {
                width: 170px;
                margin-top: 15px;
              }

              .text-section {
                margin-top: 15px;

                .firt-content {
                  margin-top: 16px;

                  .title {
                    letter-spacing: 0.1px;
                    font-size: 13px;
                  }

                  .description {
                    line-height: 24px;
                    letter-spacing: -.5px;
                    font-size: 13px;
                    padding-top: 10px;
                  }
                }

                .second-content {
                  margin-top: 36px;

                  .description {
                    line-height: 24px;
                  }
                }
              }
            }
          }

          .close-popup {
            left: 37%;
          }
        }
      }
    }
  }
}

/* different techniques for iPad screening */
// @media only screen and (max-width: 1024px) and (min-width: 768px) {
//   /* For portrait layouts only */
//
//   .pc {
//     display: none;
//   }
//
//   .sp {
//     display: block;
//   }
//
//   body {
//     .btn-center {
//       padding: 9.4% 0 11.6% 0;
//
//       a {
//         padding: 2.3% 4% 2% 4%;
//         max-width: 267px;
//
//         img {
//           right: 7.5%;
//         }
//       }
//     }
//
//     .container {
//       max-width: 1024;
//       min-width: 0 !important;
//
//       .left {
//         float: left;
//       }
//
//       .right {
//         float: right;
//       }
//
//       #banner-section {
//         width: 100%;
//         background: url(../images/sp/fv-slide-1@2x.png);
//         background-size: cover;
//         background-repeat: no-repeat;
//         background-position: left top;
//
//         .mobile-nav {
//           width: 90%;
//           margin: 0 auto;
//           padding-top: 4%;
//
//           .logo {
//             img {
//               max-width: 206px;
//               width: 100%;
//               padding-top: 4px;
//             }
//           }
//
//           .nav-btn {
//             img {
//               max-width: 36px;
//               width: 100%;
//               padding-top: 10px;
//             }
//           }
//         }
//
//         .middle-part {
//           width: 80%;
//           margin: 0 auto;
//           padding-top: 53.5%;
//
//           .title {
//             font-family: "PlayfairDisplay-Regular";
//             font-size: 25px;
//             font-weight: normal;
//             font-style: normal;
//             font-stretch: normal;
//             line-height: 1.34;
//             letter-spacing: normal;
//             text-align: left;
//             color: #ffffff;
//           }
//
//           .box-title {
//             height: 52px;
//             border: solid 4px #ffffff;
//             margin-top: 3.1%;
//             position: relative;
//             margin: 5.3% 0 0 -0.2%;
//
//             p {
//               font-family: "HomemadeApple-Regular";
//               font-size: 1.3em;
//               font-weight: normal;
//               font-style: normal;
//               font-stretch: normal;
//               letter-spacing: normal;
//               text-align: left;
//               color: #ffffff;
//               position: absolute;
//               left: 0;
//               letter-spacing: 0px;
//               margin: 0px;
//               padding: 14px;
//               right: -13%;
//             }
//           }
//         }
//
//         .bottom-part {
//           width: 89.5%;
//           margin: 0 auto;
//           padding-top: 56.5%;
//           height: 100px;
//
//           .title {
//             float: left;
//             width: 100%;
//
//             .image-notification {
//               float: left;
//               width: 17px;
//
//               img {
//                 width: 100%;
//               }
//             }
//
//             .news-title {
//               float: left;
//               width: 68%;
//               color: #ffffff;
//               font-size: 11px;
//               font-family: "Roboto-Regular";
//               margin: 1px 0 8px 8px;
//               line-height: 0;
//               letter-spacing: 1.3px;
//             }
//           }
//
//           .news-scroll {
//             border-bottom: 1px #fff solid;
//             float: left;
//             width: 100%;
//
//             .scroll-title {
//               float: left;
//               color: #ffffff;
//               font-size: 11px;
//               margin-top: -14px;
//               width: 77%;
//
//               p {
//                 margin-bottom: 12px;
//                 font-family: "hirakakupro-w3-opentype";
//                 letter-spacing: 1.2px;
//               }
//
//               .data-title {
//                 margin-top: -6px;
//               }
//             }
//
//             .detial-button {
//               float: right;
//               width: 10%;
//               min-width: 58px;
//               margin-top: 12px;
//
//               .detail-title {
//                 color: #ffffff;
//                 font-size: 12px;
//                 font-family: "Roboto-Regular";
//                 margin-top: 1px;
//                 letter-spacing: 0.3px;
//                 float: left;
//               }
//
//               .arrow {
//                 width: 10px;
//                 float: right;
//
//                 img {
//                   width: 100%;
//                 }
//               }
//             }
//           }
//         }
//       }
//
//       #our-mission {
//         margin-top: -1px;
//
//         .img-box-sp {
//           background: url(../images/sp/header_img@2x.jpg);
//           width: 100%;
//           background-position: top left;
//           background-size: contain;
//           background-repeat: no-repeat;
//           position: relative;
//
//           .left-text-sp {
//             h1 {
//               font-family: PlayfairDisplay-Regular;
//               padding: 69.9% 0 7px 0%;
//               line-height: 65px;
//               letter-spacing: 3.3px;
//               font-size: 64px;
//               margin-top: 0;
//               color: #ffffff;
//               font-weight: normal;
//               font-style: normal;
//               font-stretch: normal;
//               text-align: left;
//               position: relative;
//               bottom: 0px;
//               margin-bottom: 0px;
//               top: 14px;
//             }
//           }
//         }
//
//         .content {
//           display: block;
//           width: 91%;
//           margin: 0 auto;
//           padding: 33px 0 0 7px;
//
//           .right-miss {
//             margin: 0 auto;
//
//             h2 {
//               font-size: 28px;
//               margin: 0% 0 0% 0;
//               letter-spacing: 5px;
//             }
//
//             h4 {
//               font-size: 14px;
//               margin: 3.3% 0 0 0;
//             }
//
//             p {
//               width: 95%;
//               margin: 6.2% 0 0 0;
//               line-height: 28px;
//               letter-spacing: -1.5px;
//               max-width: 1024px;
//             }
//           }
//         }
//       }
//
//       #our-vision {
//         margin-top: -2px;
//
//         .img-block-sp {
//           float: left;
//           position: relative;
//           width: 100%;
//           margin: 17px 0px 21px 0px;
//
//           img {
//             width: 94.6%;
//             float: right;
//             margin-top: 6px;
//             position: relative;
//             left: 0;
//           }
//
//           h1 {
//             font-family: PlayfairDisplay-Regular;
//             font-size: 64px;
//             font-weight: normal;
//             font-style: normal;
//             font-stretch: normal;
//             letter-spacing: 3px;
//             text-align: left;
//             color: #f4f4f4;
//             margin: 0;
//             position: absolute;
//             left: 0%;
//             line-height: 0px;
//             bottom: -71px;
//             line-height: 65px;
//             width: 100%;
//           }
//
//         }
//
//         .vision-title {
//           font-family: SawarabiMincho-Regular;
//           font-size: 27px;
//           font-weight: 100;
//           font-style: normal;
//           font-stretch: normal;
//           line-height: 44px;
//           letter-spacing: 2px;
//           text-align: left;
//           color: #221f20;
//           width: 88%;
//           margin: 0 auto;
//           padding-top: 0px;
//           position: relative;
//           left: 0;
//         }
//
//         .vision-description {
//           font-family: NotoSansJP-Regular;
//           font-size: 16px;
//           font-weight: normal;
//           font-style: normal;
//           font-stretch: normal;
//           line-height: 28px;
//           letter-spacing: -1.4px;
//           text-align: left;
//           color: #777777;
//           margin: 0;
//           max-width: 1024px;
//           margin: 18px auto;
//           width: 88%;
//           padding: 0px 4px 0px 0px;
//           top: 0;
//           left: 0;
//           position: relative;
//         }
//       }
//
//       #our-program {
//         margin-top: 0px;
//
//         .img-block-sp {
//           float: left;
//           position: relative;
//           width: 100%;
//           margin: 36px 0px 21px 0px;
//
//           img {
//             width: 100%;
//             float: left;
//             margin-top: 6px;
//             position: relative;
//           }
//
//           h1 {
//             font-family: PlayfairDisplay-Regular;
//             font-size: 64px;
//             font-weight: normal;
//             font-style: normal;
//             font-stretch: normal;
//             letter-spacing: 3px;
//             text-align: left;
//             color: #f4f4f4;
//             margin: 0;
//             position: absolute;
//             left: 0%;
//             line-height: 0px;
//             bottom: -71px;
//             line-height: 65px;
//             width: 100%;
//           }
//         }
//
//         .program-title {
//           width: 100%;
//
//           h2 {
//             font-family: SawarabiMincho-Regular;
//             font-size: 27px;
//             font-weight: 100;
//             font-style: normal;
//             font-stretch: normal;
//             line-height: 44px;
//             letter-spacing: 2.5px;
//             text-align: left;
//             color: #221f20;
//             width: 88%;
//             float: left;
//             padding-top: 0px;
//             position: relative;
//             left: 0;
//             left: 0;
//             margin: 0px 0px 0px 5%;
//             min-width: 233px;
//           }
//
//           .title-second {
//             width: 62%;
//           }
//         }
//
//         .sp-program-block {
//           float: left;
//           width: 91%;
//           margin-left: 5%;
//           padding-top: 1.7%;
//           display: block;
//
//           .student {
//             padding-bottom: 0px;
//             margin-top: 0;
//
//
//             h5 {
//               margin: 7.5% 0 0 9%;
//               padding-top: 2%;
//               font-size: 16px;
//               letter-spacing: .8px;
//             }
//
//             h6 {
//               margin-left: 9%;
//               font-size: 16px;
//             }
//
//             p {
//               width: 90%;
//               margin: 3% 0 0 8.4%;
//               max-width: 1024px;
//               padding-bottom: 0;
//             }
//           }
//
//           .business {
//             margin-top: 7%;
//             padding-bottom: 0px;
//
//             h5 {
//               margin: 7.6% 0 0 9%;
//               padding-top: 2%;
//               font-size: 16px;
//               letter-spacing: .8px;
//             }
//
//             h6 {
//               margin-left: 9%;
//               font-size: 16px;
//             }
//
//             p {
//               width: 90%;
//               margin: 3% 0 0 8.4%;
//               max-width: 1024px;
//             }
//           }
//         }
//
//         .btn-center-sp {
//           float: left;
//           width: 100%;
//           padding: 10.2% 0 11.6% 0;
//
//           a {
//             padding: 2.3% 4% 2% 4%;
//             font-size: 15px;
//             letter-spacing: 1.5px;
//           }
//         }
//       }
//
//       #trial-class {
//         float: left;
//         width: 100%;
//
//         h1 {
//           margin-top: -51px;
//           line-height: 66px;
//           letter-spacing: 3.5px;
//           font-size: 64px;
//         }
//
//         .right-section {
//           margin-left: 25%;
//           opacity: 1;
//           display: flex;
//           margin-top: 68px;
//           padding-bottom: 36px;
//           background: #fafafa;
//
//           .content {
//             margin-left: -26.5%;
//             margin-top: -125px;
//             width: 121%;
//
//             .next-class {
//               width: 60%;
//
//               .image {
//                 width: 21px;
//                 margin-left: 1px;
//                 margin-top: 2px;
//               }
//             }
//
//             .class-list {
//               margin: 26px 0 0 0;
//
//               .class-detail {
//                 margin: 18px 0px 7px 0px;
//
//                 .inner-content {
//                   margin-left: 29px;
//                   padding-top: 8px;
//
//                   .left-part {
//                     width: 81.5%;
//                     float: left;
//
//                     .sp-title {
//                       letter-spacing: 1px;
//                       line-height: 25px;
//                       font-size: 16px;
//                       color: #221f20;
//                       font-family: "NotoSansJP-Medium";
//                     }
//
//                     .description {
//                       letter-spacing: -1.4px;
//                       line-height: 24px;
//                       font-size: 14px;
//                       padding-bottom: 7px;
//
//                       p {
//                         padding: 12px 0px 0px 0px;
//                       }
//                     }
//                   }
//
//                   .arrow-part {
//                     width: 17%;
//                     float: left;
//                   }
//
//                   .btn-detail {
//                     margin-left: 40%;
//                     width: 30px;
//
//                     a {
//                       padding: 27.3% 33% 23.27% 33%;
//                       max-width: 83px;
//
//                       img {
//                         width: 7px;
//                       }
//                     }
//                   }
//                 }
//               }
//             }
//           }
//         }
//       }
//
//       #our-part {
//         margin-top: 94px;
//         float: left;
//
//         h1 {
//           line-height: 64px;
//           letter-spacing: 3.2px;
//           font-size: 64px;
//         }
//
//         .content {
//           margin-left: 6%;
//           padding-top: 0;
//           margin-bottom: 1.12%;
//           margin-top: -45px;
//           width: 88%;
//
//           .top-section {
//             padding-bottom: 46px;
//
//             .title {
//               font-size: 23px;
//             }
//           }
//
//           .logo-block {
//             .common {
//               width: 22.1%;
//               margin: 0 0 5% 0;
//             }
//
//             .ily-logo,
//             .google-logo,
//             .rakuten-logo {
//               margin-right: 3.8%;
//             }
//           }
//
//           .bottom-description {
//             width: 99%;
//             margin-left: -1%;
//
//             .bottom-content {
//               width: 93%;
//
//               .title {
//                 font-size: 24px;
//                 padding-top: 9.5%;
//               }
//
//               .description {
//                 font-size: 16px;
//                 padding-top: 6%;
//                 padding-left: 6px;
//                 line-height: 28px;
//                 letter-spacing: -1.4px;
//               }
//
//               .btn-details {
//                 margin-top: 13px;
//                 padding: 7.9% 0 11% 0;
//
//                 a {
//                   img {
//                     right: 7.5%;
//                   }
//                 }
//               }
//             }
//           }
//
//           .copyright {
//             padding: 45.6% 0 0 13%;
//           }
//         }
//       }
//
//       #ily-popup {
//         .container {
//           width: 90%;
//           top: 3.7%;
//
//           .left-section {
//             width: 100%;
//
//             img {
//               width: 100%;
//               float: none;
//               min-height: auto;
//             }
//           }
//
//           .right-section {
//             width: 100%;
//
//             .content-right {
//               width: 90%;
//               padding: 15px 0px 17px 18px;
//
//               .top-title {
//                 font-size: 13px;
//               }
//
//               .logo-section {
//                 width: 170px;
//                 margin-top: 15px;
//               }
//
//               .text-section {
//                 margin-top: 15px;
//
//                 .firt-content {
//                   margin-top: 16px;
//
//                   .title {
//                     letter-spacing: 0.1px;
//                     font-size: 13px;
//                   }
//
//                   .description {
//                     line-height: 24px;
//                     letter-spacing: -.5px;
//                     font-size: 13px;
//                     padding-top: 10px;
//                   }
//                 }
//
//                 .second-content {
//                   margin-top: 36px;
//
//                   .description {
//                     line-height: 24px;
//                   }
//                 }
//               }
//             }
//           }
//
//           .close-popup {
//             left: 37%;
//           }
//         }
//       }
//     }
//   }
// }
