/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* Fonts install*/
@font-face {
  font-family: "NotoSansJP-Black";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Black.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Bold";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Bold.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Light";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Light.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Medium";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Medium.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Regular";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Regular.otf") format('truetype');
}
@font-face {
  font-family: "NotoSansJP-Thin";
  src: url("../fonts/Noto_Sans_JP/NotoSansJP-Thin.otf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Black";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Black.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-BlackItalic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-BoldItalic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Italic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic.ttf") format('truetype');
}
@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "SawarabiMincho-Regular";
  src: url("../fonts/Sawarabi_Mincho/SawarabiMincho-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "HomemadeApple-Regular";
  src: url("../fonts/Homemade_Apple/HomemadeApple-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "hirakakupro-w3-opentype";
  src: url("../fonts/hirakakupro-w3-opentype.otf") format('truetype');
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/roboto/Roboto-Regular.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../fonts/roboto/Roboto-Black.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/roboto/Roboto-Bold.ttf") format('truetype');
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/roboto/Roboto-Medium.ttf") format('truetype');
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
body {
  position: relative;
  margin: 0;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:after,
.clearfix:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/*
*Common Placeholder
*/
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c3c3c3;
  opacity: 1;
  /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #c3c3c3;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #c3c3c3;
}
input::-webkit-input-placeholder {
  line-height: normal !important;
}
input[type=text],
input[type=email],
input[type=password],
textarea {
  -webkit-appearance: none;
}
.left-menu-width {
  width: 200px;
}
.left-meuu {
  display: flex;
}
.left-meuu .left-section {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  background: rgba(195, 195, 195, 0.1);
}
.left-meuu .left-section .header-logo {
  margin: 0 auto;
  width: 50%;
  padding: 30% 0px 0px 0;
}
.left-meuu .left-section .header-logo .logo {
  width: 100%;
}
.left-meuu .left-section .menu-section {
  margin: 0 auto;
  padding: 26% 0 0 0;
}
.left-meuu .left-section .menu-section ul {
  padding-left: 0;
}
.left-meuu .left-section .menu-section ul li {
  list-style-type: none;
  line-height: 20px;
  font-size: 14px;
  padding-bottom: 10%;
  letter-spacing: 0.7px;
  font-family: "NotoSansJP-Regular";
  text-align: left;
  padding-left: 20%;
  padding-right: 10%;
}
.left-meuu .left-section .menu-section ul li a {
  text-decoration: none;
  color: #221f20;
  -webkit-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
}
.left-meuu .left-section .menu-section ul li a:hover {
  font-family: "NotoSansJP-Bold";
}
.left-meuu .left-section .menu-section ul li a.active {
  background: url(../images/menu_underline@2x.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 50%;
}
.left-meuu .left-section .menu-section ul li:nth-child(1) a:hover {
  letter-spacing: 0.3px;
}
.left-meuu .left-section .menu-section ul li:nth-child(4) a:hover {
  letter-spacing: 0.3px;
}
.left-meuu .left-section .menu-section .middle {
  list-style: none;
}
.left-meuu .left-section .menu-section .middle li {
  list-style: none;
  padding-bottom: 2.5%;
}
.left-meuu .left-section .menu-section .middle li .social-fb {
  width: 6%;
}
.left-meuu .left-section .menu-section .middle li .social-twitter {
  width: 12%;
  margin: 0px 0px 0px 20%;
}
.left-meuu .left-section .menu-section .middle li:last-child {
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: 0.7px;
  text-align: left;
  color: #221f20;
}
.left-meuu .left-section .menu-section .middle li:last-child:hover a {
  font-family: Roboto-Regular;
}
.left-meuu .left-section .experience-section {
  width: 114.5%;
  background-color: #ffffff;
  border-top-right-radius: 4em;
  border-bottom-right-radius: 4em;
  margin-top: 17%;
  z-index: 1;
  position: relative;
  min-width: 214px;
  box-shadow: 0 3px 7px 0 rgba(119, 119, 119, 0.2);
}
.left-meuu .left-section .experience-section a {
  text-decoration: none;
  color: #221f20;
}
.left-meuu .left-section .experience-section .text-section {
  padding: 6.4% 0px 16.5% 15%;
}
.left-meuu .left-section .experience-section .text-section .top-title {
  font-size: 14px;
  font-family: "NotoSansJP-Regular";
  letter-spacing: 0.7px;
  line-height: 20px;
  color: #221f20;
}
.left-meuu .left-section .experience-section .text-section .middle-title {
  font-size: 20px;
  font-family: "NotoSansJP-Bold";
  line-height: 29px;
  letter-spacing: 1px;
}
.left-meuu .left-section .experience-section .text-section .bottom-title {
  font-size: 14px;
  font-family: "NotoSansJP-Regular";
  letter-spacing: 0.7px;
  line-height: 20px;
  color: #221f20;
  padding-top: 7%;
}
.left-meuu .left-section .experience-section .text-section .bottom-title .text {
  float: left;
}
.left-meuu .left-section .experience-section .text-section .bottom-title .detail-image {
  float: left;
  width: 26px;
}
.left-meuu .left-section .experience-section .text-section .bottom-title .detail-image img {
  width: 100%;
  margin: -9% 0px 0px 19%;
}
.left-meuu .left-section .experience-section:hover {
  opacity: .85;
}
.left-meuu .left-section .bottom {
  margin: 0 auto;
  padding: 49% 0 0 0;
}
.left-meuu .left-section .bottom ul {
  padding-left: 0;
}
.left-meuu .left-section .bottom ul li {
  list-style-type: none;
  line-height: 20px;
  font-size: 12px;
  padding-bottom: 5%;
  letter-spacing: 0.7px;
  font-family: "Roboto-Regular";
  text-align: left;
  padding-left: 20%;
}
.left-meuu .left-section .bottom ul li a {
  text-decoration: none;
  -webkit-transition: font-weight 0.3s;
  transition: font-weight 0.3s;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.6px;
  text-align: left;
  color: #777777;
}
.left-meuu .left-section .bottom ul li:hover a {
  font-family: Roboto-Black;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.3px;
}
/*VALIDATION MESSAGE*/
.valMsg {
  color: #ef6f87;
  font-family: "NotoSansJP-Regular";
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  padding-bottom: 5px;
}
/*Custome checkbox*/
/* Customize the label (the container) */
.check-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check-container span.lbl {
  position: relative;
  top: -10px;
  left: 5px;
}
/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 1px solid #c3c3c3;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
  background-color: transparent;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.check-container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 2px;
  height: 6px;
  border: solid #b4d6d3;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*Back Top*/
.back-to-up {
  position: fixed;
  right: 59px;
  bottom: 17px;
  width: 16px;
  cursor: pointer;
}
.back-to-up img {
  width: 100%;
}
/*Video autoplay*/
.video-rap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(270deg, rgba(79, 96, 112, 0.2) 0%, rgba(107, 105, 106, 0.4) 100%);
}
#bg-video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -100;
  background-size: cover;
}
/*Menu SP hide from PC*/
.sp-main-nav {
  display: none;
}
.sp-top-menu {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .sp-nav-open {
    cursor: pointer;
  }
  .sp-nav-close {
    cursor: pointer;
  }
  .no-scroll {
    overflow: hidden;
  }
  /*Sp Nav Menu*/
  .sp-top-menu {
    width: 100%;
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .sp-top-menu .sp-menu-rap {
    padding: 19px 20px;
  }
  .sp-top-menu .sp-menu-rap .logo {
    float: left;
    width: 61.5%;
  }
  .sp-top-menu .sp-menu-rap .logo img {
    width: 100%;
    max-width: 206px;
  }
  .sp-top-menu .sp-menu-rap .sp-nav {
    float: right;
    width: 10.6%;
    padding-top: 1.8%;
  }
  .sp-top-menu .sp-menu-rap .sp-nav .navline {
    width: 100%;
    height: 1px;
    background-color: #221f20;
    margin-bottom: 6px;
  }
  .sp-main-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 999;
    overflow-y: scroll;
    display: none;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap {
    padding: 19px 20px;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .logo {
    float: left;
    width: 61.5%;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .logo img {
    width: 100%;
    max-width: 206px;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .sp-nav-close {
    float: right;
    max-width: 36px;
    width: 100%;
    padding-top: 10px;
  }
  .sp-main-nav .sp-menu-logo-icon .sp-menu-rap .sp-nav-close .navline {
    width: 100%;
    height: 1px;
    background-color: #221f20;
    margin-bottom: 6px;
  }
  .sp-main-nav .menu-section {
    width: 100%;
    padding: 12px 0 0 0;
  }
  .sp-main-nav .menu-section ul {
    padding: 0;
    margin: 0;
  }
  .sp-main-nav .menu-section ul li a {
    text-decoration: none;
    -webkit-transition: font-weight 0.3s;
    transition: font-weight 0.3s;
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: center;
    color: #221f20;
    display: block;
    padding: 19px 0;
  }
  .sp-main-nav .menu-section ul li a.active {
    background: url(../images/menu_underline@2x.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 50%;
  }
  .sp-main-nav .menu-section .middle {
    padding-top: 38px;
    list-style: none;
  }
  .sp-main-nav .menu-section .middle li {
    padding-bottom: 0;
    text-align: center;
    list-style: none;
  }
  .sp-main-nav .menu-section .middle li .social-fb {
    display: inline;
  }
  .sp-main-nav .menu-section .middle li .social-fb img {
    width: 2%;
  }
  .sp-main-nav .menu-section .middle li .social-twitter {
    display: inline;
  }
  .sp-main-nav .menu-section .middle li .social-twitter img {
    width: 4.3%;
    margin: 0px 0px 0px 7.5%;
  }
  .sp-main-nav .menu-section .middle li a {
    font-family: "Roboto-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: 0.7px;
    text-align: center;
    color: #221f20;
    padding: 16px 0;
  }
  .sp-main-nav .experience-section {
    width: 94.6%;
    background-color: #ffffff;
    border-top-right-radius: 16vw;
    border-bottom-right-radius: 16vw;
    margin-top: 30px;
    margin-bottom: 23px;
    z-index: 1;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    box-shadow: 0 3px 7px 0 rgba(119, 119, 119, 0.2);
  }
  .sp-main-nav .experience-section a {
    text-decoration: none;
    color: #221f20;
  }
  .sp-main-nav .experience-section .text-section {
    padding: 20px 0px 40px 32%;
  }
  .sp-main-nav .experience-section .text-section .top-title {
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: left;
    color: #221f20;
    padding-left: 37px;
  }
  .sp-main-nav .experience-section .text-section .middle-title {
    font-family: "NotoSansJP-Bold";
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: 1px;
    text-align: left;
    color: #1d2d44;
  }
  .sp-main-nav .experience-section .text-section .bottom-title {
    font-family: "NotoSansJP-Regular";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: left;
    color: #221f20;
    padding-top: 5.2%;
  }
  .sp-main-nav .experience-section .text-section .bottom-title .text {
    float: left;
  }
  .sp-main-nav .experience-section .text-section .bottom-title .detail-image {
    float: left;
    width: 24px;
  }
  .sp-main-nav .experience-section .text-section .bottom-title .detail-image img {
    width: 100%;
    position: relative;
    left: 7px;
    top: -2px;
  }
  .sp-main-nav .menu-section-bottom {
    text-align: center;
    margin: 32px 0;
  }
  .sp-main-nav .menu-section-bottom a {
    font-family: "NotoSansJP-Regular";
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.6px;
    text-align: left;
    color: #777777;
    padding: 3%;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .sp-main-nav .experience-section .text-section {
    padding: 20px 0px 40px 42%;
  }
}
/*
banner section
*/
#banner-section .top-section {
  display: flex;
}
#banner-section .top-section .left-section {
  width: 200px;
  position: fixed;
  z-index: 1;
  background: rgba(195, 195, 195, 0.1);
}
#banner-section .top-section .right-section {
  position: relative;
  width: -webkit-calc(100% - 200px);
  width: calc(100% - 200px);
  margin-left: 200px;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}
#banner-section .top-section .right-section .right-baner-animi {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
#banner-section .top-section .right-section .right-baner-animi img {
  width: 100%;
}
#banner-section .top-section .right-section.start {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .5s linear, visibility .5s linear;
  transition: opacity .5s linear, visibility .5s linear;
}
#banner-section .top-section .right-section.start .right-baner-animi {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
#banner-section .top-section .right-section img {
  width: 100%;
}
#trail-class {
  position: relative;
  margin-top: -6px;
}
#trail-class h1 {
  font-family: PlayfairDisplay-Regular;
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 5px;
  text-align: left;
  color: #f4f4f4;
  margin: 0;
}
#trail-class h2 {
  font-family: SawarabiMincho-Regular;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 3.2px;
  text-align: left;
  color: #221f20;
  margin: -6% 0 0 21.45%;
}
#trail-class h3 {
  font-family: 'SawarabiMincho-Regular';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: 1.2px;
  text-align: left;
  color: #221f20;
  margin-left: 24%;
}
#trail-class p {
  font-family: NotoSansJP-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: left;
  color: #777777;
  max-width: 701px;
  margin-left: 24%;
  margin-top: 3.5%;
}
#trail-class .bg {
  background: #fafafa;
  padding: 115px;
  width: 470px;
  margin: -192px 0 0 31%;
}
#student-voice {
  margin: 16% 0 0 0;
}
#student-voice .top {
  margin-left: 250px;
  margin-bottom: 3.7%;
}
#student-voice .top h2 {
  font-family: SawarabiMincho-Regular;
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 1.6px;
  text-align: left;
  margin-bottom: 1.7%;
}
#student-voice .top p {
  font-family: NotoSansJP-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: left;
  color: #777777;
}
#student-voice .nav {
  margin-left: 18%;
}
#student-voice .nav ul {
  margin: 2.75% 0 0 0;
  padding: 0;
  display: flex;
}
#student-voice .nav ul li {
  list-style: none;
  margin-right: 2.05%;
}
#student-voice .nav ul li a {
  font-family: NotoSansJP-Regular;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.8;
  letter-spacing: 1px;
  color: #c3c3c3;
  border-bottom: 8px solid #f4f4f4;
  text-decoration: none;
  padding: 7px 103px 14px 107px;
  text-align: center;
  display: block;
}
#student-voice .nav ul li a img {
  width: 18px;
  margin-left: 11px;
  margin-right: 1px;
}
#student-voice .nav ul li a.active {
  color: #221f20;
  border-bottom: 8px solid #1d2d44;
}
#student-voice .nav ul li:nth-child(2) a {
  padding: 7px 89px 14px 99px;
}
#student-voice .student-class {
  margin-top: 6.5%;
}
#student-voice .student-class h2 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: left;
  color: #221f20;
  margin-left: 0;
  position: relative;
  top: -11px;
}
#student-voice .student-class h2 img {
  width: 21px;
  margin-right: 11px;
  position: relative;
  top: -2.5px;
  left: .5px;
}
#student-voice .student-class .voice {
  display: flex;
  margin-bottom: 3.5%;
}
#student-voice .student-class .voice .left {
  flex-basis: 21%;
  margin-right: 3.2%;
  margin-left: 0%;
}
#student-voice .student-class .voice .right {
  flex-basis: 62.7%;
  margin-top: 0.36%;
}
#student-voice .student-class .voice .right p {
  font-family: NotoSansJP-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1.1px;
  text-align: left;
  color: #777777;
  margin: 36px 0;
}
#student-voice .student-class .voice img {
  width: 100%;
}
#student-voice .student-class .voice h6 {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.33;
  letter-spacing: 0.6px;
  text-align: right;
  color: #221f20;
  margin-top: 52.2%;
  margin-bottom: 0;
  margin-left: -1px;
  padding-right: 6px;
}
#student-voice .student-class .voice h5 {
  font-family: NotoSansJP-Regular;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: right;
  color: #221f20;
  margin-top: 8.5%;
  margin-bottom: 0;
  padding-right: 6px;
}
#student-voice .student-class .voice h4 {
  font-family: NotoSansJP-Regular;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 1.6px;
  text-align: right;
  color: #221f20;
  margin-top: 0.7%;
  margin-bottom: 9%;
  margin-left: 0px;
  padding-right: 6px;
}
#student-voice .student-class .voice p {
  font-family: NotoSansJP-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: left;
  color: #777777;
}
#business-voice {
  margin: 11.8% 0 0 0;
  margin-left: 0%;
}
#business-voice .student-class {
  margin-top: 6.5%;
}
#business-voice .student-class h2 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: 1px;
  text-align: left;
  color: #221f20;
  margin-left: 18%;
  position: relative;
  top: -11px;
}
#business-voice .student-class h2 img {
  width: 21px;
  margin-right: 11px;
  position: relative;
  top: -2.5px;
  left: .5px;
}
#business-voice .student-class .voice {
  display: flex;
  margin-bottom: 3%;
}
#business-voice .student-class .voice .left {
  flex-basis: 17.3%;
  margin-right: 2.6%;
  margin-left: 18%;
}
#business-voice .student-class .voice .right {
  flex-basis: 51.4%;
  margin-top: 0.36%;
}
#business-voice .student-class .voice .right p {
  font-family: NotoSansJP-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 1.1px;
  text-align: left;
  color: #777777;
  margin: 36px 0;
}
#business-voice .student-class .voice img {
  width: 100%;
}
#business-voice .student-class .voice h6 {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.33;
  letter-spacing: 0.6px;
  text-align: right;
  color: #221f20;
  margin-top: 52.2%;
  margin-bottom: 0;
  margin-left: -1px;
  padding-right: 6px;
}
#business-voice .student-class .voice h5 {
  font-family: NotoSansJP-Regular;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: right;
  color: #221f20;
  margin-top: 8.5%;
  margin-bottom: 0;
  padding-right: 6px;
}
#business-voice .student-class .voice h4 {
  font-family: NotoSansJP-Regular;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: 1.6px;
  text-align: right;
  color: #221f20;
  margin-top: 0.7%;
  margin-bottom: 9%;
  margin-left: 0px;
  padding-right: 6px;
}
#business-voice .student-class .voice p {
  font-family: NotoSansJP-Regular;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: 0.8px;
  text-align: left;
  color: #777777;
}
#next-class {
  position: relative;
  margin-top: 11.8%;
  margin-left: 250px;
  background: url(../images/trial/Rectangle67@2x.jpg);
  background-repeat: no-repeat;
  background-size: 83.2%;
  background-position: right 112px;
}
#next-class h1 {
  font-family: "PlayfairDisplay-Regular";
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 5px;
  text-align: left;
  color: #f4f4f4;
  margin: 0;
}
#next-class .right-section {
  margin-left: 2px;
  opacity: 1;
  display: flex;
  margin-top: 0;
  padding-bottom: 20px;
}
#next-class .right-section .content {
  margin-left: 4.2%;
  margin-top: 0;
  width: 83.3%;
}
#next-class .right-section .content .next-class {
  width: 40%;
}
#next-class .right-section .content .next-class .image {
  float: left;
  width: 19px;
  margin-left: 2px;
}
#next-class .right-section .content .next-class .image img {
  width: 100%;
}
#next-class .right-section .content .next-class .title {
  font-size: 19px;
  font-family: "Roboto-Black";
  color: #221f20;
  margin-left: 39px;
  letter-spacing: 1.5px;
}
#next-class .right-section .content .next-class .title p {
  padding-top: 0px;
}
#next-class .right-section .content .class-list {
  margin: 26px 0 0 0;
}
#next-class .right-section .content .class-list .class-detail {
  background: #fff;
  border-left: 4px solid #221f20;
  float: left;
  margin: 0px 0px 24px 0px;
}
#next-class .right-section .content .class-list .class-detail .inner-content {
  margin-left: 28px;
  padding-top: 27px;
}
#next-class .right-section .content .class-list .class-detail .inner-content .left-part {
  width: 63%;
  float: left;
}
#next-class .right-section .content .class-list .class-detail .inner-content .left-part .title {
  font-size: 20px;
  color: #221f20;
  font-family: "NotoSansJP-Medium";
  letter-spacing: 1.1px;
}
#next-class .right-section .content .class-list .class-detail .inner-content .left-part .description {
  font-size: 14px;
  color: #777777;
  font-family: "NotoSansJP-Regular";
  letter-spacing: 0.7px;
  line-height: 27px;
  padding-bottom: 20px;
}
#next-class .right-section .content .class-list .class-detail .inner-content .left-part .description p {
  margin: 0;
  padding: 11px 0px 0px 0px;
}
#next-class .right-section .content .class-list .class-detail .inner-content .arrow-part {
  width: 24.8%;
  float: left;
  margin-left: 6.3%;
  margin-top: 1.25%;
}
#next-class .right-section .content .class-list .class-detail .inner-content .arrow-part .btn-detail a {
  font-family: "NotoSansJP-Regular";
  color: #1d2d44;
  border: solid 2px #1d2d44;
  text-decoration: none;
  display: block;
  text-align: center;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 17px 0;
  letter-spacing: 0.4px;
}
#next-class .right-section .content .class-list .class-detail .inner-content .arrow-part .btn-detail a img {
  width: 16px;
  position: absolute;
  margin-left: 9%;
  margin-top: 5px;
}
#next-class .right-section .content .class-list .class-detail .inner-content .arrow-part .btn-detail a:hover {
  color: #fff;
  background: #1d2d44;
}
#address {
  margin-left: 250px;
  margin-top: 95px;
  width: 71.1%;
  display: flex;
}
#address .left {
  flex-basis: 37%;
}
#address .left h2 {
  font-family: 'SawarabiMincho-Regular';
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.47;
  letter-spacing: 1.6px;
  text-align: left;
  color: #221f20;
  margin-top: 22.7%;
}
#address .left p {
  font-family: 'NotoSansJP-Regular';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  text-align: left;
  color: #777777;
  padding-top: 0px;
  margin-bottom: 7%;
}
#address .right {
  flex-basis: 58%;
  padding-top: 5.5%;
  margin-left: 10%;
}
#address .right img {
  max-width: 730px;
  width: 100%;
}
#addressPhoto {
  margin-left: 250px;
  margin-top: 84px;
  width: 71.1%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 133px;
}
#addressPhoto .section-rap {
  width: 100%;
}
#addressPhoto .section-rap .photo-rap {
  width: 60%;
  float: left;
}
#addressPhoto .section-rap .photo-rap .below-photo {
  width: 27.6%;
  float: left;
  margin-right: 4.57%;
}
#addressPhoto .section-rap .photo-rap .below-photo img {
  width: 100%;
}
#addressPhoto .section-rap .address-txt-rap {
  width: 40%;
  float: right;
}
#addressPhoto .section-rap .address-txt-rap p {
  margin: 4% 0 0 3%;
  font-size: 16px;
  font-family: "NotoSansJP-Regular";
  color: #777777;
  line-height: 32px;
}
#footer-part {
  position: relative;
  margin-top: -1px;
}
#footer-part .content {
  margin-left: 250px;
  margin-bottom: 1.12%;
  width: 64.6%;
}
#footer-part .content .copyright {
  font-family: "Roboto-Regular";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0.6px;
  text-align: left;
  color: #777777;
  padding-top: 12.6%;
}
.sp-top-menu {
  display: none;
}
.sp {
  display: none;
}
.pc {
  display: block;
}
@media only screen and (max-width: 1024px) {
  .pc {
    display: none;
  }
  .sp {
    display: block;
  }
  .left-meuu {
    display: none;
  }
  .back-to-up {
    display: none;
  }
  body,
  html {
    overflow-x: hidden;
  }
  /*Sp Nav Menu*/
  .sp-top-menu {
    width: 100%;
    display: block;
    position: fixed;
  }
  .sp-top-menu .sp-menu-rap {
    padding: 19px 20px;
  }
  .sp-top-menu .sp-menu-rap .logo {
    float: left;
    width: 61.5%;
  }
  .sp-top-menu .sp-menu-rap .logo img {
    width: 100%;
    max-width: 206px;
  }
  .sp-top-menu .sp-menu-rap .sp-nav {
    float: right;
    max-width: 36px;
    width: 100%;
    padding-top: 10px;
  }
  .sp-top-menu .sp-menu-rap .sp-nav .navline {
    width: 100%;
    height: 1.2px;
    background-color: #221f20;
    margin-bottom: 6px;
  }
  /*
banner section
*/
  #banner-section {
    margin-top: -65px;
  }
  #banner-section .top-section {
    display: block;
  }
  #banner-section .top-section .left-section {
    width: 100%;
    position: relative;
    z-index: 0;
  }
  #banner-section .top-section .right-section {
    margin-left: 0;
    width: 100%;
  }
  #banner-section .top-section .right-section img {
    width: 100%;
  }
  #trail-class {
    position: relative;
    margin-top: 0;
    background: url(../images/trial/sp/bg.jpg);
    background-position: 39px 233px;
    background-repeat: no-repeat;
    background-size: 89.5%;
    display: block;
    z-index: -1;
  }
  #trail-class h1 {
    font-family: PlayfairDisplay-Regular;
    font-size: 64px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 3.2px;
    text-align: left;
    color: #f4f4f4;
    margin-top: 2.7%;
  }
  #trail-class h2 {
    font-family: SawarabiMincho-Regular;
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 2px;
    text-align: left;
    color: #221f20;
    margin: 0;
    width: 89%;
    position: relative;
    top: -72px;
    margin: 0 auto;
  }
  #trail-class h3 {
    margin-left: 5%;
    margin-top: -28px;
    font-size: 18px;
  }
  #trail-class p {
    font-family: NotoSansJP-Regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.7px;
    text-align: left;
    color: #777777;
    margin: 0 auto;
    width: 89.5%;
    position: relative;
    max-width: none;
  }
  #trail-class .bg {
    background: #fafafa;
    padding: 115px;
    width: 470px;
    margin: -192px 0 0 31%;
  }
  #student-voice {
    margin: 83px 0 0 0;
  }
  #student-voice .top {
    margin-left: 0;
    margin-bottom: 3.7%;
    width: 89.5%;
    margin: 0 auto;
  }
  #student-voice .top h2 {
    font-family: SawarabiMincho-Regular;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: 1px;
    text-align: left;
    color: #221f20;
    margin-bottom: 19px;
  }
  #student-voice .top p {
    font-family: NotoSansJP-Regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.7px;
    text-align: left;
    color: #777777;
  }
  #student-voice .nav {
    margin-left: 0;
    width: 89.5%;
    margin: 0 auto;
  }
  #student-voice .nav ul {
    margin: 30px 0 0 0;
    padding: 0;
    display: flex;
  }
  #student-voice .nav ul li {
    list-style: none;
    margin-right: 7px;
    flex-basis: 47.7%;
  }
  #student-voice .nav ul li a {
    font-family: NotoSansJP-Regular;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.25;
    letter-spacing: 0.8px;
    text-align: left;
    color: #c3c3c3;
    border-bottom: 5px solid #f4f4f4;
    text-decoration: none;
    padding: 0 0 10px 10px;
    text-align: center;
    display: block;
  }
  #student-voice .nav ul li a img {
    width: 11px;
    margin-left: 9px;
    margin-right: 4px;
  }
  #student-voice .nav ul li a.active {
    color: #221f20;
    border-bottom: 5px solid #1d2d44;
  }
  #student-voice .nav ul li:nth-child(2) {
    margin-right: 0;
    margin-left: 9px;
  }
  #student-voice .nav ul li:nth-child(2) a {
    padding: 0 0px 10px 0px;
  }
  #student-voice .nav ul li:nth-child(2) a img {
    margin-left: 7px;
  }
  #student-voice .student-class {
    margin-top: 51px;
    background: none;
  }
  #student-voice .student-class h2 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 1px;
    text-align: left;
    color: #221f20;
    width: 89.5%;
    margin: 0 auto 21px auto;
  }
  #student-voice .student-class h2 img {
    width: 21px;
    margin-right: 10px;
    position: relative;
    top: -3.5px;
    left: .5px;
  }
  #student-voice .student-class .voice {
    display: flex;
    margin-bottom: 17px;
    flex-direction: column;
  }
  #student-voice .student-class .voice .left {
    flex-basis: 45%;
    margin-right: 0;
    margin-left: 0;
    width: 89.5%;
    margin: 0 auto;
  }
  #student-voice .student-class .voice .right {
    flex-basis: 55%;
    margin-top: 0.36%;
  }
  #student-voice .student-class .voice img {
    width: 100%;
  }
  #student-voice .student-class .voice h6 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.33;
    letter-spacing: 0.6px;
    text-align: left;
    color: #221f20;
    margin-top: 20px;
    margin-left: 0px;
  }
  #student-voice .student-class .voice h5 {
    font-family: NotoSansJP-Regular;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.8px;
    text-align: left;
    color: #221f20;
    margin-top: 12px;
  }
  #student-voice .student-class .voice h4 {
    font-family: NotoSansJP-Regular;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 1.3px;
    text-align: left;
    color: #221f20;
    margin-top: 1px;
    margin-bottom: 17px;
  }
  #student-voice .student-class .voice p {
    font-family: NotoSansJP-Regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.7px;
    text-align: left;
    color: #777777;
  }
  #student-voice .student-class .voice:nth-child(odd) {
    flex-direction: column;
    margin-bottom: 21px;
  }
  #student-voice .student-class .voice:nth-child(odd) .left {
    margin-left: 0;
    flex-basis: 55%;
    margin-right: 0;
    width: 89.5%;
    margin: 0 auto;
  }
  #student-voice .student-class .voice:nth-child(odd) .left h6 {
    margin-left: 0;
    margin-top: 20px;
  }
  #student-voice .student-class .voice:nth-child(odd) .left h5 {
    margin-left: 0px;
    margin-top: 12px;
  }
  #student-voice .student-class .voice:nth-child(odd) .left h4 {
    margin-left: 0;
    margin-top: 1px;
    margin-bottom: 17px;
  }
  #student-voice .student-class .voice:nth-child(odd) .left p {
    margin-left: 0;
  }
  #student-voice .student-class .voice:nth-child(odd) .right {
    flex-basis: 65.6%;
    margin-top: 1.2%;
    margin-right: 0;
  }
  #business-voice {
    margin: 73px 0 0 0;
    margin-left: 0%;
  }
  #business-voice .student-class {
    margin-top: 51px;
    background: none;
  }
  #business-voice .student-class h2 {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 1px;
    text-align: left;
    color: #221f20;
    width: 89.5%;
    margin: 0 auto 21px auto;
  }
  #business-voice .student-class h2 img {
    width: 21px;
    margin-right: 10px;
    position: relative;
    top: -2.5px;
    left: .5px;
  }
  #business-voice .student-class .voice {
    display: flex;
    margin-bottom: 17px;
    flex-direction: column;
  }
  #business-voice .student-class .voice .left {
    flex-basis: 45%;
    margin-right: 0;
    margin-left: 0;
    width: 89.5%;
    margin: 0 auto;
  }
  #business-voice .student-class .voice .right {
    flex-basis: 55%;
    margin-top: 0.36%;
  }
  #business-voice .student-class .voice img {
    width: 100%;
  }
  #business-voice .student-class .voice h6 {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.33;
    letter-spacing: 0.6px;
    text-align: left;
    color: #221f20;
    margin-top: 20px;
    margin-left: 0px;
  }
  #business-voice .student-class .voice h5 {
    font-family: NotoSansJP-Regular;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.8px;
    text-align: left;
    color: #221f20;
    margin-top: 12px;
  }
  #business-voice .student-class .voice h4 {
    font-family: NotoSansJP-Regular;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 1.3px;
    text-align: left;
    color: #221f20;
    margin-top: 1px;
    margin-bottom: 17px;
  }
  #business-voice .student-class .voice p {
    font-family: NotoSansJP-Regular;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.7px;
    text-align: left;
    color: #777777;
  }
  #business-voice .student-class .voice:nth-child(odd) {
    flex-direction: column-reverse;
    margin-bottom: 21px;
  }
  #business-voice .student-class .voice:nth-child(odd) .left {
    margin-left: 0;
    flex-basis: 55%;
    margin-right: 0;
    width: 89.5%;
    margin: 0 auto;
  }
  #business-voice .student-class .voice:nth-child(odd) .left h6 {
    margin-left: 0;
    margin-top: 20px;
  }
  #business-voice .student-class .voice:nth-child(odd) .left h5 {
    margin-left: 0px;
    margin-top: 12px;
  }
  #business-voice .student-class .voice:nth-child(odd) .left h4 {
    margin-left: 0;
    margin-top: 1px;
    margin-bottom: 17px;
  }
  #business-voice .student-class .voice:nth-child(odd) .left p {
    margin-left: 0;
  }
  #business-voice .student-class .voice:nth-child(odd) .right {
    flex-basis: 65.6%;
    margin-top: 1.2%;
    margin-right: 0;
  }
  #next-class {
    position: relative;
    margin-top: 64px;
    margin-left: 0;
    background: url(../images/trial/sp/bg2@2x.jpg);
    background-repeat: no-repeat;
    background-size: 83.2%;
    background-position: right 112px;
  }
  #next-class h1 {
    font-family: "PlayfairDisplay-Regular";
    font-size: 100px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 5px;
    text-align: left;
    color: #f4f4f4;
    width: 89.5%;
    margin: 0 auto;
  }
  #next-class .right-section {
    margin-left: 0px;
    opacity: 1;
    display: flex;
    margin-top: 0;
    padding-bottom: 20px;
  }
  #next-class .right-section .content {
    width: 89.5%;
    margin: 0 auto;
  }
  #next-class .right-section .content .next-class {
    width: 100%;
  }
  #next-class .right-section .content .next-class .image {
    float: left;
    width: 19px;
    margin-left: 2px;
    position: relative;
    top: -1px;
  }
  #next-class .right-section .content .next-class .image img {
    width: 21px;
    margin-right: 10px;
    position: relative;
    top: 1px;
    left: -2px;
  }
  #next-class .right-section .content .next-class .title {
    font-size: 19px;
    font-family: "Roboto";
    color: #221f20;
    margin-left: 37px;
    letter-spacing: 1.5px;
    position: relative;
    top: -2px;
  }
  #next-class .right-section .content .next-class .title p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: 1px;
    text-align: left;
    color: #221f20;
  }
  #next-class .right-section .content .class-list {
    margin: 42px 0 0 0;
  }
  #next-class .right-section .content .class-list .class-detail {
    background: #fff;
    border-left: 4px solid #221f20;
    float: left;
    margin: 0px 0px 26px 0px;
    padding-bottom: 21px;
  }
  #next-class .right-section .content .class-list .class-detail .inner-content {
    margin-left: 30px;
    padding-top: 7px;
    display: flex;
    flex-direction: column;
  }
  #next-class .right-section .content .class-list .class-detail .inner-content .left-part {
    width: 83%;
    flex-basis: 83%;
    float: none;
  }
  #next-class .right-section .content .class-list .class-detail .inner-content .left-part .title {
    font-family: "NotoSansJP-Regular";
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: 0.8px;
    text-align: left;
    color: #221f20;
    width: 63%;
  }
  #next-class .right-section .content .class-list .class-detail .inner-content .left-part .description {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.6px;
    text-align: left;
    color: #777777;
  }
  #next-class .right-section .content .class-list .class-detail .inner-content .left-part .description p {
    margin: 0;
    padding: 11px 0px 0px 0px;
  }
  #next-class .right-section .content .class-list .class-detail .inner-content .arrow-part {
    width: 240px;
    margin-left: 14px;
    margin-top: 2px;
    flex-basis: 24.8%;
    float: none;
  }
  #next-class .right-section .content .class-list .class-detail .inner-content .arrow-part .btn-detail a {
    font-family: "NotoSansJP-Regular";
    color: #1d2d44;
    border: solid 2px #1d2d44;
    text-decoration: none;
    display: block;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding: 8px 0;
    letter-spacing: 0.4px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: 0.7px;
    text-align: center;
    color: #221f20;
  }
  #next-class .right-section .content .class-list .class-detail .inner-content .arrow-part .btn-detail a img {
    width: 16px;
    position: absolute;
    margin-left: 9%;
    margin-top: 5px;
  }
  #next-class .right-section .content .class-list .class-detail .inner-content .arrow-part .btn-detail a:hover {
    color: #fff;
    background: #1d2d44;
  }
  #address {
    margin-left: 0;
    margin-top: 87px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  #address h2 {
    font-family: 'SawarabiMincho-Regular';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: 1px;
    text-align: left;
    color: #221f20;
    width: 89.5%;
    margin: 0 auto;
  }
  #address img {
    max-width: 1024px;
    width: 100%;
    margin-top: 23px;
    margin-bottom: 14px;
  }
  #address .location {
    width: 89.5%;
    margin: 0 auto;
  }
  #address .location p {
    font-family: 'NotoSansJP-Regular';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.7px;
    text-align: left;
    color: #777777;
    margin: 0px 0 16px 0;
  }
  #addressPhoto {
    margin-left: 0;
    margin-top: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 100px;
  }
  #addressPhoto .section-rap {
    width: 100%;
    margin: 0 auto;
  }
  #addressPhoto .section-rap .photo-rap {
    width: 100%;
    float: none;
  }
  #addressPhoto .section-rap .photo-rap .below-photo {
    width: 31.8%;
    float: left;
    margin-right: 2.3%;
  }
  #addressPhoto .section-rap .photo-rap .below-photo img {
    width: 100%;
  }
  #addressPhoto .section-rap .photo-rap .below-photo:last-child {
    margin-right: 0;
  }
  #addressPhoto .section-rap .address-txt-rap {
    width: 90%;
    float: none;
    margin: 0 auto;
    padding-top: 27px;
  }
  #addressPhoto .section-rap .address-txt-rap p {
    margin: 4% 0 0 0;
    font-size: 16px;
    font-family: "NotoSansJP-Regular";
    color: #777777;
    line-height: 32px;
  }
  #addressPhoto .section-rap .address-txt-rap p br:nth-child(2) {
    display: none;
  }
  #footer-part {
    position: relative;
    margin-top: 101px;
  }
  #footer-part .content {
    width: 89.5%;
    margin: 0 auto 1.12% auto;
  }
  #footer-part .content .copyright {
    font-family: "Roboto-Regular";
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.6px;
    text-align: left;
    color: #777777;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
  }
}
