// out: trial.css, sourcemap: true, compress: false
@import 'common.less';

/*
banner section
*/
#banner-section {
  .top-section {
    display: flex;

    .left-section {
      width: 200px;
      position: fixed;
      z-index: 1;
      background: rgba(195, 195, 195, .1);
    }

    .right-section {
      position: relative;
      width: -webkit-calc(~"100% - 200px");
      width: calc(~"100% - 200px");
      margin-left: 200px;
      visibility: hidden;
      opacity: 0;
      overflow: hidden;



      .right-baner-animi {

        -webkit-transition: -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
        transition: -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
        transition: transform 1s cubic-bezier(.165, .84, .44, 1);
        transition: transform 1s cubic-bezier(.165, .84, .44, 1), -webkit-transform 1s cubic-bezier(.165, .84, .44, 1);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);

        img {
          width: 100%;
        }

      }

      &.start {
        visibility: visible;
        opacity: 1;
        -webkit-transition: opacity .5s linear, visibility .5s linear;
        transition: opacity .5s linear, visibility .5s linear;

        .right-baner-animi {
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
        }
      }

      img {
        width: 100%;
      }
    }
  }

}

#trail-class {
  position: relative;
  margin-top: -6px;

  h1 {
    font-family: PlayfairDisplay-Regular;
    font-size: 100px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 5px;
    text-align: left;
    color: #f4f4f4;
    margin: 0;
  }

  h2 {
    font-family: SawarabiMincho-Regular;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: 3.2px;
    text-align: left;
    color: #221f20;
    margin: -6% 0 0 21.45%;
  }

  h3 {
    font-family: 'SawarabiMincho-Regular';
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 1.2px;
    text-align: left;
    color: #221f20;
    margin-left: 24%;
  }

  p {
    font-family: NotoSansJP-Regular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: 0.8px;
    text-align: left;
    color: #777777;
    max-width: 701px;
    margin-left: 24%;
    margin-top: 3.5%;
  }

  .bg {
    background: #fafafa;
    padding: 115px;
    width: 470px;
    margin: -192px 0 0 31%;
  }
}

#student-voice {
  margin: 16% 0 0 0;

  .top {
    // margin-left: 18%;
    margin-left: 250px;
    margin-bottom: 3.7%;

    h2 {
      font-family: SawarabiMincho-Regular;
      font-size: 32px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.47;
      letter-spacing: 1.6px;
      text-align: left;
      margin-bottom: 1.7%;
    }

    p {
      font-family: NotoSansJP-Regular;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: 0.8px;
      text-align: left;
      color: #777777;
      // max-width: 886px;
    }
  }

  .nav {
    margin-left: 18%;

    ul {
      margin: 2.75% 0 0 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        margin-right: 2.05%;

        a {
          font-family: NotoSansJP-Regular;
          font-size: 20px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.8;
          letter-spacing: 1px;
          color: #c3c3c3;
          border-bottom: 8px solid #f4f4f4;
          text-decoration: none;
          padding: 7px 103px 14px 107px;
          text-align: center;
          display: block;

          img {
            width: 18px;
            margin-left: 11px;
            margin-right: 1px;
          }
        }

        a.active {
          color: #221f20;
          border-bottom: 8px solid #1d2d44;
        }
      }

      li:nth-child(2) {
        a {
          padding: 7px 89px 14px 99px;
        }
      }
    }
  }

  .student-class {
    margin-top: 6.5%;
    // background: url(../images/trial/Rectangle146@2x.jpg);
    // background-position: top left;
    // background-size: 78.6%;
    // background-repeat: no-repeat;

    h2 {
      font-family: Roboto;
      font-size: 20px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: 1px;
      text-align: left;
      color: #221f20;
      margin-left: 0;
      position: relative;
      top: -11px;

      img {
        width: 21px;
        margin-right: 11px;
        position: relative;
        top: -2.5px;
        left: .5px;
      }
    }

    .voice {
      display: flex;
      margin-bottom: 3.5%;

      .left {
        flex-basis: 21%;
        margin-right: 3.2%;
        margin-left: 0%;
      }

      .right {
        flex-basis: 62.7%;
        margin-top: 0.36%;

        p {
          font-family: NotoSansJP-Regular;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 1.1px;
          text-align: left;
          color: #777777;
          margin: 36px 0;
        }
      }

      img {
        width: 100%;
      }

      h6 {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.33;
        letter-spacing: 0.6px;
        text-align: right;
        color: #221f20;
        margin-top: 52.2%;
        margin-bottom: 0;
        margin-left: -1px;
        padding-right: 6px;
      }

      h5 {
        font-family: NotoSansJP-Regular;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: 1px;
        text-align: right;
        color: #221f20;
        margin-top: 8.5%;
        margin-bottom: 0;
        padding-right: 6px;
      }

      h4 {
        font-family: NotoSansJP-Regular;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: 1.6px;
        text-align: right;
        color: #221f20;
        margin-top: 0.7%;
        margin-bottom: 9%;
        margin-left: 0px;
        padding-right: 6px;
      }

      p {
        font-family: NotoSansJP-Regular;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.8px;
        text-align: left;
        color: #777777;
      }
    }

    // .voice:nth-child(odd) {
    //   // flex-direction: row-reverse;
    //   margin-bottom: 7.75%;

    //   .left {
    //     margin-right: 0;
    //     margin-left: 4.2%;
    //     flex-basis: 35%;
    //     margin-right: 17%;

    //     h6 {
    //       margin-left: 1%;
    //       margin-top: 9%;
    //     }

    //     h5 {
    //       margin-left: 1%;
    //       margin-top: 4.5%;
    //     }

    //     h4 {
    //       margin-left: 1%;
    //       margin-top: .9%;
    //       margin-bottom: 8.6%;
    //     }

    //     p {
    //       margin-left: 1%;
    //     }
    //   }

    //   .right {
    //     flex-basis: 65.6%;
    //     margin-top: 1.2%;
    //     margin-right: 0;
    //   }
    // }
  }
}

#business-voice {
  margin: 11.8% 0 0 0;
  margin-left: 0%;

  .student-class {
    margin-top: 6.5%;
    // background: url(../images/trial/Rectangle146@2x.jpg);
    // background-position: top right;
    // background-size: 78.6%;
    // background-repeat: no-repeat;

    h2 {
      font-family: Roboto;
      font-size: 20px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.4;
      letter-spacing: 1px;
      text-align: left;
      color: #221f20;
      margin-left: 18%;
      position: relative;
      top: -11px;

      img {
        width: 21px;
        margin-right: 11px;
        position: relative;
        top: -2.5px;
        left: .5px;
      }
    }

    .voice {
      display: flex;
      margin-bottom: 3%;

      .left {
        flex-basis: 17.3%;
        margin-right: 2.6%;
        margin-left: 18%;
      }

      .right {
        flex-basis: 51.4%;
        margin-top: 0.36%;

        p {
          font-family: NotoSansJP-Regular;
          font-size: 16px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 1.1px;
          text-align: left;
          color: #777777;
          margin: 36px 0;
        }
      }

      img {
        width: 100%;
      }

      h6 {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.33;
        letter-spacing: 0.6px;
        text-align: right;
        color: #221f20;
        margin-top: 52.2%;
        margin-bottom: 0;
        margin-left: -1px;
        padding-right: 6px;
      }

      h5 {
        font-family: NotoSansJP-Regular;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: 1px;
        text-align: right;
        color: #221f20;
        margin-top: 8.5%;
        margin-bottom: 0;
        padding-right: 6px;
      }

      h4 {
        font-family: NotoSansJP-Regular;
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: 1.6px;
        text-align: right;
        color: #221f20;
        margin-top: 0.7%;
        margin-bottom: 9%;
        margin-left: 0px;
        padding-right: 6px;
      }

      p {
        font-family: NotoSansJP-Regular;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.8px;
        text-align: left;
        color: #777777;
      }
    }

    // .voice:nth-child(odd) {
    //   flex-direction: row-reverse;
    //   margin-bottom: 7.75%;

    //   .left {
    //     margin-right: 0;
    //     margin-left: 4.2%;
    //     flex-basis: 55%;
    //     margin-right: 17%;

    //     h6 {
    //       margin-left: 1%;
    //       margin-top: 9%;
    //     }

    //     h5 {
    //       margin-left: 1%;
    //       margin-top: 4.5%;
    //     }

    //     h4 {
    //       margin-left: 1%;
    //       margin-top: .9%;
    //       margin-bottom: 8.6%;
    //     }

    //     p {
    //       margin-left: 1%;
    //     }
    //   }

    //   .right {
    //     flex-basis: 65.6%;
    //     margin-top: 1.2%;
    //     margin-right: 0;
    //   }
    // }
  }
}

#next-class {
  position: relative;
  margin-top: 11.8%;
  // margin-left: 14.2%;
  margin-left: 250px;
  background: url(../images/trial/Rectangle67@2x.jpg);
  background-repeat: no-repeat;
  background-size: 83.2%;
  background-position: right 112px;

  h1 {
    font-family: "PlayfairDisplay-Regular";
    font-size: 100px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 5px;
    text-align: left;
    color: #f4f4f4;
    margin: 0;
  }

  .right-section {
    margin-left: 2px;
    opacity: 1;
    display: flex;
    margin-top: 0;
    padding-bottom: 20px;

    .content {
      margin-left: 4.2%;
      margin-top: 0;
      width: 83.3%;

      .next-class {
        width: 40%;

        .image {
          float: left;
          width: 19px;
          margin-left: 2px;

          img {
            width: 100%;
          }
        }

        .title {
          font-size: 19px;
          font-family: "Roboto-Black";
          color: #221f20;
          margin-left: 39px;
          letter-spacing: 1.5px;

          p {
            padding-top: 0px;
          }
        }
      }

      .class-list {
        margin: 26px 0 0 0;

        .class-detail {
          background: #fff;
          border-left: 4px solid #221f20;
          float: left;
          margin: 0px 0px 24px 0px;

          .inner-content {
            margin-left: 28px;
            padding-top: 27px;

            .left-part {
              width: 63%;
              float: left;

              .title {
                font-size: 20px;
                color: #221f20;
                font-family: "NotoSansJP-Medium";
                letter-spacing: 1.1px;
              }

              .description {
                font-size: 14px;
                color: #777777;
                font-family: "NotoSansJP-Regular";
                letter-spacing: 0.7px;
                line-height: 27px;
                padding-bottom: 20px;

                p {
                  margin: 0;
                  padding: 11px 0px 0px 0px;
                }
              }
            }

            .arrow-part {
              width: 24.8%;
              float: left;
              margin-left: 6.3%;
              margin-top: 1.25%;

              .btn-detail {


                a {
                  font-family: "NotoSansJP-Regular";
                  color: #1d2d44;
                  border: solid 2px #1d2d44;
                  text-decoration: none;
                  display: block;
                  text-align: center;
                  position: relative;
                  -webkit-transition: all .3s;
                  transition: all .3s;
                  padding: 17px 0;
                  letter-spacing: 0.4px;

                  img {
                    width: 16px;
                    position: absolute;
                    margin-left: 9%;
                    margin-top: 5px;
                  }
                }

                a:hover {
                  color: #fff;
                  background: #1d2d44;
                }
              }
            }
          }

        }
      }
    }
  }
}

#address {
  // margin-left: 18.1%;
  margin-left: 250px;
  margin-top: 95px;
  width: 71.1%;
  display: flex;

  .left {
    flex-basis: 37%;

    h2 {
      font-family: 'SawarabiMincho-Regular';
      font-size: 32px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.47;
      letter-spacing: 1.6px;
      text-align: left;
      color: #221f20;
      margin-top: 22.7%;
    }

    p {
      font-family: 'NotoSansJP-Regular';
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: normal;
      text-align: left;
      color: #777777;
      padding-top: 0px;
      margin-bottom: 7%;
    }
  }

  .right {
    flex-basis: 58%;
    padding-top: 5.5%;
    margin-left: 10%;

    img {
      max-width: 730px;
      width: 100%;
    }
  }
}

#addressPhoto {
  // margin-left: 18.1%;
  margin-left: 250px;
  margin-top: 84px;
  width: 71.1%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 133px;


  .section-rap {
    width: 100%;

    .photo-rap {
      width: 60%;
      float: left;

      .below-photo {
        width: 27.6%;
        float: left;
        margin-right: 4.57%;

        img {
          width: 100%;
        }
      }
    }

    .address-txt-rap {
      width: 40%;
      // float: left;
      float: right;

      p {
        margin: 4% 0 0 3%;
        font-size: 16px;
        font-family: "NotoSansJP-Regular";
        color: #777777;
        line-height: 32px;
      }

    }
  }
}

#footer-part {
  position: relative;
  margin-top: -1px;

  .content {
    // margin-left: 17.9%;
    margin-left: 250px;
    margin-bottom: 1.12%;
    width: 64.6%;

    .copyright {
      font-family: "Roboto-Regular";
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 0.6px;
      text-align: left;
      color: #777777;
      padding-top: 12.6%;
    }
  }
}

.sp-top-menu {
  display: none;
}

.sp {
  display: none;
}

.pc {
  display: block;
}

@media only screen and (max-width: 1024px) {
  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  .left-meuu {
    display: none;
  }

  .back-to-up {
    display: none;
  }

  body,
  html {
    overflow-x: hidden;
  }

  /*Sp Nav Menu*/
  .sp-top-menu {
    width: 100%;
    display: block;
    position: fixed;

    .sp-menu-rap {
      padding: 19px 20px;

      .logo {
        float: left;
        width: 61.5%;
        ;

        img {
          width: 100%;
          max-width: 206px;
        }
      }

      .sp-nav {
        float: right;
        max-width: 36px;
        width: 100%;
        padding-top: 10px;

        .navline {
          width: 100%;
          height: 1.2px;
          background-color: #221f20;
          margin-bottom: 6px;

          &:nth-child(2) {}
        }
      }
    }
  }

  /*
banner section
*/
  #banner-section {
    margin-top: -65px;

    .top-section {
      display: block;

      .left-section {
        width: 100%;
        position: relative;
        z-index: 0;
      }

      .right-section {
        margin-left: 0;
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

  }

  #trail-class {
    position: relative;
    margin-top: 0;
    background: url(../images/trial/sp/bg.jpg);
    background-position: 39px 233px;
    background-repeat: no-repeat;
    background-size: 89.5%;
    display: block;
    z-index: -1;

    h1 {
      font-family: PlayfairDisplay-Regular;
      font-size: 64px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1;
      letter-spacing: 3.2px;
      text-align: left;
      color: #f4f4f4;
      margin-top: 2.7%;
    }

    h2 {
      font-family: SawarabiMincho-Regular;
      font-size: 28px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 2px;
      text-align: left;
      color: #221f20;
      margin: 0;
      width: 89%;
      position: relative;
      top: -72px;
      margin: 0 auto;
    }

    h3 {
      margin-left: 5%;
      margin-top: -28px;
      font-size: 18px;
    }

    p {
      font-family: NotoSansJP-Regular;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: 0.7px;
      text-align: left;
      color: #777777;
      margin: 0 auto;
      width: 89.5%;
      position: relative;
      max-width: none;
    }

    .bg {
      background: #fafafa;
      padding: 115px;
      width: 470px;
      margin: -192px 0 0 31%;
    }
  }

  #student-voice {
    margin: 83px 0 0 0;

    .top {
      margin-left: 0;
      margin-bottom: 3.7%;
      width: 89.5%;
      margin: 0 auto;

      h2 {
        font-family: SawarabiMincho-Regular;
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.45;
        letter-spacing: 1px;
        text-align: left;
        color: #221f20;
        margin-bottom: 19px;
      }

      p {
        font-family: NotoSansJP-Regular;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.7px;
        text-align: left;
        color: #777777;
      }
    }

    .nav {
      margin-left: 0;
      width: 89.5%;
      margin: 0 auto;

      ul {
        margin: 30px 0 0 0;
        padding: 0;
        display: flex;

        li {
          list-style: none;
          margin-right: 7px;
          flex-basis: 47.7%;

          a {
            font-family: NotoSansJP-Regular;
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.25;
            letter-spacing: 0.8px;
            text-align: left;
            color: #c3c3c3;
            border-bottom: 5px solid #f4f4f4;
            text-decoration: none;
            padding: 0 0 10px 10px;
            text-align: center;
            display: block;

            img {
              width: 11px;
              margin-left: 9px;
              margin-right: 4px;
            }
          }

          a.active {
            color: #221f20;
            border-bottom: 5px solid #1d2d44;
          }
        }

        li:nth-child(2) {
          margin-right: 0;
          margin-left: 9px;

          a {
            padding: 0 0px 10px 0px;

            img {
              margin-left: 7px;
            }
          }
        }
      }
    }

    .student-class {
      margin-top: 51px;
      background: none;

      h2 {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: 1px;
        text-align: left;
        color: #221f20;
        width: 89.5%;
        margin: 0 auto 21px auto;

        img {
          width: 21px;
          margin-right: 10px;
          position: relative;
          top: -3.5px;
          left: .5px;
        }
      }

      .voice {
        display: flex;
        margin-bottom: 17px;
        flex-direction: column;

        .left {
          flex-basis: 45%;
          margin-right: 0;
          margin-left: 0;
          width: 89.5%;
          margin: 0 auto;
        }

        .right {
          flex-basis: 55%;
          margin-top: 0.36%;
        }

        img {
          width: 100%;
        }

        h6 {
          font-family: Roboto;
          font-size: 12px;
          font-weight: 900;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.33;
          letter-spacing: 0.6px;
          text-align: left;
          color: #221f20;
          margin-top: 20px;
          margin-left: 0px;
        }

        h5 {
          font-family: NotoSansJP-Regular;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.8px;
          text-align: left;
          color: #221f20;
          margin-top: 12px;
        }

        h4 {
          font-family: NotoSansJP-Regular;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 1.3px;
          text-align: left;
          color: #221f20;
          margin-top: 1px;
          margin-bottom: 17px;
        }

        p {
          font-family: NotoSansJP-Regular;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.7px;
          text-align: left;
          color: #777777;
        }
      }

      .voice:nth-child(odd) {
        flex-direction: column;
        margin-bottom: 21px;

        .left {
          margin-left: 0;
          flex-basis: 55%;
          margin-right: 0;
          width: 89.5%;
          margin: 0 auto;

          h6 {
            margin-left: 0;
            margin-top: 20px;
          }

          h5 {
            margin-left: 0px;
            margin-top: 12px;
          }

          h4 {
            margin-left: 0;
            margin-top: 1px;
            margin-bottom: 17px;
          }

          p {
            margin-left: 0;
          }
        }

        .right {
          flex-basis: 65.6%;
          margin-top: 1.2%;
          margin-right: 0;
        }
      }
    }
  }

  #business-voice {
    margin: 73px 0 0 0;
    margin-left: 0%;

    .student-class {
      margin-top: 51px;
      background: none;

      h2 {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.4;
        letter-spacing: 1px;
        text-align: left;
        color: #221f20;
        width: 89.5%;
        margin: 0 auto 21px auto;

        img {
          width: 21px;
          margin-right: 10px;
          position: relative;
          top: -2.5px;
          left: .5px;
        }
      }

      .voice {
        display: flex;
        margin-bottom: 17px;
        flex-direction: column;

        .left {
          flex-basis: 45%;
          margin-right: 0;
          margin-left: 0;
          width: 89.5%;
          margin: 0 auto;
        }

        .right {
          flex-basis: 55%;
          margin-top: 0.36%;
        }

        img {
          width: 100%;
        }

        h6 {
          font-family: Roboto;
          font-size: 12px;
          font-weight: 900;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.33;
          letter-spacing: 0.6px;
          text-align: left;
          color: #221f20;
          margin-top: 20px;
          margin-left: 0px;
        }

        h5 {
          font-family: NotoSansJP-Regular;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.8px;
          text-align: left;
          color: #221f20;
          margin-top: 12px;
        }

        h4 {
          font-family: NotoSansJP-Regular;
          font-size: 16px;
          font-weight: bold;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 1.3px;
          text-align: left;
          color: #221f20;
          margin-top: 1px;
          margin-bottom: 17px;
        }

        p {
          font-family: NotoSansJP-Regular;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2;
          letter-spacing: 0.7px;
          text-align: left;
          color: #777777;
        }
      }

      .voice:nth-child(odd) {
        flex-direction: column-reverse;
        margin-bottom: 21px;

        .left {
          margin-left: 0;
          flex-basis: 55%;
          margin-right: 0;
          width: 89.5%;
          margin: 0 auto;

          h6 {
            margin-left: 0;
            margin-top: 20px;
          }

          h5 {
            margin-left: 0px;
            margin-top: 12px;
          }

          h4 {
            margin-left: 0;
            margin-top: 1px;
            margin-bottom: 17px;
          }

          p {
            margin-left: 0;
          }
        }

        .right {
          flex-basis: 65.6%;
          margin-top: 1.2%;
          margin-right: 0;
        }
      }
    }
  }

  #next-class {
    position: relative;
    margin-top: 64px;
    margin-left: 0;
    background: url(../images/trial/sp/bg2@2x.jpg);
    background-repeat: no-repeat;
    background-size: 83.2%;
    background-position: right 112px;

    h1 {
      font-family: "PlayfairDisplay-Regular";
      font-size: 100px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.33;
      letter-spacing: 5px;
      text-align: left;
      color: #f4f4f4;
      width: 89.5%;
      margin: 0 auto;
    }

    .right-section {
      margin-left: 0px;
      opacity: 1;
      display: flex;
      margin-top: 0;
      padding-bottom: 20px;

      .content {
        width: 89.5%;
        margin: 0 auto;

        .next-class {
          width: 100%;

          .image {
            float: left;
            width: 19px;
            margin-left: 2px;
            position: relative;
            top: -1px;

            img {
              width: 21px;
              margin-right: 10px;
              position: relative;
              top: 1px;
              left: -2px;
            }
          }

          .title {
            font-size: 19px;
            font-family: "Roboto";
            color: #221f20;
            margin-left: 37px;
            letter-spacing: 1.5px;
            position: relative;
            top: -2px;

            p {
              font-family: Roboto;
              font-size: 20px;
              font-weight: 900;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.4;
              letter-spacing: 1px;
              text-align: left;
              color: #221f20;
            }
          }
        }

        .class-list {
          margin: 42px 0 0 0;

          .class-detail {
            background: #fff;
            border-left: 4px solid #221f20;
            float: left;
            margin: 0px 0px 26px 0px;
            padding-bottom: 21px;

            .inner-content {
              margin-left: 30px;
              padding-top: 7px;
              display: flex;
              flex-direction: column;

              .left-part {
                width: 83%;
                flex-basis: 83%;
                float: none;

                .title {
                  font-family: "NotoSansJP-Regular";
                  font-size: 16px;
                  font-weight: 500;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.63;
                  letter-spacing: 0.8px;
                  text-align: left;
                  color: #221f20;
                  width: 63%;
                }

                .description {
                  font-size: 12px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 2;
                  letter-spacing: 0.6px;
                  text-align: left;
                  color: #777777;

                  p {
                    margin: 0;
                    padding: 11px 0px 0px 0px;
                  }
                }
              }

              .arrow-part {
                width: 240px;
                margin-left: 14px;
                margin-top: 2px;
                flex-basis: 24.8%;
                float: none;

                .btn-detail {


                  a {
                    font-family: "NotoSansJP-Regular";
                    color: #1d2d44;
                    border: solid 2px #1d2d44;
                    text-decoration: none;
                    display: block;
                    text-align: center;
                    position: relative;
                    -webkit-transition: all .3s;
                    transition: all .3s;
                    padding: 8px 0;
                    letter-spacing: 0.4px;
                    font-size: 14px;
                    font-weight: 500;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: 1.43;
                    letter-spacing: 0.7px;
                    text-align: center;
                    color: #221f20;


                    img {
                      width: 16px;
                      position: absolute;
                      margin-left: 9%;
                      margin-top: 5px;
                    }
                  }

                  a:hover {
                    color: #fff;
                    background: #1d2d44;
                  }
                }
              }
            }

          }
        }
      }
    }
  }

  #address {
    margin-left: 0;
    margin-top: 87px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;

    h2 {
      font-family: 'SawarabiMincho-Regular';
      font-size: 20px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.45;
      letter-spacing: 1px;
      text-align: left;
      color: #221f20;
      width: 89.5%;
      margin: 0 auto;
    }

    img {
      max-width: 1024px;
      width: 100%;
      margin-top: 23px;
      margin-bottom: 14px;
    }

    .location {
      width: 89.5%;
      margin: 0 auto;

      p {
        font-family: 'NotoSansJP-Regular';
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 2;
        letter-spacing: 0.7px;
        text-align: left;
        color: #777777;
        margin: 0px 0 16px 0;
      }
    }
  }

  #addressPhoto {
    margin-left: 0;
    margin-top: 35px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 100px;


    .section-rap {
      width: 100%;
      margin: 0 auto;

      .photo-rap {
        width: 100%;
        float: none;

        .below-photo {
          width: 31.8%;
          float: left;
          margin-right: 2.3%;

          img {
            width: 100%;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .address-txt-rap {
        width: 90%;
        float: none;
        margin: 0 auto;
        padding-top: 27px;

        p {
          margin: 4% 0 0 0;
          font-size: 16px;
          font-family: "NotoSansJP-Regular";
          color: #777777;
          line-height: 32px;

          br {
            &:nth-child(2) {
              display: none;
            }

          }
        }

      }
    }
  }

  #footer-part {
    position: relative;
    margin-top: 101px;

    .content {
      width: 89.5%;
      margin: 0 auto 1.12% auto;

      .copyright {
        font-family: "Roboto-Regular";
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: 0.6px;
        text-align: left;
        color: #777777;
        padding-top: 30px;
        padding-bottom: 10px;
        text-align: center;
      }
    }
  }
}
