<div class="left-section">
  <div class="header-logo"> <a href="../"> <img class="logo" src="../images/header_logo@2x.png" alt=""></a>
  </div>
  <div class="menu-section">
    <ul class="mtop">
      <li data-link="about"><a href="../about/">merc Educationについて</a></li>
      <li data-link="mission"><a href="../mission/">ミッション</a></li>
      <li data-link="event"><a href="../event/">体験クラス</a></li>
      <li data-link="contact"><a href="../contact/">お問い合わせ</a></li>
    </ul>
    <ul class="middle">
      <li>
        <a href="https://www.facebook.com/mercedcation/" target="_blank" ><img class="social-fb" src="../images/fb_icon@2x.png"></a>
        <a href="https://twitter.com/merc_in" target="_blank" ><img class="social-twitter" src="../images/twitter_icon@2x.png"></a>
      </li>
      <li>#mercedu</li>
    </ul>
  </div>
  <div class="experience-section">
    <a href="../event/">
      <div class="text-section">
        <div class="top-title">体験クラス</div>
        <div class="middle-title">参加者募集中！</div>
        <div class="bottom-title">
          <div class="text">詳細はこちらから</div>
          <div class="detail-image"><img src="../images/yellow_next_btn@2x.jpg"></div>
        </div>
      </div>
    </a>
  </div>
  <div class="bottom">
    <ul>
      <li><a href="../company/">COMPANY</a></li>
      <li><a href="../privacypolicy/">PRIVACT POLICY</a></li>
    </ul>
  </div>
</div>
