<!-- SP NAv -->
<div id="sp-main-nav" class="sp-main-nav">
  <div class="sp-menu-logo-icon cleafix">
    <div class="sp-menu-rap clearfix">
      <div class="logo"><a href="../"> <img src="../images/sp/header_logo@2x.png" alt="logo"></a></div>
      <div class="sp-nav-close clearfix">
        <div class="navline"></div>
        <div class="navline"></div>
      </div>
    </div>
  </div>
  <div class="menu-section">
    <ul>
      <li><a href="../about/">merc Educationについて</a></li>
      <li><a href="../mission/">ミッション</a></li>
      <li><a href="../event/">体験クラス</a></li>
      <li><a href="../contact/">お問い合わせ</a></li>
    </ul>
    <ul class="middle">
      <li>
        <a class="social-fb" href="https://www.facebook.com/mercedcation/" target="_blank" ><img src="../images/fb_icon@2x.png"></a>
        <a class="social-twitter" href="https://twitter.com/merc_in" target="_blank" ><img src="../images/twitter_icon@2x.png"></a>
      </li>
      <li>#mercedu</li>
    </ul>
  </div>
  <div class="experience-section">
    <a href="../event/">
      <div class="text-section">
        <div class="top-title">体験クラス</div>
        <div class="middle-title">参加者募集中！</div>
        <div class="bottom-title">
          <div class="text">詳細はこちらから</div>
          <div class="detail-image"> <a href=""><img src="../images/yellow_next_btn@2x.jpg"></a></div>
        </div>
      </div>
    </a>
  </div>
  <div class="menu-section-bottom">
    <a href="../company/">COMPANY</a>
    <a href="../privacypolicy/">PRIVACT POLICY</a>
  </div>
</div>
<!-- END SP NAv -->
